<?php
/**
 * default.phtml
 *
 * @copyright Copyright © 2018 HeadWay. All rights reserved.
 * @author    ilya.kush@gmaul.com.com
 */
?>
<?php
/**
 * @var \HW\WebsiteSwitcher\Block\Switcher $block
 * @var \Magento\Framework\View\TemplateEngine\Php $this
 */
?>
<?php $websitesData = $block->getWebsitesData(); ?>

<?php if ($websitesData): ?>
	<?php if (false): ?><div data-bind="scope: 'hw_websiteswitcher_popup'"><a href="#" id="click-header" data-bind="click: openPopup" >View Video</a></div><?php endif; ?>
<div id="hw_websiteswitcher-modal" style="display:none;">
	<div class="hw_websiteswitcher-wrapper">
	<?php foreach ($websitesData as $id => $websiteData): ?>
		<a href="<?= $websiteData['url'] ?>" class="action primary"><?= $websiteData['name'] ?></a>
	<?php endforeach; ?>
	<div class="hw_websiteswitcher-note" ><?php echo __('Note: The action empties your basket and you have to log in again.'); ?></div>
	</div>
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "hw_websiteswitcher_popup": {
                        "component":        "HW_WebsiteSwitcher/js/popup",
                        "title":            "<?= /* @escapeNotVerified */ $block->getConfig('title');  ?>",
                        "modalClass":       "hw_websiteswitcher",
                        "elementId":        "#hw_websiteswitcher-modal"
                    }
                 }
            }
        }
    }
</script>
<?php endif; ?>





