.product.info.detailed{
	#description{
		.see-less, .see-more{
			display:none;
			text-align: right;
		}
	}
	#description.see-more-enabled{
		.see-more{
			display:block;
		}		
		&.see-more-expanded{
			.product.attribute.description{
				height: auto;
				&::after {
					display:none;
				}
			}
			.see-more{
				display:none;
			}
			.see-less{
				display:block;
			}

		}
		.product.attribute.description{
			height: 400px;
			overflow: hidden;
			position:relative;
			&::after {
				content: ' ';
				background-image: linear-gradient(to bottom, transparent, white);
				height: 69px;
				bottom: 0px;
				position: absolute;
				display: block;
				width: 100%;
			}
		}
		
	}
}