<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var $block \Magento\CatalogInventory\Block\Stockqty\DefaultStockqty
 */
?>
<?php if ($block->isMsgVisible(true)): ?>
    <?php $_stockQtyLeft = $block->getStockQtyLeft(); ?>
    <?php $_stockStatusLabel = $block->getCustomStockStatus()?$block->getCustomStockStatus():__('Stocking'); ?>

    <?php if ($block->canConfigureProduct() || ($_stockQtyLeft <= 0)): ?>
        <?php //temporally hidden?>
<!--        <div class="availability " title="--><?//= /* @escapeNotVerified */ $_stockStatusLabel ?><!--">-->
<!--            --><?//= /* @escapeNotVerified */ $_stockStatusLabel ?>
<!--        </div>-->
    <?php else: ?>
<!--        <div class="availability --><?//= $block->getAvailabilityCssClass() ?><!--" title="--><?//= /* @escapeNotVerified */ __('%1 in stock', ($block->getStockQtyLeft())) ?><!--">-->
<!--            --><?//= /* @escapeNotVerified */ __('%1 <span class="items-label">items</span> in stock', $block->getStockQtyLeft()) ?>
<!--        </div>-->
    <?php endif; ?>

<?php endif ?>


<?php // start ?>
<?php // checking is or not in stock ?>
<?php
    $productId = $block->getProduct()->getID() ;
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $productStockObj = $objectManager->get('Magento\CatalogInventory\Api\StockRegistryInterface')->getStockItem($productId);
    $productStock = $productStockObj->getData();
?>
<?php //echo 'custom stock status'.$block->getProduct()->getData('stock_status_custom').'</br>';?>


<?php
    $_product = $block->getProduct();
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $StockState = $objectManager->get('\Magento\CatalogInventory\Api\StockStateInterface');
    $total_stock = 0;
    $total_stock_status_count = 0;
    $ss = '';
    if($_product->getTypeID() == 'configurable'){
        $productTypeInstance = $_product->getTypeInstance();
        $usedProducts = $productTypeInstance->getUsedProducts($_product);
            foreach ($usedProducts as $simple) {
                $total_stock += $StockState->getStockQty($simple->getId(), $simple->getStore()->getWebsiteId());
                    if ( $StockState->verifyStock($simple->getId(), $simple->getStore()->getWebsiteId()) ) {
                        $total_stock_status_count += 1;
                    }
            }

    }
?>

<?php // for configurable products?>

<?php if ( $block->getProduct()->getTypeId() == 'configurable' ) {?>
    <?php if ( $total_stock == 0 and $productStock['is_in_stock'] > 0 )
    {?>
        <?php if ( $block->getProduct()->getData('stock_status_custom') == '' and $total_stock_status_count == 0 ) {?>
        <div class="availability" > <?php echo str_repeat('&nbsp;', 1).('Ikke på lager');?></div>
    <?php }?>
        <?php if ( $block->getProduct()->getData('stock_status_custom') == '' and $total_stock_status_count > 0 ) {?>
        <div class="availability" > <?php echo str_repeat('&nbsp;', 1).('Levering 1-3 dage');?></div>
    <?php }?>

    <?php } elseif ( $total_stock > 0 and $productStock['is_in_stock'] > 0 )
    {?>
        <div class="availability" > <?php echo str_repeat('&nbsp;', 1).('Levering 1-3 dage');?></div>
    <?php } else { ?>
        <div class="availability" > <?php echo str_repeat('&nbsp;', 1).('udsolgt');?></div>
    <?php }?>
<?php }?>

<?php // for others products ?>
<?php if ( $block->getProduct()->getTypeId() != 'configurable' ) {?>
    <?php if ( $block->getStockQtyLeft() == 0 and $productStock['is_in_stock'] > 0 )
    {?>
        <?php if ( $block->getProduct()->getData('stock_status_custom') == '' ) {?>
        <div class="availability" > <?php echo str_repeat('&nbsp;', 1).('Ikke på lager');?></div>
        <?php }?>
    <?php } elseif ( $block->getStockQtyLeft() > 0 and $productStock['is_in_stock'] > 0 )
    {?>
        <div class="availability" > <?php echo str_repeat('&nbsp;', 1).('Levering 1-3 dage');?></div>
    <?php } else { ?>
        <div class="availability" > <?php echo str_repeat('&nbsp;', 1).('udsolgt');?></div>
    <?php }?>
<?php }?>

<?php //check custom stock status?>
    <?php if ( $block->getProduct()->getData('stock_status_custom') ) {?>
        <span class="availability" > <?php echo $block->getProduct()->getData('stock_status_custom');?> </span>
    <?php }?>

<?php // end ?>




