<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var $block \Magento\CatalogInventory\Block\Stockqty\DefaultStockqty
 */
?>

<?php // checking is or not in stock ?>
<?php
$productId = $block->getProduct()->getID() ;
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$productStockObj = $objectManager->get('Magento\CatalogInventory\Api\StockRegistryInterface')->getStockItem($productId);
$productStock = $productStockObj->getData();
?>

<?php // for simple products ?>
<?php if ( $block->getProduct()->getTypeId() != 'configurable' ) {?>
    <?php if ( $block->getStockQtyLeft() > 0 and $productStock['is_in_stock'] > 0 ) {?>
        <?php if ( $block->getStockQtyLeft() > 300 ) {?>
            <div class="availability qty" > <?php echo str_repeat('&nbsp;', 1).('300+ på lager');?></div>
        <?php } else { ?>
            <div class="availability qty" > <?php echo str_repeat('&nbsp;', 1).('Kun ').$block->getStockQtyLeft().(' tilbage');?></div>
        <?php }?>
    <?php }?>
<?php }?>
<style>
    .product-info-wrapper .product-info-main .product-info-stock-sku .availability.only {
        display: none;
    }
</style>




