<?php

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Add to Cart'); ?>
<?php if ($_product->isSaleable()): ?>
    <div class="box-tocart">
        <div class="fieldset">
            <?php if ($block->shouldRenderQuantity()): ?>
                <div class="field qty">
                    <label class="label" for="qty"><span><?php /* @escapeNotVerified */ echo __('Qty') ?></span></label>

                    <div class="control" data-bind="scope: 'qty_change'">

                        <button id = "custom_minus" data-bind="click: decreaseQty">-</button>

                        <input data-bind="value: qty()"
                               type="number"
                               name="qty"
                               id="qty"
                               value="<?= $block->getProductDefaultQty() * 1 ?>"
                               maxlength="12"
                               title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty"
                               data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                            />

                        <button id = "custom_plus" data-bind="click: increaseQty">+</button>

                    </div>
                </div>
                <script type="text/x-magento-init">
                    {
                        "*": {
                            "Magento_Ui/js/core/app": {
                                "components": {
                                    "qty_change": {
                                        "component" : "HW_QtyIncrementors/js/view/product/view/qty_change",
                                        "defaultQty": <?php echo $block->getProductDefaultQty() * 1 ?>,
                                        "stepQty"   : <?php echo $this->helper('HW\QtyIncrementors\Helper\Data')->getProductQtyIncrements($_product) * 1 ?>
                                    }
                                 }
                            }
                        }
                    }
                </script>
            <?php endif; ?>
            <div class="actions">
                <button type="submit"
                        title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>"
                        class="action primary tocart"
                        id="product-addtocart-button">
                    <span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
                </button>
                <?php echo $block->getChildHtml('', true) ?>
            </div>
        </div>
    </div>
<?php endif; ?>
<?php if ($block->isRedirectToCartEnabled()) : ?>
    <script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<?php else : ?>
    <script>
        require([
            'jquery',
            'mage/mage',
            'Magento_Catalog/product/view/validation',
            'Magento_Catalog/js/catalog-add-to-cart'
        ], function ($) {
            'use strict';

            $('#product_addtocart_form').mage('validation', {
                radioCheckboxClosest: '.nested',
                submitHandler: function (form) {
                    var widget = $(form).catalogAddToCart({
                        bindSubmit: false
                    });

                    widget.catalogAddToCart('submitForm', $(form));

                    return false;
                }
            });
        });
    </script>
<?php endif; ?>

<?php //start message if in stock and qty <= 0 or qty 0 on product page?>
<?php
$productId = $_product->getId() ;
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$productStockObj = $objectManager->get('Magento\CatalogInventory\Api\StockRegistryInterface')->getStockItem($productId);
$productStock = $productStockObj->getData();
?>

<?php if ($productStock) {?>
    <?php // if product have custom status?>
    <?php if ( $block->getProduct()->getData('stock_status_custom') == '' ) {?>

    <?php // only for lagerførende?>
    <?php if ( (int)$productStock['is_in_stock'] == 1 and $productStock['type_id'] == 'simple' ) {?>
        <div class="cart item message notice" id = "custom_stock_qty" style = "display: none;">
            <div><?php echo 'Vi har færre på lager end det antal '.'"'.$_product->getName().'"'.' du ønsker. Vi bestiller de resterende hjem hurtigst muligt. Din ordre vil blive sendt samlet i løbet af ca. 14 dage. Ønsker du lagervarer afsendt først, bedes du bestille af to omgange.'; ?></div>
        </div>
    <?php }?>

    <?php // only for Ikke på lager?>
    <?php if ( (int)$productStock['is_in_stock'] == 1 and $productStock['type_id'] == 'simple' and (int)$productStock['qty'] <= 0 ) {?>
        <div class="cart item message notice" id = "custom_stock_qty_">
            <div><?php echo 'Vi har færre på lager end det antal '.'"'.$_product->getName().'"'.' du ønsker. Vi bestiller de resterende hjem hurtigst muligt. Din ordre vil blive sendt samlet i løbet af ca. 14 dage. Ønsker du lagervarer afsendt først, bedes du bestille af to omgange.'; ?></div>
        </div>
    <?php }?>

    <?php }?>
<?php }?>
<?php //end message?>

<script>
    require(['jquery', 'jquery/ui'], function($){
        jQuery(window).load(function() {

            setTimeout(explode_idpc_button_plus, 500);
            function explode_idpc_button_plus() {

                jQuery("#custom_plus").click(function () {

                    // qty in cart
                    var custom_qty = $('#qty').attr('value') ;

                    // qty in stock
                    var custom_stock_qty = parseInt('<?php echo $productStock['qty']; ?>');

                    if ( custom_qty > custom_stock_qty ) {
                         jQuery("#custom_stock_qty").css({"display": "block"});
                        jQuery("#custom_stock_qty_").css({"display": "none"});
                    };
                });
            };

            setTimeout(explode_idpc_button_plus, 1500);
            function explode_idpc_button_plus() {

                jQuery("#custom_plus").click(function () {

                    // qty in cart
                    var custom_qty = $('#qty').attr('value') ;

                    // qty in stock
                    var custom_stock_qty = parseInt('<?php echo $productStock['qty']; ?>');

                    if ( custom_qty > custom_stock_qty ) {
                        jQuery("#custom_stock_qty").css({"display": "block"});
                        jQuery("#custom_stock_qty_").css({"display": "none"});
                    };
                });
            };

            setTimeout(explode_idpc_button_plus, 2500);
            function explode_idpc_button_plus() {

                jQuery("#custom_plus").click(function () {

                    // qty in cart
                    var custom_qty = $('#qty').attr('value') ;

                    // qty in stock
                    var custom_stock_qty = parseInt('<?php echo $productStock['qty']; ?>');

                    if ( custom_qty > custom_stock_qty ) {
                        jQuery("#custom_stock_qty").css({"display": "block"});
                        jQuery("#custom_stock_qty_").css({"display": "none"});
                    };
                });
            };
        });
    });
</script>

<script>
    require(['jquery', 'jquery/ui'], function($){
        jQuery(window).load(function() {

            setTimeout(explode_idpc_button_minus, 500);
            function explode_idpc_button_minus() {
                jQuery("#custom_minus").click(function () {
                    // qty in cart
                    var custom_qty = $('#qty').attr('value') ;

                    // qty in stock
                    var custom_stock_qty = parseInt('<?php echo $productStock['qty']; ?>');

                    if ( custom_qty < custom_stock_qty ) {
                        jQuery("#custom_stock_qty").css({"display": "none"});
                    };
                });
            };

            setTimeout(explode_idpc_button_minus, 1500);
            function explode_idpc_button_minus() {
                jQuery("#custom_minus").click(function () {
                    // qty in cart
                    var custom_qty = $('#qty').attr('value') ;

                    // qty in stock
                    var custom_stock_qty = parseInt('<?php echo $productStock['qty']; ?>');

                    if ( custom_qty < custom_stock_qty ) {
                        jQuery("#custom_stock_qty").css({"display": "none"});
                    };
                });
            };


            setTimeout(explode_idpc_button_minus, 2500);
            function explode_idpc_button_minus() {
                jQuery("#custom_minus").click(function () {
                    // qty in cart
                    var custom_qty = $('#qty').attr('value') ;

                    // qty in stock
                    var custom_stock_qty = parseInt('<?php echo $productStock['qty']; ?>');

                    if ( custom_qty < custom_stock_qty ) {
                        jQuery("#custom_stock_qty").css({"display": "none"});
                    };
                });
            };


        });
    });
</script>

<script>
    require(['jquery', 'jquery/ui'], function($){
        jQuery(window).load(function() {

            setTimeout(explode_idpc_input_qty, 500);
            function explode_idpc_input_qty() {
                jQuery("#qty").change(function () {
                // qty in cart
                var custom_qty = $('#qty').attr('value') ;

                // qty in stock
                var custom_stock_qty = parseInt('<?php echo $productStock['qty']; ?>');

                    if ( custom_qty > custom_stock_qty ) {
                        jQuery("#custom_stock_qty").css({"display": "block"});
                        jQuery("#custom_stock_qty_").css({"display": "none"});
                     } else {
                        jQuery("#custom_stock_qty").css({"display": "none"});
                    };

                });
            };

            setTimeout(explode_idpc_input_qty, 1500);
            function explode_idpc_input_qty() {
                jQuery("#qty").change(function () {
                    // qty in cart
                    var custom_qty = $('#qty').attr('value') ;

                    // qty in stock
                    var custom_stock_qty = parseInt('<?php echo $productStock['qty']; ?>');

                    if ( custom_qty > custom_stock_qty ) {
                        jQuery("#custom_stock_qty").css({"display": "block"});
                        jQuery("#custom_stock_qty_").css({"display": "none"});
                    } else {
                        jQuery("#custom_stock_qty").css({"display": "none"});
                    };

                });
            };



            setTimeout(explode_idpc_input_qty, 2500);
            function explode_idpc_input_qty() {
                jQuery("#qty").change(function () {
                    // qty in cart
                    var custom_qty = $('#qty').attr('value') ;

                    // qty in stock
                    var custom_stock_qty = parseInt('<?php echo $productStock['qty']; ?>');

                    if ( custom_qty > custom_stock_qty ) {
                        jQuery("#custom_stock_qty").css({"display": "block"});
                        jQuery("#custom_stock_qty_").css({"display": "none"});
                    } else {
                        jQuery("#custom_stock_qty").css({"display": "none"});
                    };

                });
            };
        });
    });
</script>
