<?php
/**
 * datablad
 *
 * @copyright Copyright © 2019 HeadWay. All rights reserved.
 * @author    ilya.kush@gmail.com
 */
?>

<?php
/**
 * @var \Jyske\DatabladAttachment\Block\Catalog\Product\Button $this
 */

/**
 * @var \Amasty\ProductAttachment\Model\ResourceModel\File\Collection $customerFiles
 */
$attachmentCollection = $this->getAttachmentCollection();
$codeWord = $this->getCodeWord();
?>

<div class="data-sheet-box">
	<?php foreach ($attachmentCollection as $file) : ?>
		<?php  if(strpos(strtolower($file->getFileName()),$codeWord)!== false): ?>
            <?php
            /**
             * @var \Amasty\ProductAttachment\Model\File $file
             */

            ?>
			<a class='abs-action-link-button data-sheet' href="<?php echo $this->getDownloadUrl($file)?>" target="_blank">
				<span><?= __("Data Sheet")?></span>
			</a>
		<?php endif; ?>
	<?php endforeach ?>
</div>
