<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_ProductAttachment
 */
?>

<?php
/**
 * @var \Amasty\ProductAttachment\Block\Catalog\Product\Attachment $this
 */

/**
 * @var \Amasty\ProductAttachment\Model\ResourceModel\File\Collection $customerFiles
 */
$attachmentCollection = $this->getAttachmentCollection();
?>

<div class="amasty-product-attachment-block">

        <h3 class="label"><?php echo $this->getBlockLabel()?></h3>

        <ul class="list-unstyled">
            <?php foreach ($attachmentCollection as $file) : ?>

	            <?php if(strpos($file->getFileName(),'!WARNING! Need to add word here')!== false): continue; ?> <?php endif; ?>

	            <?php
                /**
                 * @var \Amasty\ProductAttachment\Model\File $file
                 */
                ?>
                <li>
                    <a class='file' href="<?php echo $this->getDownloadUrl($file)?>" target="_blank">
                        <?php if ($icon = $file->getIconUrl()) : ?>
                            <img
                                    src="<?php echo $this->escapeHtml($icon) ?>"
                                    alt="<?php echo $this->escapeHtml($file->getFileExtension()) ?>"
                            />
                        <?php endif?>
                        <span><?php echo $file->getLabel()?>
                            <?php if ($size = $file->getFileSize() > 0) : ?>
                                (<?php echo $file->getFullFileSize();?>)
                            <?php endif;?>
                        </span>
                    </a>
                </li>
            <?php endforeach ?>
        </ul>
</div>
