<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

?>
<?php /** @var $block \Magento\Checkout\Block\Onepage\Success */ ?>
<div class="checkout-success">
    <?php if ($block->getOrderId()) :?>
        <?php if ($block->getCanViewOrder()) :?>
            <p><?= $block->escapeHtml(__('Your order number is: %1.', sprintf('<a href="%s" class="order-number"><strong>%s</strong></a>', $block->escapeUrl($block->getViewOrderUrl()), $block->getOrderId())), ['a', 'strong']) ?></p>
        <?php  else :?>
            <p><?= $block->escapeHtml(__('Your order # is: <span>%1</span>.', $block->getOrderId()), ['span']) ?></p>
        <?php endif;?>
            <p><?= $block->escapeHtml(__('We\'ll email you an order confirmation with details and tracking info.')) ?></p>
    <?php endif;?>

    <?= $block->getAdditionalInfoHtml() ?>

    <div class="actions-toolbar">
        <div class="primary">
            <a class="action primary continue" href="<?= $block->escapeUrl($block->getContinueUrl()) ?>"><span><?= $block->escapeHtml(__('Continue Shopping')) ?></span></a>
        </div>
    </div>
</div>


<!--  custom code implement GA4 -->
<?php
$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
$order_details = $objectManager->create('Magento\Sales\Model\Order')->loadByIncrementId($block->getOrderId());
$orderId = $block->getOrderId(); //Order Id
$total = $order_details->getSubtotal(); //subtotal without tax and shipping

$orderItems = [];


foreach ($order_details->getAllItems() as $item) {

    // product category
    $product = $objectManager->create('Magento\Catalog\Model\Product')->load($item->getProductId());
    $categoryIds = $product->getCategoryIds();

    //check if exists category
    $product_category_name = '';
    if ( count($categoryIds) > 1 ) {
        foreach($categoryIds as $category) {
            $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
            $product_category_name = $product_category_name . $cat->getName() . ' / ';
        }
    } elseif ( count($categoryIds) == 1 ) {
        foreach($categoryIds as $category) {
            $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
            $product_category_name = $cat->getName();
        }
    }

    $orderItems[] = [
        'item_name' => $item->getData('name'),
        'item_id'   => $item->getData('sku'),
        'price'     => number_format($item->getData('price_incl_tax'), 2, '.', ''),
        'item_brand'   => $product->getAttributeText('brand'),
        'item_category'   => $product_category_name,
        'item_variant'   => $product->getAttributeText('farve'),
        'quantity'  => intval($item->getData('qty_ordered'))
    ];
}

$coupon = !empty($order_details->getCouponCode())?"'coupon': '".$order_details->getCouponCode()."',":'';
?>

<script>
    dataLayer.push({ ecommerce: null });  // Clear the previous ecommerce object.
    dataLayer.push({
        event: "purchase",
        ecommerce: {
            transaction_id: "<?= $order_details->getIncrementId(); ?>",
            affiliation: "Online Store",
            value: "<?= number_format($order_details->getSubTotal(), 2, '.', ''); ?>",
            tax: "<?= number_format($order_details->getBaseTaxAmount(), 2, '.', ''); ?>",
            shipping: "<?= number_format($order_details->getBaseShippingInclTax(), 2, '.', ''); ?>",
            currency: "<?= $order_details->getBaseCurrencyCode(); ?>",
            coupon: "<?= $coupon; ?>",
            items: <?= json_encode($orderItems) ?>
        }
    });
    console.log (dataLayer);
</script>

