body {
    font-family: Verdana, Geneva, sans-serif;;
}

.am-container {
    & {
        width: 100%;
        max-width: 600px;
        overflow: hidden;
    }

    .container {
        & {
            width: 100%;
            max-width: 600px;
            overflow: hidden;
        }

        &.am-old-style {
            border: 1px solid #FFA453;
            border-radius: 12px;
        }
    }

    .banner.backgr-color {
        & {
            max-height: 76px;
            background-color: #FFA453;
        }

        div {
            height: 76px;
            max-height: 76px;
        }
    }

    .table-head .head {
        & {
            padding: 10px 20px 10px 20px;
        }

        .am-name-18pt {
            font-size: 18pt;
        }

        .am-coupon {
            border: 1px solid #E0E0E0;
            background-color: #f9f9f9;
        }
    }

    .am-fullwidth {
        width: 100%;
    }

    .product-image {
        padding: 20px 10px 20px 20px;
        width: 100px;
        height: 100px;
    }

    .product-text {
        & {
            padding: 20px 20px 20px 10px;
        }

        .name {
            & {
                font-weight: 600;
                color: black;
            }

            a {
                color: #000;
            }
        }
    }

    .product-price {
        font-size: 18pt;
        color: #FFA453;
    }

    .name {
        font-size: 16pt;
    }

    .main {
        & {
            max-width: 600px;
        }

        .main-content {
            padding: 0;
        }
    }

    .contact {
        font-size: 12pt;
    }

    .am-separator-old {
        margin: 0;
        border: 0;
        border-top: 1px dashed #FFA453;
    }

    .am-table-template-old {
        & {
            padding: 15px;
            border: 1px solid #E0E0E0;
            background: #F9F9F9;
        }

        .am-product-image {
            border: 1px solid #ccc;
        }

        .am-product-name {
            color: #203548;
        }
    }

    .contact-img {
        position: relative;
        top: 4px;
    }
}

.text-align {
    &.-left {
        text-align: left;
    }

    &.-right {
        text-align: right;
    }

    &.-center {
        text-align: center;
    }
}

.am-product-description-text {
    font-size: 12px;
}

.am-top-logo-container {
    & {
        width: 600px;
        height: 123px;
        background-color: #fff;
    }

    .am-logo-wrapper {
        text-align: center;
        vertical-align: middle;
    }

    .am-top-logo {
        max-width: 250px;
        max-height: 100px;
    }
}

.am-head {
    padding: 24px 20px 22px 20px;
}

.am-email-body {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
}

.am-name {
    margin-bottom: 10px;
    font-size: 30px;
    color: #000;
}

.am-email-text {
    margin-bottom: 10px;
    font-size: 14px;
    color: #000;
}

.am-bottom-logo-container {
    & {
        vertical-align: middle;
    }

    .am-bottom-logo {
        max-width: 100%;
        max-height: 50px;
    }
}

.am-button-box {
    & {
        text-align: center;
    }

    .am-button {
        & {
            display: inline-block;
            margin: 30px;
            padding: 20px 51px;
            border-radius: 60px;
            box-shadow: 0 4px 15px #ccc;
            font-size: 18px;
            font-weight: bold;
            line-height: 21px;
            color: #fff;
            cursor: pointer;
        }

        &.blue {
            background-color: #159CE4;
        }

        &.orange {
            background-color: #FF9416;
        }

        &.red-orange {
            background-color: #EB5757;
        }

        &.red-pink {
            background-color: #FF164E;
        }

        &.green {
            background-color: #15B355;
        }

        &.red {
            background-color: #D43F3F;
        }
    }
}

.am-header {
    & {
        padding: 19px 10px 19px 21px;
        background-color: #ededed;
    }

    .am-text {
        font-size: 14px;
        line-height: 16px;
    }

    .am-mail a {
        color: #252525 !important;
        text-decoration: none !important;
    }

    .am-header-right {
        text-align: right;
    }

    .am-reply-link {
        & {
            color: #006bb4;
            text-decoration: none;
        }

        .am-reply {
            margin: 2px 0 0 11px;
            font-size: 14px;
            line-height: 16px;
            color: #828282;
        }

        .am-reply-arrow {
            width: 18px;
            height: 16px;
        }

    }
}

.am-main-content {
    padding: 0;
}

.am-table-header-container {
    padding: 10px 20px 0 21px;
}

.am-table-header {
    & {
        display: table;
        width: 100%;
        height: 121px;
        box-sizing: border-box;
        background-repeat: no-repeat;
        font-size: 30px;
        color: #fff;
    }

    .am-name {
        display: table-cell;
        vertical-align: middle;
        padding: 7px 0 0 16px;
        max-width: 350px;
        color: #fff;
    }
}

.am-christmas-template {
    .table-head {
        position: relative;
    }

    .am-elf-hat {
        float: right;
        width: 30%;
    }
}

.am-christmas2-template {
    .table-head {
        position: relative;
    }

    .am-santa-hat {
        float: right;
        width: 30%;
    }
}

.am-table-modern {
    & {
        width: 100%;
        max-width: 600px;
        background-color: #f9f9f9;
    }
    .am-product-div {
        display: inline-block;
        vertical-align: top;
        padding-bottom: 20px;
        width: 100%;
        max-width: 269px;
    }

    .am-description-wrapper,
    .am-title-wrapper {
        position: relative;
        vertical-align: top;
    }

    .am-price-wrapper {
        vertical-align: bottom;
    }

    .am-table-row {
        .am-table-maincolumn {
            padding: 0 20px;
        }
    }

    .am-product-container {
        & {
            display: block;
            width: 269px;
            height: 145px;
            padding: 15px;
            box-sizing: border-box;
            border-radius: 18px;
            box-shadow: rgb(217, 217, 217) 0 10px 15px;
            background-color: #fff;
        }

        .am-image-container {
            float: left;
            margin: 0;
        }
        .am-product-image {
            border-radius: 58px;
            box-shadow: rgb(217, 217, 217) 0 10px 19px;
        }

        .am-product-text {
            & {
                height: 115px;
            }

            p {
                margin: 0;
            }
        }

        .am-product-name {
            & {
                max-height: 52px;
                padding: 22px 0 0 0;
                font-size: 14px;
                font-weight: bold;
                color: #000;
                overflow: auto;
            }

            a {
                position: relative;
                color: #000;
            }
        }

        .am-product-price {
            & {
                color: #000;
            }

            .price {
                position: relative;
                font-size: 14px;
                text-decoration: line-through;
            }

            &.am-final-price {
                & {
                    color: #FF9416;
                }

                .price{
                    position: relative;
                    font-size: 26px;
                    font-weight: bold;
                    text-decoration: none;
                }
            }
        }
    }
}

.am-list-modern {
    & {
        margin: 0 20px;
        padding: 30px;
        background-color: #ededed;
    }

    .am-product-wrapper {
        text-align: left;
    }

    .am-product-left {
        & {
            display: inline-block;
            vertical-align: top;
            padding: 0 14px 14px 0;
            width: 100%;
            max-width: 118px;
            box-sizing: border-box;
        }

        .am-product-left-table {
            height: 100%;
            border-spacing: 0;
        }
    }

    .am-product-right {
        & {
            display: inline-block;
            padding-bottom: 14px;
            width: 100%;
            max-width: 375px;
            vertical-align: top;
        }

        .am-product-right-desc {
            & {
                display: inline-block;
                width: 65%;
                min-width: 245px;
            }

            .am-product-desc-table {
                height: 100%;
                border-spacing: 0;
                border-collapse: collapse;
            }
        }

        .am-product-right-button {
            & {
                display: inline-block;
                width: 33%;
                height: 104px;
                max-width: 125px;
                min-width: 100px;
                vertical-align: top;
            }

            .am-product-button-table {
                height: 100%;
                border-spacing: 0;
            }
        }
    }

    .product {
        width: 100%;
        height: 104px;
    }

    .am-product-text-container {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        display: block;
    }

    .am-product-image {
        width: 104px;
    }

    .am-product-text {
        & {
            width: 100%;
            height: 100%;
        }

        .am-product-name {
            & {
                font-size: 14px;
                font-weight: bold;
                color: #000;
                overflow: auto;
            }

            a {
                color: #000;
            }
        }

        .am-product-description {
            & {
                font-size: 14px;
                color: #828282;
                overflow: auto;
            }

            p {
                overflow: auto;
            }
        }

        .am-product-price {
            & {
                color: #000;
            }

            .price {
                position: relative;
                font-size: 14px;
                text-decoration: line-through;
            }

            &.am-final-price {
                & {
                    color: #FF9416;
                }

                .price{
                    position: relative;
                    font-size: 26px;
                    font-weight: bold;
                    text-decoration: none;
                }
            }
        }
    }

    .am-view {
        & {
            vertical-align: middle;
            width: 120px;
        }

        .am-viewlink-container {
            & {
                width: 100%;
                height: 72px;
                padding-left: 10px;
                border-left: 1px solid #cacaca;
            }

            td {
                vertical-align: middle
            }
        }

        .am-view-link {
            padding: 8px 14px 7px 14px;
            width: 100px;
            height: 30px;
            border: 1px solid #FF9416;
            box-sizing: border-box;
            border-radius: 30px;
            text-decoration: none;
            text-align: center;
            font-size: 14px;
            color: #FF9416;
        }
    }

    .am-list-wrapper {
        border: 0;
        border-top: 1px solid #cacaca;
        margin: 16px 0 30px 0;
    }
}

.am-footer {
    & {
        padding: 0 20px 0 14px;
        background-color: #ededed;
    }

    .am-footer-table td {
        width: 50%;
    }

    .am-bottom-logo {
        float: right;
    }

    .am-unsubscribe {
        & {
            float: left;
            margin: 35px 0;
            font-size: 12px;
            color: #828282;
        }

        .am-unsubscribe-link {
            color: #FFA453;
        }
    }
}

.email-body {
    .am-products-container {
        padding: 20px 0;
        background-color: #f9f9f9;
    }
}

.email-non-inline() {
    .am-button-box .am-button:hover {
        box-shadow: 0 4px 15px #909090 !important;
        text-decoration: none !important;
        color: #fff !important;
    }

    .am-button-box .am-button:visited {
        color: #fff !important;
    }

    .am-product-container {
        & {
            background-color: #fff;
        }
    }

    .am-list-wrapper:last-of-type {
        display: none;
    }

    .am-table-row:nth-last-child(1) .am-product-div:nth-last-child(1) .am-product-container {
        & {
            position: relative;
            overflow: hidden;
        }

        .am-final-price .price{
            color: #fff !important;
        }
    }

    .am-product-price .price{
        color: #000;
    }

    .am-product-price.am-final-price .price{
        color: #FF9416;
    }

    .am-table-row:nth-last-child(1) .am-product-div:nth-last-child(1) .am-product-container:before {
        position: absolute;
        top: 63px;
        right: -70px;
        display: block;
        width: 212px;
        height: 212px;
        content: "";
        background-color: #ff9416;
        border-radius: 106px;
    }

    .am-mail a:hover,
    .am-mail a:visited {
        color: #252525 !important;
        text-decoration: none !important;
    }
}
