<!--@subject {{trans "%store_name  Gift Card for You!"  store_name=$store.getFrontendName()}}@-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            {{depend email-to}} <p class="greeting">{{trans "%customer_name" customer_name=$email-to}},</p>{{/depend}}
            <p>
                {{trans "Du har modtaget et %amount Gavekort" amount=$amount |raw}} {{depend email-from}} {{trans " fra %email-from" email-from=$email-from}} {{/depend}} {{trans 'til <a href="%store_url" >' store_url=$this.getUrl($store,'/',[_nosid:1]) |raw}} {{trans "%store_name </a>" store_name=$store.getFrontendName() |raw}}.
            </p>
        </td>
    </tr>
    <tr>
        <td class="a-center">
		<center><img width="100%" src="{{var picture|raw}}" /></center>
	</td>
    </tr>
    <tr class="email-information">
	<td>
	        {{trans "Gavekortoplysninger"}}:<br />
                {{depend email-to}} {{trans "Til: %email-to" email-to=$email-to}}<br />{{/depend}}
                {{depend email-from}} {{trans "Fra: %email-from" email-from=$email-from}}<br />{{/depend}}
                {{depend email-message}} {{trans "Besked: "}}{{var email-message |nl2br}}<br />{{/depend}}
	        {{trans "Værdi på gavekort:"}}{{var amount |raw}}<br />
		{{trans "Kode til indløsning af gavekort: %code" code=$code}}<br />
	</td>
    </tr>
    <tr class="email-information">
        <td>{{trans '<a href="%store_url" >' store_url=$this.getUrl($store,'/',[_nosid:1]) |raw}} {{trans "Brug dit gavekort på webshoppen </a>ved at indtaste koden i indkøbskurven eller under betalingsmåde ved checkout" |raw}}.</td>
    </tr>
    <tr class="email-information">
	<td>
            <p>
                {{trans 'If you have questions about your order, you can email us at <a href="mailto:%store_email">%store_email</a>' store_email=$store_email |raw}}{{depend store_phone}} {{trans 'or call us at <a href="tel:%store_phone">%store_phone</a>' store_phone=$store_phone |raw}}{{/depend}}.
            </p>
	</td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
