<style>
.action.primary{
        width: 50%;
        line-height: 2.2rem;
        padding: 14px 17px;
        font-size: 1.8rem;
    }
</style>
<?php
    $product = $this->getProduct();
    $id = $product->getId();
    $sku = $product->getSku();
    $storeId = $product->getStoreId();
    $categoryId = $this->getCurrentCategoryId();
    $isAllowed = $this->getIsAllowed();
    $isEnable = $this->getIsEnable();
?>
<?php if($isAllowed && $isEnable == 1): ?>
<button type="button" class="action primary" onclick="window.open('<?php echo $this->getUrl('md_productpdf/index/generate',['product'=>$id,'store'=>$storeId,'category'=>$categoryId]) ?>','_blank');" title="<?php echo __('Print Product') ?>"><span><?php echo __('Print Product') ?></span></button>
<?php endif; ?>
