<div class="meter animate">
    <span id="progress" style="width: 1%"><span></span></span>
	<div id="link" style="margin-top: 20px;text-align:center;"><?php echo __('Wait product booklet is preparing.'); ?></div>
</div>
<script>
    require(['jquery','productPrintProgress'], function($){
        $(document).ready(function(){
           $('#progress').progressBar({'url':'<?php echo $this->getUrl('md_productpdf/index/progress').'?category=categories' ?>','waitLabel':'<?php echo __('Click Here To Download Catalog') ?>','pdf_generate_url':'<?php echo ($this->getRegistryUrl()) ? $this->getRegistryUrl() : 'no-url' ?>'}); 
        });
    });
</script>