	.energy-consume{
		.lib-tooltip(top);
		height: 28px;
		float: left;
	}
	

	.energy-consume .tooltip-content{
		padding:0;
		-webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.57);
		-moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.57);
		box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.57);
	}
	
	
	.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
		.product-info-main .energy-consume{
			.lib-tooltip(right);
		}
		
		.product-info-main{
			.energy-consume{
				text-align: left;
				float: right;
				.tooltip-action.action-energy {
					left: -7rem;
				}
				.tooltip-content{
					padding: 0;
					bottom: auto;
					left: 25px;
					&::after {    
						left: auto;
					}
					&::before {    
						left: auto;
					}
				}
			}
		}
	}

	.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
		.product-info-main .energy-consume{
			.lib-tooltip(top);
		}
		.product-info-main{
			.energy-consume{
				text-align: left;
				float: right;
				.tooltip-action.action-energy {
					left: -7rem;
				}
				.tooltip-content{
					padding: 0;
					left: auto;
					right: -2px;
					bottom: 11px;
					&::after {    
						left: auto;
						right: 20px;
					}
					&::before {    
						left: auto;
						right: 20px;
					}
				}
			}
		}
	}

	.tooltip-action.action-energy{	
		.energy-main{
			font-size: 18px;
		}
		.energy-suffix{
			font-size: 12px;
			vertical-align: super;
		}
		display: block;
		position: absolute;
		color: #fff;
		font-weight: bold;
		width: 42px;
		padding-left: 3px;
		left: 16px;
		line-height: 22px;
		height: 26px;
		top: 0px;
		&::before {
			position: absolute;
			border-right: solid 13px transparent;
			left: -13px;
			border-top: 13px solid transparent;
			border-bottom: 13px solid transparent;
			display: block;
			content: " ";
		}
	}
	
	.product-info-main{
		.tooltip-action.action-energy{	
			.energy-main{
				font-size: 3rem;
			}
			.energy-suffix{
				font-size: 2rem;
				vertical-align: super;
			}
			font-weight: bold;
			width: 7rem;
			padding-left: 3px;
			left: 2rem;
			line-height: 3.8rem;
			height: 4rem;
			top: 9px;
			&::before {
				border-right-width: 2rem;
				left: -2rem;
				border-top-width: 2rem;
				border-bottom-width: 2rem;
			}
		}
	}


	.tooltip-action.action-energy{
		&.action-energy-aaaa{background:#00a651;}
		&.action-energy-aaa{background:#50b848;}
		&.action-energy-aa{background:#bfd730;}
		&.action-energy-a{background:#fff200;}
		&.action-energy-b{background:#fdb913;}
		&.action-energy-c{background:#f37021;}
		&.action-energy-d{background:#ed1c24}
		&.action-energy-e{background:#ed1c24}
		&.action-energy-f{background:#ed1c24}
		&.action-energy-g{background:#ed1c24}
		&.action-energy-aaaa::before{border-right-color: #00a651;}
		&.action-energy-aaa::before{border-right-color: #50b848;}
		&.action-energy-aa::before{border-right-color: #bfd730;}
		&.action-energy-a::before{border-right-color: #fff200;}
		&.action-energy-b::before{border-right-color: #fdb913;}
		&.action-energy-c::before{border-right-color: #f37021;}
		&.action-energy-d::before{border-right-color: #ed1c24}
		&.action-energy-e::before{border-right-color: #ed1c24}
		&.action-energy-f::before{border-right-color: #ed1c24}
		&.action-energy-g::before{border-right-color: #ed1c24}
	}


	.cms-home{
		.owl-carousel .owl-stage-outer{
			overflow: visible;
		}
		.column.main{
			overflow: hidden;
		}
		.owl-prev::before {	
			left: 14px;
		}
		.owl-next::before {
			right: 15px;
		}
	}
	.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
		.product-info-main .energy-consume{
			margin-bottom:15px;
		}
	}
	
	.product-info-main  .tooltip-action.action-energy{
		left: -7rem;
	}