<!--@subject Christmas is here!(2)  @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var store.getFrontendName()":"Store Name",
"var history.getCouponCode()":"Coupon Code",
"var urlmanager.unsubscribeUrl()":"Unsubscribe Url",
"var customer.getName()":"Customer Name",
"var customer_group.getCustomerGroupCode()":"Customer: Group",
"var formatmanager.formatDate('customer', 'dob')":"Customer: Date Of Birth",
"var formatmanager.formatDate('customer', 'created_at')":"Customer: Registration Date",
"var customer_log.getInactiveDays()":"Customer: Inactive Days",
"var formatmanager.formatDate('customer_log', 'login_at')":"Customer: Last Login"
}
@-->
{{template config_path="amfollowup/emails/header_template"}}

<table class="container bord_color am-christmas2-template" cellpadding="0" cellspacing="0" border="0">
    <tr class="email-head">
        <td align="center" valign="top">
            <table class="table-head am-fullwidth" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td class="am-head">
                            <p class="am-name">{{trans "Dear %customer_name !" customer_name=$customer.getName()}}</p>
                            <p class="am-email-text">
                                <img class="am-santa-hat" src="{{view url='Amasty_Followup/images/Santa-Hat.png'}}" alt="Elf Hat">
                                {{trans "We know this is a busy time of year, but let us draw your mind from the fuss for a second.<br/>
                                We’ve just launched our CHRISTMAS SALE!<br/>
                                So, hurry up to spoil yourself with new purchases in the year ending.<br/>
                                And good luck in the coming year!<br/>
                                As always, thank you for your business and the confidence you have placed in us!" |raw}}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td class="am-button-box">
            <a href="{{config path="web/secure/base_url"}}" title="Visit {{config path="web/secure/base_url"}}" class="am-button red">Visit Our Store</a>
        </td>
    </tr>
</table>
{{template config_path="amfollowup/emails/footer_template"}}