<!--@subject You've become a VIP customer! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var store.getFrontendName()":"Store Name",
"var history.getCouponCode()":"Coupon Code",
"var urlmanager.unsubscribeUrl()":"Unsubscribe Url",
"var customer.getName()":"Customer Name",
"var customer_group.getCustomerGroupCode()":"Customer: Group",
"var formatmanager.formatDate('customer', 'dob')":"Customer: Date Of Birth",
"var formatmanager.formatDate('customer', 'created_at')":"Customer: Registration Date",
"var customer_log.getInactiveDays()":"Customer: Inactive Days",
"var formatmanager.formatDate('customer_log', 'login_at')":"Customer: Last Login"
}
@-->

{{template config_path="amfollowup/emails/header_template"}}
<table class="container bord_color am-old-style" cellpadding="0" cellspacing="0" border="0">
    <tr class="email-head">
        <td align="center" valign="top">
            <table class="table-head am-fullwidth" cellspacing="0" cellpadding="0" border="0">
                <tr class="am-fullwidth">
                    <td class="banner backgr-color contact  am-fullwidth" align="center" valign="top">
                        <div>
                            <img src="{{skin url="images/amfollowup/banner.png" _area='frontend'}}" alt="" />
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="head">
                        <p class="am-name-18pt">{{trans "Hello %customer_name," customer_name=$customer.getName()}}</p>
                        <p>{{ trans "We are glad to inform you, that your customer group has been recently
                            changed to %customer_group_code. Now you can
                            purchase any %store_frontend_name items with a 5%
                            discount!</p>
                        <p>
                            Please log in to <a
                                href="%login_link">%store_frontend_name</a> to find out more details."
                            customer_group_code=$customer_group.getCustomerGroupCode(),
                            store_frontend_name=$store.getFrontendName(),
                            login_link=$urlmanager.mageUrl('checkout/cart/index') |raw}}</p>
                        <p>{{trans "Best Regards, <br/>
                            %store_name Team" store_name=$store.getFrontendName() |raw}}</p>
                    </td>
                </tr>

                <tr >
                    <td align="center" valign="top" class="head" >
                        <table class="contact  am-fullwidth" >
                            <tr>
                                <td align="left" ><img src="{{skin url="images/amfollowup/phone.png" _area='frontend'}}" class="contact-img" alt="" /> {{config path="general/store_information/phone"}}</td>
                                <td align="center"><img src="{{skin url="images/amfollowup/mail.png" _area='frontend'}}" class="contact-img" alt="" /> {{config path="trans_email/ident_general/email"}}</td>
                                <td align="right"><img src="{{skin url="images/amfollowup/arrow.png" _area='frontend'}}" class="contact-img" alt="" /> <a href="mailto:{{config path="trans_email/ident_general/email"}}">reply to this mail</a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{{template config_path="amfollowup/emails/footer_template"}}