<!--@subject Autumn is here!  @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var store.getFrontendName()":"Store Name",
"var history.getCouponCode()":"Coupon Code",
"var urlmanager.unsubscribeUrl()":"Unsubscribe Url",
"var customer.getName()":"Customer Name",
"var customer_group.getCustomerGroupCode()":"Customer: Group",
"var formatmanager.formatDate('customer', 'dob')":"Customer: Date Of Birth",
"var formatmanager.formatDate('customer', 'created_at')":"Customer: Registration Date",
"var customer_log.getInactiveDays()":"Customer: Inactive Days",
"var formatmanager.formatDate('customer_log', 'login_at')":"Customer: Last Login"
}
@-->
{{template config_path="amfollowup/emails/header_template"}}

<table class="container bord_color am-autumn-template" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="am-table-header-container">
            <div class="am-table-header" style="background: url({{view url='Amasty_Followup/images/bg_autumn.png'}}) right;">
                <p class="am-name">{{trans "Dear %customer_name !" customer_name=$customer.getName()}}</p>
            </div>
        </td>
    </tr>
    <tr class="email-head">
        <td align="center" valign="top">
            <table class="table-head am-fullwidth" cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <td class="am-head">
                        <p class="am-email-text">
                            {{trans "Autumn has come bringing our AUTUMN SALE!<br/>
                            Now’s a good time to have a fresh start with new products by Our Company without skimping on your budget.<br/>
                            As always, thank you for your business and the confidence you have placed in us!" |raw}}
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr class="email-body">
        <td class="am-products-container">
            {{layout
            handle="amfollowup_email_wishlist"
            customer=$customer
            history=$history
            mode=list_modern
            image=yes
            price=yes
            priceFormat=exculdeTax
            descriptionFormat=short
            discount=yes
            }}<br/>
        </td>
    </tr>

    <tr>
        <td class="am-button-box">
            <a href="{{config path="web/secure/base_url"}}" title="Visit {{config path="web/secure/base_url"}}" class="am-button orange">Visit Our Store</a>
        </td>
    </tr>
</table>
{{template config_path="amfollowup/emails/footer_template"}}