& when (@media-common = true) {
    .data-sheet-box {
        margin-bottom: @indent__base;
        float: left;
        .data-sheet {
            text-transform: uppercase;
            .lib-css(background-color, @color-bur);
            .lib-css(border-color, @color-bur);
            padding-top: @indent__xs;
            padding-bottom: @indent__xs;
            padding-left: @indent__l;
            padding-right: @indent__l;
            .lib-css(font-family, @font-family-name__base);
            .lib-css(font-weight, @font-weight__bold);
            //.lib-font-size(28);
            //.lib-line-height(30);
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .data-sheet-box {
        float: none;
        width: 100%;
        padding-left: 0 !important;
        .data-sheet {
            width: 100%;
            padding-top: @indent__s;
            padding-bottom: @indent__s;
            text-align: center;
            .lib-font-size(17);
        }
    }
}