<?php
/**
 * sales-label
 *
 * @copyright Copyright © 2019 HeadWay. All rights reserved.
 * @author    ilya.kush@gmail.com
 */

/**
 * Product view template
 *
 * @see \Magento\Catalog\Block\Product\View\Description
 */

$_helperNewLabel = $this->helper('Jyske\Theme\Helper\Newlabel');
$_item = $block->getProduct();
?>

<?php if ($_helperNewLabel->isProductNew($_item)): ?>
	<span class="sale-label new-product"><?= /* @escapeNotVerified */ __('Newest') ?></span>
<?php endif; ?>
<?php if ($_item->getFixedLowPrice()): ?>
	<span class="sale-label fixed-low-price"><?= /* @escapeNotVerified */ __('Fixed Low Price') ?></span>
<?php endif; ?>