<?php
/**
 * titles.phtml
 *
 * @copyright Copyright © 2018 HeadWay. All rights reserved.
 * @author    ilya.kush@gmaul.com.com
 */
?>
<?php
	$block = $this->getLayout()->getBlock('product.info.details');
?>

<?php if ($detailedInfoGroup = $block->getGroupChildNames('detailed_info', 'getChildHtml')):?>
	<div class="product info detailed titles">
		<?php $layout = $block->getLayout(); ?>
		<div class="product no-data items">
			<?php foreach ($detailedInfoGroup as $name):?>
				<?php
				$html = $layout->renderElement($name);
				if (!trim($html)  || $name == 'reviews.tab' ) {
					continue;
				}
				$alias = $layout->getElementAlias($name);
				$label = $block->getChildData($alias, 'title');
				?>
				<div class="data item title">
					<a class="data smooth-scrolling"
					   href="#<?= /* @escapeNotVerified */ $alias ?>"
					   >
						<?= /* @escapeNotVerified */ $label ?>
					</a>
				</div>
			<?php endforeach;?>
		</div>
	</div>

	<script type="text/javascript">
		require(["jquery"], function($){

			$(document).ready(function () {
				/*
				 * Smooth scrolling for any links that point to an anchor (e.g. <a href="#anchor">)
				 */
				$("a.smooth-scrolling[href^='#']").on("click", function(e) {
					e.preventDefault();
					// Offset: use this only if you have (for example) a fixed header
					var offset = $("#fixed-header").height();

					return $("html, body").animate({
						scrollTop: $(this.hash).offset().top - offset
					}, 300);
				});
			});
		});
	</script>
<?php endif; ?>