@am-brand-slider-arrow-next__background-image: url('@{baseDir}images/bkg-right-arrow-am.png');
@am-brand-slider-arrow-prev__background-image: url('@{baseDir}images/bkg-left-arrow-am.png');

& when (@media-common = true) {
    .amslider {
      .swiper-button-next, .swiper-button-prev {
        background-size: 17px 52px;
        height: 52px;
        width: 17px;
        margin-top: -26px;
      }
    }
}