@import '_hw_gallery_extend.less';
@import '_minicart_extend.less';
@import '_amshopby_extend.less';

//& when (@media-target = 'mobile'), (@media-target = 'all') {
//    @media only screen and (max-width: @screen__l) {
//        .media-width('max', @screen__l);
//    }
//}

& when (@media-common = true) {
    // category page
    .catalog-category-view {
        .products-grid {
            .product-item {
                .product-image-photo {
                    max-height: 100%;
                }
            }
        }
    }
    .amasty-label-text {
		z-index: 9;
	}
    .navigation {
    z-index: 999 !important;
  }
    .minicart-wrapper {
    z-index: 9999 !important;
  }
    .modal-popup {
    z-index: 99999;
  }
    a.abs-action-link-button {
        .lib-button();
        .lib-link-as-button();
        .lib-css(border-radius, @button__border-radius);
        .lib-css(color,@button__color);
    }
    .availability, .stock {
        &.available {
            color: @available_color;
        }
        &.unavailable {
            color: @unavailable_color;
        }
    }
    .availability {
        color: @product-listing-availability_color;
    }
    .column.main .block {
        &.related, &.upsell {
            &:extend(.abs-add-clearfix all);
        }
    }
    .cart-summary {
        overflow: hidden;
        .free-shipping-container {

        width: 100%;

        margin-top:  @indent__m;
        margin-left:  0;
        margin-bottom:  -@indent__m;
        padding-left: @indent__m * 2;
        padding-right: @indent__m * 2;

        padding-top: @indent__base;
        padding-bottom: @indent__base;
        background: @page__background-color;

        text-align: center;

        &:before {
          padding-right: @indent__base;
          padding-bottom: @indent__s;
        }

        .lib-icon-image(
                '@{baseDir}images/i-track.png',
          @_icon-image-width: 54px,
          @_icon-image-height: 45px,
          @_icon-image-margin: @icon__margin,
          @_icon-image-vertical-align: top,
          @_icon-image-position-x: @icon-image__position-x,
          @_icon-image-position-y: @icon-image__position-y,
          @_icon-image-position: @icon__position,
          @_icon-image-text-hide: false
        );

        p {
          .lib-font-size(12);
          text-align: left;
          span {
            text-transform: uppercase;
            color: @color-green39;
            .lib-font-size(18);
            .lib-line-height(18);
            .lib-css(font-family, @font-famile_Oswald);
          }
        }

        > p {

          display: inline-block;
        }
      }
    }
    .minicart-items {

        .product-item-name {
            .lib-font-size(14);
            min-height: 0;
        }

        .product-item-details {
            padding-left: 78px;
        }
    }
    #my-orders-table {
    .col.status {
      display: none;
      .lib-visibility-hidden();
      //.lib-visually-hidden;
    }
  }
    .amasty-checkout-index-index {
    // shipping column
    #shipping {
      .step-title {
        padding-bottom: 0;
        #checkout-step-shipping {
          .form-login {
            margin-top: 15px;
            #customer-email-fieldset {
              .field.required {
                margin-bottom: 0;
              }
            }
          }
        }
      }
      #checkout-billing-address {
        .field-select-billing {
          margin-top: 15px;
          .label {
            font-size: 1.8rem;
            line-height: 1.8rem;
            font-weight: 700;
          }
        }
        .billing-address-form {
          margin-top: 5px;
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .header {
        .block-search {
            z-index: 9999 !important;
        }
    }
    .cart-summary {
        .free-shipping-container {
          width: 130%;
          margin-left:  -@indent__m;
          padding-left: @indent__m;
          padding-right: @indent__m;
          text-align: left;
        }
    }
}

//
//  Account pages: margin for table
//  ---------------------------------------------
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
  .abs-account-table-margin-mobile {
    .lib-css(margin-top, 0);
  }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .abs-account-table-margin-desktop {
    .lib-css(margin-top, 0);
  }
}

