& when (@media-common = true) {

    .panel.wrapper {
        .minicart-wrapper {
            //display: none;
            //visibility: hidden;
        }
    }

  .minicart-wrapper {
      margin-top: @indent__s;
    .action {
      &.showcart {

        .fas {
          vertical-align: super;
          color: @header-panel__text-color;
          margin-top: 3px;
            .lib-font-size(26);
        }

        &.action {
          &:before {
            content: ' ';
          }
        }
        &:before {
          //content: ' ';
          //background-image: url('@{baseDir}images/i-cart.png');
          //background-position: left center;
          //background-repeat: no-repeat;
          //height: @minicart-qty__height + 4;
          //width: 20px;
        }

        .counter.qty {
          .lib-css(background, @active__color-green);
        }

        .counter.subtotal {

          .lib-css(color, @header-panel__text-color);
          .lib-css(height, @minicart-qty__height);
          .lib-css(line-height, @minicart-qty__height);
          border-radius: 2px;
          display: inline-block;
          margin: 3px 0 0;
          min-width: 18px;
          overflow: hidden;
          padding: 0 3px;
          text-align: center;
          white-space: normal;

          &.empty {
            display: none;
          }
        }

      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

  .panel.wrapper {
    .minicart-wrapper {
      height: @minicart-qty__height + 2;
      margin-left: 0;
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

  .panel.wrapper {
    .minicart-wrapper {
      z-index: 2;
      margin-top: 24px;
    }
  }
}
