// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .product.info.detailed.titles {
        display: none;
        .product.data.items {
            .data.item {
                &.title {
                    display: none;
                }
            }
        }
    }

    .product.data.items {
        .lib-data-accordion();
        border-bottom: @tab-control__border-width solid @tab-control__border-color;
        margin-bottom: @indent__base;
        margin-left: -@layout__width-xs-indent;
        margin-right: -@layout__width-xs-indent;

        .item.title {
            a {
                position: relative;
                .lib-icon-font(
                @_icon-font-content: @icon-down,
                @_icon-font-size: @font-size__base,
                @_icon-font-line-height: @icon-font__line-height,
                @_icon-font-color: @icon-font__color,
                @_icon-font-color-hover: @icon-font__color-hover,
                @_icon-font-color-active: @icon-font__color-active,
                @_icon-font-margin: @icon-font__margin,
                @_icon-font-vertical-align: @icon-font__vertical-align,
                @_icon-font-position: after,
                @_icon-font-display: false
                );

                &:after {
                    position: absolute;
                    right: @accordion-control__padding-right;
                    top: @accordion-control__padding-top;
                }
            }

            &.active a {
                &:after {
                    content: @icon-up;
                }
            }
        }

        .value p {
            &:last-child {
                margin-bottom: 0;
            }
        }

        .table-wrapper {
            margin: 0;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .product.data.items {
        .data.item {
            &#description {
                //width: 50%;
                //margin-right: 2.5%;
            }

            &#additional {
                //width: 23%;
                //margin-right: 2.5%;
            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .product.info.detailed.titles {
        border-bottom: 1px solid  @color-gray-light5;
        padding-bottom: @indent__base;
        margin-bottom: 0;
        .product.items {
            .data.item {
                &.title {
                    display: inline-block;
                    margin-right: @indent__base;

                    a.data {
                        text-transform: uppercase;
                        .lib-font-size(12);
                    }
                }
            }
        }
    }

    .product.items {
        //.lib-data-tabs();
        border-bottom: 0;
        margin-left: 0;
        margin-right: 0;

        .data.item {

            &.title {
                display: none;
            }

            &.content {
                display: block !important;
                float: left;

                > div > strong.type {
                    //.lib-css(font-family, @font-famile_Oswald);
                    //.lib-font-size(18);
                    //.lib-line-height(20);
                    //border-bottom: 1px solid @color-gray-light5;
                    //margin-bottom: @indent__xs;
                    //padding-bottom: @indent__xs;
                    //font-weight: @font-weight__bold;
                    //display: block;
                    //text-transform: uppercase;
                }


                .block.related {
                    margin-top: @indent__l;
                }
            }

            &#description {
                //width: 100%;
                //margin-right: 0;
                //overflow: scroll;
            }

            &#additional {
                //width: 100%;
                //margin-right: 1.5%;
            }

            &#catalog-product-related {
                //width: 100%;
            }

            &#reviews {
                //width: 100%;
            }
        }

        .item.title a {
            &:after {
                display: none;
            }
        }
    }
}
