// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Luma theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files

//
//  Color variables
//  _____________________________________________
@color-black25: #252525;
@color-black36: #363636;
@color-white: #fff;
@color-whiteEC: #ececec;
@color-green39: #39b54a;
@color-dark-blue-bkg: #003d58;
@color-gray66: #666;
@color-grayB5: #b5b5b5;
@color-grayD7: #d7d7d7;
@color-gray9E: #9e9e9e;
@color-yelow12: #ffd012;
@color-gray77: #777777;
@color-whiteF6: #f6f6f6;
@color-redBB: #bb2e2e;
@color-border-of-cart-item:#acacac;
@color-orange: #ff9b25;
@color-bur: #21a2a2;

@available_color: #39b203;
@unavailable_color: @color-redBB;
@delay-available_color: #d3b52b;
@product-listing-grey-text: #cacaca;
@product-listing-sku_color: #667788;
@product-listing-availability_color: #607d8b;


@color-gray-border: @color-grayD7;
@active__color-green: @color-green39;
@active__color: @color-yelow12;




//
//  Typography
//  ---------------------------------------------
@checkout-shipping-method__padding: 10px;
@button__line-height__l: 40px;
@button__padding__l: 0 @indent__base;
@add_to_cart_increment_height: @button__line-height__l;
@cart_increment_height: 25px;

//  Fonts

@font-family-name__base: 'Roboto';
@font-family-name__title: 'Oswald';

@font-famile_Oswald: @font-family-name__title , @font-family__sans-serif;
//font-family: 'Roboto', sans-serif;
//font-family: 'Oswald', sans-serif;

@icons__font-path: '@{baseDir}fonts/Luma-Icons';
@icons__font-name: 'luma-icons';

//  Color nesting
@secondary__color:  @color-gray-border;
@panel__background-color: @color-gray-light0;
@border-color__base: @color-gray-border;

//  Headings
@h3__font-weight: @font-weight__semibold;
@h3__margin-top: @indent__base;

//  Links
@link__color: @color-blue2;

//  Focus
@focus__color: @color-blue3;

//
//  Tables
//  ---------------------------------------------

@table-cell__padding-vertical: 11px;
@table-cell-stripped__background-color: @table-cell__hover__background-color;
@table-responsive-th__background-color: @table-cell-stripped__background-color;
@table-responsive-cell__padding: @indent__xs @indent__s;

//
//  Layout grid
//  ---------------------------------------------
@layout__max-width: 1420px;
@total-columns: 24;

//  Variables for layout columns
@layout-column__sidebar-width: 4.3;

//  Checkout columns width
@layout-column-checkout__width-left: 6;

// Product Page
@page-layout-1column-product-info-block-paddind-width: 1%;
@layout-column-product-page-padding__width: 15px;

//
//  Navigation
//  ---------------------------------------------

@navigation__background: @color-dark-blue-bkg;

@navigation-level0-item__color: @color-whiteEC;

@navigation-level0-item__active__color: @primary__color;
@navigation-level0-item__active__border-color: @active__color;
@navigation-desktop-level0-item__active__border-color: @active__color;

@submenu-desktop-item__active__border-color: @active__color;
@submenu-item__active__border-color: @active__color;
@submenu-item__active__color: @navigation-level0-item__active__color;


//  Desktop navigation
@navigation-desktop-level0-item__line-height: 47px;
@submenu-desktop__font-weight: @font-weight__regular;
@submenu-desktop-item__active__color: @navigation-level0-item__active__color;

//  Tabs
@tab-control__color: @color-gray43;
@tab-control__font-weight: @font-weight__regular;
@tab-control__height: @indent__base*2;
@tab-control__margin-right: -1px;
@tab-control__padding-top: 1px;
@tab-control__padding-right: 35px;

//  Tabs content
@tab-content__padding-top: 35px;
@tab-content__padding-right: @tab-control__padding-right;

//
//  Accordion
//  ---------------------------------------------

@accordion-control__font-family: false;
@accordion-control__font-size: @font-size__base;
@accordion-control__font-style: false;
@accordion-control__font-weight: @font-weight__semibold;
@accordion-control__border-right: false;
@accordion-control__border-bottom: false;
@accordion-control__border-left: false;
@accordion-control__background-color: false;
@accordion-control__color: @primary__color;
@accordion-control__hover__background-color: false;
@accordion-control__hover__color: @accordion-control__color;
@accordion-control__active__background-color: false;
@accordion-control__active__color: @accordion-control__color;
@accordion-control__margin-bottom: 0;
@accordion-control__padding-right: @indent__s;
@accordion-control__padding-left: @indent__s;
@accordion-content__border: false;
@accordion-content__margin: 0;
@accordion-content__padding: @indent__s @indent__s @indent__l;

//
//  Buttons
//  ---------------------------------------------
@button__shadow: none;
@button__shadow-active: @button__shadow;

@button__border-radius: 0;

@button__font-family: @font-famile_Oswald;
@button__font-weight: @font-weight__regular;

//  Default = secondary button
@button__background: @color-dark-blue-bkg;
@button__border: 1px solid @color-dark-blue-bkg;
@button__color: @color-white;
@button__hover__color: @button__color;
//@button__hover__background: darken(@button__background, 5%);
@button__hover__background: @color-green39;
@button__hover__border: 1px solid @button__hover__background;
@button__active__background: @button__hover__background;


//  Primary button
//@button-primary__color

@button-primary__background: @color-dark-blue-bkg;
//@button-primary__hover__background: darken(@button-primary__background,5%);
@button-primary__hover__background: @color-green39;
//@button-primary__hover__color

@button-primary__border: 1px solid @button-primary__background;
@button-primary__hover__border: 1px solid @button-primary__hover__background;

@button-primary__hover__color: @color-white;
@button-primary__active__background: @button-primary__hover__background;
@button-primary__active__border: 1px solid @button-primary__hover__background;
@button-primary__active__color: @color-white;

//  Button with icon
@button-icon__line-height: @icon-font__line-height;

//
//  Icons
//  ---------------------------------------------

@icon-wishlist-empty: false;
@icon-comment-reflected: false;
@icon-compare-empty: false;
@icon-arrow-up-thin: false;
@icon-arrow-right-thin: false;
@icon-arrow-left-thin: false;
@icon-arrow-down-thin: false;
@icon-wishlist-empty: '\e601';

//
//  Messages
//  ---------------------------------------------

@message__padding: 12px @indent__base 12px @indent__m;
@message__line-height: false;
@message-icon__font-size: 24px;
@message-icon__inner-padding-left: 45px;
@message-icon__top: 22px;
@message-error-icon: @icon-error;
@message-success-icon: @icon-success;

//
//  Loaders
//  ---------------------------------------------

@loader-overlay__background-color: rgba(255, 255, 255, .7);

//
//  Forms
//  ---------------------------------------------

@focus__box-shadow: none;

//  Form field label asterisk
@form-field-label-asterisk__color: #e57b1c;

//  Form fieldset
@form-fieldset-legend__font-size: 18px;
@form-fieldset-legend__font-weight: @font-weight__light;
@form-fieldset-legend__margin: 0 0 @indent__base;
@form-fieldset-legend__padding: 0 0 @indent__s;
@form-fieldset-legend__width: 100%;

//  Form field
@form-field-type-revert: false;
@form-field__additional-vertical-indent: @indent__s;

//  Form field label
@form-field-label__font-weight: @font-weight__semibold;
@form-field-type-label-block__margin: 0 0 8px;

//  Form field note icon
@form-field-note-icon-font__content: false;

//  Placeholder
@form-element-input-placeholder__color: @color-gray34;

//
//  Pager
//  ---------------------------------------------

@pager__font-weight: @font-weight__regular;
@pager__line-height: @indent__l;
@pager-item__margin: 0 8px 0 0;
@pager-item__padding: 0 @indent__xs;

//  Pager current page
@pager-current__background: @color-gray90;

//  Pager link.action
@pager-icon__font-margin: 0;
@pager-icon__font-size: 16px;

//  Pager link.action visited
@pager-action__visited__color: @text__color__muted;

//  Pager link.action hover
@pager-action__hover__color: @text__color__muted;

//  Pager link.action active
@pager-action__active__color: @text__color__muted;

//
//  Rating
//  ---------------------------------------------
@rating-icon__active__color: @color-yelow12;
@rating-icon__font-size: 12px;
@rating-icon__letter-spacing: 1px;
//@rating-icon__active__color: @active__color;

//
//  Dropdowns
//  ---------------------------------------------

@dropdown-toggle-icon__content: @icon-down;
@dropdown-toggle-icon__active__content: @icon-up;
@dropdown-toggle-icon__font-size: 12px;

//  Split dropdown
@dropdown-split-actions__padding: 0 @indent__xs;
@dropdown-split-toggle__actions__padding: false;

//  Actions-toolbar
@actions-toolbar-actions__position: left;
@actions-toolbar-actions-primary__margin: 0 15px 0 0;

//
//  Breadcrumbs
//  ---------------------------------------------

@breadcrumbs__container-margin: 0 0 15px;
@breadcrumbs-icon__font-size: 10px;
@breadcrumbs-icon__font-margin: 0 @indent__s;

@breadcrumbs-current__color: @color-gray-middle5;
@breadcrumbs-link__color: @color-blue2;
@breadcrumbs-link__visited__color: @breadcrumbs-link__color;
@breadcrumbs-link__hover__color: @breadcrumbs-link__color;
@breadcrumbs-link__active__color: @breadcrumbs-link__color;

//
//  Sidebar blocks
//  ---------------------------------------------

@block-items__counter__color: @color-white;


//
//  Popups
//  ---------------------------------------------

@popup__border: 1px solid @color-gray68;
@popup-title-headings__level: h2;

//  Popup icons
@popup-icon-font__size: 16px;
@popup-icon-font__line-height: 16px;
@popup-icon-font__color: @color-gray55;
@popup-icon-font__color-hover: darken(@popup-icon-font__color, 10%);
@popup-icon-font__color-active: @popup-icon-font__color-hover;

//  Window overlay
@overlay__background: @color-gray55;
@overlay__opacity: .7;
@overlay__opacity-old: 70;

@gallery-thumb-border-color-active: @active__color;

//  Checkout tooltip icon
@checkout-tooltip-icon__font-size: 21px;

//  Checkout Payment Option icon
@checkout-payment-option-title-icon__font-size: 14px;
@checkout-payment-option-title-icon__line-height: 16px;
@checkout-payment-option-title-icon__margin: 0 0 0 @indent__s;

//  Checkout Sidebar Shipping Information
@checkout-sidebar-shipping-information-edit-icon__content: @icon-edit;
@checkout-sidebar-shipping-information-edit-icon__font-size: 18px;
@checkout-sidebar-shipping-information-edit-icon__line-height: 20px;
@checkout-sidebar-shipping-information-edit-icon__top: @indent__s;

//  Checkout
@checkout-sidebar__columns: 8;
@checkout-step-content-mobile__background: transparent;
@checkout-step-content-mobile__margin: 20px 0 0;
@checkout-step-content-mobile__margin-s: 0;
//
//  Header
//  ---------------------------------------------

@header-panel__background-color: transparent;
@header-panel__text-color: @color-gray66;

@minicart-qty__height: 18px;

//
//  Footer
//  ---------------------------------------------

@newsletter-wrapper__background-color: @color-dark-blue-bkg;

@footer__background-color: @color-black36;

@footer-links-color: @color-whiteEC;
@footer-links-color-hover: darken(@footer-links-color,10%);
@footer-links-separator-border-color: @color-whiteEC;

@copyright__background-color: @color-black25;

/* custom style */
.amsearch-wrapper-inner {
  .price-box {
    .price-including-tax:before, .price-excluding-tax:before {
      margin-top: 1.5rem;
    }
  }
}
/* customer menu */
.customer-menu {
  z-index: 10000;
}
.custom_header_links {
  float: left;
  a {
    span {
      color: #666666;
    }
  }
}
/* cart product message */
@media (min-width: 1401px) {
  .cart.table-wrapper {
    .item {
      .message {
        max-width: 500px;
      }
    }
  }
}
@media (max-width: 1400px) {
  .cart.table-wrapper {
    .item {
      .message {
        max-width: 350px;
      }
    }
  }
}
@media (max-width: 1200px) {
  .cart.table-wrapper {
    .item {
      .message {
        max-width: 300px;
      }
    }
  }
}
@media (max-width: 1100px) {
  .cart.table-wrapper {
    .item {
      .message {
        max-width: 220px;
      }
    }
  }
}
/* product page qty */
.product-info-wrapper {
  .product-info-main {
    .product-info-stock-sku {
      .availability.only {
        //display: none;
      }
    }
  }
}
/* page blog posts - social buttons*/
.addthis-smartlayers .at4-share {
  display: none;
}
.mpblog-post-view {
  .block-blog-related {
    width: 100%!important;
    .owl-carousel {
      .owl-stage {
        width: 100%!important;
        .item.product.product-item.mp-blog-slider-item {
          width: 95%;
          padding-left: 5px;
        }
      }
    }
  }
  .mp-footer {
    display: none;
  }
  .list-post-tabs {
    .post-right {
      width: 60%;
    }
  }
}
.mpblog-post-index {
  .mp-footer {
    display: none;
  }
  .list-post-tabs {
    .post-right {
      width: 74%;
    }
  }
}
.mpblog-post-index, .mpblog-post-view {
  .column.main {
    .post-item-list {
      .post-image {
        min-width: 200px;
      }
    }
  }
}
@media (min-width: 768px) {
  .mpblog-post-index, .mpblog-post-view {
    .column.main {
      width: 74%;
    }
    .sidebar.sidebar-main {
      width: 26%;
      float: right;
      .item.content {
        width: 90%;
      }
      .list-post-tabs {
        .post-right {
          width: 75%;
        }
      }
    }
    .sidebar.sidebar-additional {
      width: 26%;
    }
  }
}

@media (min-width: 1200px) {
  .mpblog-post-view {
    .block-blog-related {
      .owl-carousel.owl-drag {
        .owl-item {
          width: 24%!important;
        }
      }
    }
  }
}
@media (max-width: 1199px) and (min-width: 1000px) {
  .mpblog-post-view {
    .block-blog-related {
      .owl-carousel.owl-drag {
        .owl-item {
          width: 30%!important;
        }
      }
    }
  }
}
@media (max-width: 999px) and (min-width: 768px) {
  .mpblog-post-view {
    .block-blog-related {
      .owl-carousel.owl-drag {
        .owl-item {
          width: 40%!important;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .mpblog-post-view {
    .block-blog-related {
      .owl-carousel.owl-drag {
        .owl-item {
          width: 45%!important;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .mpblog-post-view {
    .block-blog-related {
      .owl-carousel.owl-drag {
        .owl-item {
          width: 100%!important;
        }
      }
    }
  }
}
/* product view page - related post */
.catalog-product-view {
  .product.info.detailed {
    .data.item.content {
      .owl-carousel {
        .owl-stage {
          width: 100%!important;
          .owl-item {
            width: auto!important;
          }
        }
      }
    }
  }
}
/* message after add to cart */
.page.messages {
  .button-set {
    a:first-child {
      display: none;
    }
  }
}

/* header mobile */
@media (max-width: 820px) and (min-width: 426px) {
  .page-header {
    .panel.wrapper {
      border-bottom: none;
      background-color: transparent;
      .header.panel {
        padding-bottom: 10px;
        padding-top: 0;
      }
      .header.panel:before, .header.panel:after {
        display: none;
      }
    }
    .header.content {
      padding: 0 15px;
      .logo {
        margin: 0 0 10px 40px;
      }
      .minicart-wrapper {
        margin-left: 13px;
      }
      .block-search {
        width: 100%;
        padding-left: 0;
        margin: 0;
        input {
          margin: 15px 0;
          font-size: 14px;
        }
        .control {
          border-top: 1px solid #d7d7d7;
          border-bottom: 1px solid #d7d7d7;
          margin: 0 -15px -1px;
          padding: 0 15px;
        }
        button {
          opacity: 0;
        }
      }
    }
  }
}
@media (max-width: 820px) and (min-width: 768px) {
  .page-wrapper {
    .top-container {
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: -20px;
    }
    .widget.block.block-hw-slideshow {
      margin-bottom: 20px;
    }
    .page-main {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
/* category page field datablad */
@media screen and (min-width: 768px) and (max-width: 850px) {
  .catalog-category-view {
    .products-grid {
      .product-item {
        .label-datablad-wrapper {
          .data-sheet-box {
            .data-sheet {
                padding: 5px 20px;
            }
          }
        }
      }
    }
  }
}
@media screen and  (max-width: 767px) {
  .catalog-category-view {
    .products-grid {
      .product-item {
        .label-datablad-wrapper {
          .data-sheet-box {
            .data-sheet {
              padding: 5px 15px;
              width: 65%;
              float: right;
            }
          }
        }
      }
    }
  }
}
/* MageWorx Gift Cards email template */
.catalog-product-view {
  .giftcard-info {
    .giftcard-fieldset {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }
  .modal-inner-wrap {
    .modal-content {
      .wrapper {
        .wrapper-inner {
          .header {
            background-color: #fff!important;
          }
        }
      }
    }
  }
}
