/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */

.step-label h3 span {
    border: 1px solid #000;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
}

.giftcard-fieldset h2 {
    margin-top: 4px;
    margin-bottom: 2px;
}

.giftcard-info .stock {
    text-align: right;
    color: #575757;
    margin-top: -20px;
}

#other_amount, .warnings #max, .warnings #min, .warnings #invalid {
    display: none;
}

.warnings #max, .warnings #min, .warnings #invalid {
    color: #e02b27;
    font-size: 1.2rem;
    margin-top: 7px;
}

.required em {
    color: #e02b27;
}

.giftcard-info .field {
    margin-top: 10px;
}

.amount-options {
    margin-top: 10px;
}

.amount-option {
    background: #f0f0f0;
    color: #686868;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    padding: 4px 8px;
    border: 1px solid #dadada;
    cursor: pointer;
    float: left;
    margin: 0 10px 5px 0;
}

.amount-option.selected {
    background: #ffffff;
    border: 1px solid #ffffff;
    color: #000000;
    outline: 2px solid #ff5501;
}

.amount-option:hover {
    border: 1px solid #ffffff;
    color: #333333;
    outline: 1px solid #999999;
}

.amount-option:focus {
    box-shadow: 0 0 3px 1px #00699d;
}

.calendar-icon {
    background: url("calendar.svg") no-repeat scroll 0px 4px;
    background-size: 21px;
    width: 32px;
    height: 32px;
    position: relative;
    top: -31px;
    float: right;
    opacity: 0.55;
    pointer-events: none;
}

.mw-clearfix:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
}