<?php
/**
 * default
 *
 * @copyright Copyright © 2018 HeadWay. All rights reserved.
 * @author    ilya.kush@gmaul.com.com
 */
?>
<div id="leverandor-service-wrapper" style="display: none;">
	<?php echo $this->getChildHtml("payment.popup.content") ?>
</div>

<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "leverandor_service_popup": {
                        "component":        "Jyske_Payments/js/popup",
                        "title":            "Hvad er LeverandørService?",
                        "modalClass":       "leverandor-service",
                        "elementId":        "#leverandor-service-wrapper"
                    }
                 }
            }
        }
    }
</script>



