.banners-grid {
    display: grid;
    grid-template-columns: 1fr;
}

.banners-grid .item {
    margin: 10px 0;
    text-align: center;
}

@media only screen and (min-width: 448px) {

    .banners-grid-max-1 {
        grid-template-columns: 1fr;
    }

    .banners-grid-max-2,
    .banners-grid-max-3,
    .banners-grid-max-4{
        grid-template-columns: repeat(1, 1fr);
    }


    .banners-grid-max-5,.banners-grid-max-6 {
        grid-template-columns: repeat(2, 1fr);
    }

    .banners-grid-max-8,
    .banners-grid-max-10,
    .banners-grid-max-12 {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media only screen and (min-width: 748px) {

    .banners-grid-max-1 {
        grid-template-columns: 1fr;
    }

    .banners-grid-max-2,
    .banners-grid-max-3,
    .banners-grid-max-4{
        grid-template-columns: repeat(2, 1fr);
    }


    .banners-grid-max-5,.banners-grid-max-6 {
        grid-template-columns: repeat(3, 1fr);
    }

    .banners-grid-max-8,
    .banners-grid-max-10,
    .banners-grid-max-12 {
        grid-template-columns: repeat(4, 1fr);
    }

}


@media only screen and (min-width: 979px) {

    .banners-grid-max-1 {
        grid-template-columns: 1fr;
    }

    .banners-grid-max-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .banners-grid-max-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    .banners-grid-max-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    .banners-grid-max-5 {
        grid-template-columns: repeat(5, 1fr);
    }

    .banners-grid-max-6 {
        grid-template-columns: repeat(6, 1fr);
    }

    .banners-grid-max-8 {
        grid-template-columns: repeat(8, 1fr);
    }

    .banners-grid-max-10 {
        grid-template-columns: repeat(10, 1fr);
    }

    .banners-grid-max-12 {
        grid-template-columns: repeat(12, 1fr);
    }
}

.widget-image-gallery {
    position: relative;
}


