/* ============================================ *
 * Slideshow RWD
 * ============================================ */
.slideshow-container-custom {
    position: relative;
    display: none;
    width: 100%;
    margin: 10px 0;
    z-index: 1;
}
.slideshow-container-custom .hw-slideshow {
    width: 100%;
    padding: 0;
    position: relative;
    margin: 0;
}
.slideshow-container-custom .hw-slideshow > li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    display: block;
    margin: 0;
}
.slideshow-container-custom .hw-slideshow > li:first-child {
    position: static;
    z-index: 100;
}
.slideshow-container-custom .hw-slideshow > li img {
    max-width: 100%;
    width: 100%;
}

@media only screen and (min-width: 979px) {
    .slideshow-container-custom {
        display: block;
    }
}
.hw-slideshow-pager {
    text-align: center;
    width: 100%;
    z-index: 115;
    position: absolute;
    bottom: 0px;
    top: auto;
    overflow: hidden;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.hw-slideshow-pager span {
    font-family: arial;
    width: 44px;
    height: 44px;
    display: inline-block;
    /*color: #DDDDDD;*/
    cursor: pointer;
}
.hw-slideshow-pager span:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    left: 50%;
    top: 50%;
    margin-left: -8px;
    margin-top: -8px;
    border-radius: 1px;
    background-color: #FFFFFF;
    position: relative;
}
.hw-slideshow-pager span:hover:before {
    background-color: #2e8ab8;
}
.hw-slideshow-pager span.cycle-pager-active:before {
    background-color: #297aa3;
}
.hw-slideshow-pager > * {
    cursor: pointer;
}

.hw-slideshow-prev,
.hw-slideshow-next,
.owl-prev, .owl-next {
    position: absolute;
    top: 0;
    width: 15%;
    max-width: 80px;
    height: 100%;
    opacity: 0.6;
    z-index: 110;
    cursor: pointer;
    text-indent: -9999em;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.hw-slideshow-prev:before,
.hw-slideshow-next:before,
.owl-prev:before, .owl-next:before {
    content: '';
    width: 0;
    height: 0;
    font-size: 0;
    position: absolute;
    border-style: solid;
    display: block;
    top: 50%;
    margin-top: -15px;
}
.hw-slideshow-prev:hover,
.hw-slideshow-next:hover,
.owl-prev:hover, .owl-next:hover {
    opacity: 1;
}
.hw-slideshow-prev.disabled,
.hw-slideshow-next.disabled,
.owl-prev.disabled, .owl-next.disabled {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
    cursor: default;
}

.hw-slideshow-prev, .owl-prev {
    left: 8px;
}
.hw-slideshow-prev:before, .owl-prev:before {
    border-width: 15px 15px 15px 0;
    border-color: transparent #FFFFFF transparent transparent;
    top: 50%;
    left: 10px;
}
.hw-slideshow-prev:hover:before, .owl-prev:hover:before {
    border-color: transparent #2e8ab8 transparent transparent;
}

.hw-slideshow-next, .owl-next {
    right: 8px;
}
.hw-slideshow-next:before, .owl-next:before {
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent #FFFFFF;
    top: 50%;
    right: 10px;
}
.hw-slideshow-next:hover:before, .owl-next:hover:before {
    border-color: transparent transparent transparent #2e8ab8;
}

.cycle-caption {
    position: absolute;
    color: white;
    bottom: 15px;
    right: 15px;
    z-index: 110;
}

.cycle-overlay {
    font-family: tahoma, arial;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 120;
    background: black;
    color: white;
    padding: 15px;
    opacity: .5;
}

.slide-spots {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    transform: scale(1);
    transform-origin: 0 0 0;
}
.slide-spots .slide-spot-container {
    position: relative;
}