<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Orderattr
 */
?>
<?php
/**
 * @var \Amasty\Orderattr\Block\Order\Attributes $block
 */
?>

<div class="block block-order-details-view">
    <div class="block-title">
        <strong><?= $block->escapeHtml(__('Additional Info')) ?></strong>
    </div>
    <div class="block-content">
        <?php if ($orderAttributeList = $block->getOrderAttributesData()) : ?>
            <?php foreach ($orderAttributeList as $attribute) : ?>
            <div class="box">
                <strong class="box-title">
                    <span><?= $block->escapeHtml(__($attribute['label'])); ?></span>
                </strong>
                <div class="box-content">
                    <?= nl2br($block->escapeHtml($attribute['value'])); ?>
                </div>
            </div>
            <?php endforeach;?>
        <?php else : ?>
            <strong class="box-title">
                <span>&nbsp;</span>
            </strong>
            <div class="box-content">
                <?= $block->escapeHtml(__('No attributes for this order')); ?>
            </div>
        <?php endif; ?>
    </div>
</div>
