// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //  Newsletter subscription
    .block.newsletter {
        margin-bottom: 0;

        .content {
            margin-top: @indent__l;
            margin-bottom: @indent__base;
        }

        p {
            .lib-font-size(@font-size__base);
            .lib-line-height(180%);
        }

        .form.subscribe {
            display: table;
            width: 100%;
        }

        .fieldset {
            display: table-cell;
            margin: 0;
            padding: 0;
            vertical-align: top;
        }

        .field {
            margin: 0;

            .control {
                .lib-icon-font(
                @icon-envelope,
                @_icon-font-size: 16px,
                @_icon-font-line-height: 32px,
                @_icon-font-color: @form-element-input-placeholder__color,
                @_icon-font-margin: 0 0 0 8px
                );

                &:before {
                    position: absolute;
                }

                display: block;
            }
        }

        input {
            padding-left: 35px;
            //.lib-css(font-style, @font-style__emphasis);
            .lib-css(color,@color-gray20);
        }

        .title {
            //display: none;
            strong {
                .lib-typography(@font-size__xl + 3, @footer-links-color, @font-famile_Oswald, normal, 1.1);
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: @indent__base;
                display: block;
            }
        }

        .label {
            &:extend(.abs-visually-hidden all);
        }

        .actions {
            display: table-cell;
            vertical-align: top;
            width: 1%;
        }

        .action.subscribe {
            border-radius: 0;
            margin-left: -1px;
            padding-left: @indent__xl;
            padding-right: @indent__xl;
            white-space: nowrap;
            text-transform: uppercase;
            .lib-css(font-family, @font-famile_Oswald);
            .lib-css(background-color, @color-green39);
            .lib-css(border-color, @color-green39);
            .lib-css(font-weight, @font-weight__regular);
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .block.newsletter {

        margin-bottom: @indent__base;

        .title, .content {
            //width: 49%;
        }

        .title {
            float: left;
            width: 49%;
        }

        .content {
            margin-top: 50px;
            float: right;
            width: 100%;
        }
        /*width: 34%;*/
    }
}
