& when (@media-common = true) {

  .product-print-pdf {
      margin-top: -40px;
      float: right;
      /*margin-left: @indent__base;*/
      .lib-icon-font(
        @_icon-font-content: @icon-print,
        @_icon-font-size: 22px,
        @_icon-font-line-height: 28px,
        @_icon-font-margin: 0 @indent__s 0 0,
        @_icon-font-color: @minicart-icons-color,
        @_icon-font-color-hover: @minicart-icons-color-hover,
        @_icon-font-color-active: @minicart-icons-color-hover,
        @_icon-font-text-hide: true
      );
    .lib-text-hide();
  }

}