.admin__menu .item-tric.level-0 > a:before {
    content: '';
    font-size: 1.9rem;
    padding-top: 0.3rem;
    background: url('../images/tric-logo.svg') no-repeat scroll center center transparent;
}

.admin__menu .item-tric.level-0._active > a:before, .admin__menu .item-tric.level-0:hover > a:before {
    background: url('../images/tric-logo-active.svg') no-repeat scroll center center transparent;
}

.admin__menu #menu-magento-backend-stores .item-gls.parent.level-1 > strong::before {
    content: '';
    font-size: 1.5rem;
    margin-right: .8rem;
    background: url('../images/tric-logo.svg') no-repeat scroll center center transparent;
}
