<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Item\Renderer */

$_item = $block->getItem();
$product = $_item->getProduct();
$isVisibleProduct = $product->isVisibleInSiteVisibility();
/** @var \Magento\Msrp\Helper\Data $helper */
$helper = $this->helper('Magento\Msrp\Helper\Data');
$canApplyMsrp = $helper->isShowBeforeOrderConfirm($product) && $helper->isMinimalPriceLessMsrp($product);
?>
<tbody class="cart item">
    <tr class="item-info">
        <td data-th="<?= $block->escapeHtml(__('Item')) ?>" class="col item">
            <?php if ($block->hasProductUrl()):?>
                <a href="<?= /* @escapeNotVerified */ $block->getProductUrl() ?>"
                   title="<?= $block->escapeHtml($block->getProductName()) ?>"
                   tabindex="-1"
                   class="product-item-photo">
            <?php else:?>
                <span class="product-item-photo">
            <?php endif;?>
            <?= $block->getImage($block->getProductForThumbnail(), 'cart_page_product_thumbnail')->toHtml() ?>
            <?php if ($block->hasProductUrl()):?>
                </a>
            <?php else: ?>
                </span>
            <?php endif; ?>
            <div class="product-item-details">
                <strong class="product-item-name">
                    <?php if ($block->hasProductUrl()):?>
                        <a href="<?= /* @escapeNotVerified */ $block->getProductUrl() ?>"><?= $block->escapeHtml($block->getProductName()) ?></a>
                    <?php else: ?>
                        <?= $block->escapeHtml($block->getProductName()) ?>
                    <?php endif; ?>
                </strong>
                <div class="product-item-info">
                    <?php
                    echo $this->getLayout()->createBlock('Magento\Framework\View\Element\Template')
                        ->setTemplate("Magento_Catalog::product/view/attribute.phtml")
                        ->setAtCall('getSku')
                        ->setAtCode('sku')
                        ->setCssClass('sku')
                        ->setAtLabel('default')
                        ->setAddAttribute('itemprop="sku"')
                        ->setProduct($product)
                        ->toHtml();
                    ?>
                </div>
                <?php if ($_options = $block->getOptionList()):?>
                    <dl class="item-options">
                        <?php foreach ($_options as $_option) : ?>
                            <?php $_formatedOptionValue = $block->getFormatedOptionValue($_option) ?>
                            <dt><?= $block->escapeHtml($_option['label']) ?></dt>
                            <dd>
                                <?php if (isset($_formatedOptionValue['full_view'])): ?>
                                    <?= /* @escapeNotVerified */ $_formatedOptionValue['full_view'] ?>
                                <?php else: ?>
                                    <?= /* @escapeNotVerified */ $_formatedOptionValue['value'] ?>
                                <?php endif; ?>
                            </dd>
                        <?php endforeach; ?>
                    </dl>
                <?php endif;?>

                <?php //start custom message?>
                <?php
                $customSimpleId = 0;
                if($block->getProduct()->getTypeID() == 'configurable') {

                    // get id selected simple product from configurable product
                    $childProducts = $product->getTypeInstance()->getUsedProducts($block->getProduct());
                    foreach ($childProducts as $childProduct) {
                        if ($childProduct->getSku() == $product->getSku()) {
                            $customSimpleId = $childProduct->getId();
                        }
                    }
                }
                ?>

                <?php //if in stock using product id ?>
                <?php
                $productId = $block->getProduct()->getID() ;
                $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                $productStockObj = $objectManager->get('Magento\CatalogInventory\Api\StockRegistryInterface')->getStockItem($productId);
                $productStock = $productStockObj->getData();
                if($block->getProduct()->getTypeId() == 'configurable') {
                    $productStockObjCustomSimple = $objectManager->get('Magento\CatalogInventory\Api\StockRegistryInterface')->getStockItem($customSimpleId);
                }
                ?>

                <?php //if product has attribute custom stock status ?>
                <?php
                $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                $customProduct = $objectManager->get('Magento\Catalog\Model\Product')->load($block->getProduct()->getID());

                $customattrib = $this->getProduct()->getResource()->getAttributeRawValue($block->getProduct()->getID(),'stock_status_custom',$block->getProduct()->getID());
                if($block->getProduct()->getTypeId() == 'configurable') {
                    $customProductCustomSimple = $objectManager->get('Magento\Catalog\Model\Product')->load($customSimpleId);
                    $customattribCustomSimple = $this->getProduct()->getResource()->getAttributeRawValue($customSimpleId,'stock_status_custom',$customSimpleId);
                }
                ?>

                <?php // for configurable products ?>
                <?php
                $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                $StockState = $objectManager->get('\Magento\CatalogInventory\Api\StockStateInterface');
                $customSimpleQty = 0;
                if($block->getProduct()->getTypeID() == 'configurable'){
                    $productTypeInstance = $block->getProduct()->getTypeInstance();
                    $usedProducts = $productTypeInstance->getUsedProducts($block->getProduct());
                    foreach ($usedProducts as $simple) {
                        $customSimpleQty = $StockState->getStockQty($customSimpleId, $simple->getStore()->getWebsiteId());
                    }
                }
                ?>
                <?php if ( $block->getProduct()->getTypeId() == 'configurable' ) {?>
                    <?php if ( $productStockObjCustomSimple->getData('is_in_stock') ) {?>
                        <?php if ( (int)$productStockObjCustomSimple->getData('is_in_stock') == 1 && $customSimpleQty < 1  ) {?>
                            <?php if ( $customProductCustomSimple->getData('stock_status_custom') == '' || gettype($customattribCustomSimple) != 'string' ) {?>
                                <div class="cart item message notice">
                                    <div><?php echo 'Vi har færre på lager end det antal '.'"'.$product->getName().'"'.' du ønsker. Vi bestiller de resterende hjem hurtigst muligt. Din ordre vil blive sendt samlet i løbet af ca. 14 dage. Ønsker du lagervarer afsendt først, bedes du bestille af to omgange.'; ?></div>
                                </div>
                            <?php }?>
                        <?php }?>
                    <?php }?>
                <?php }?>

                <?php // for simple products ?>
                <?php if ($productStock) {?>
                    <?php if ( (int)$productStock['is_in_stock'] == 1 and (int)$productStock['qty'] < $block->getQty() ) {?>
                        <?php if ( $customProduct->getData('stock_status_custom') == '' || gettype($customattrib) != 'string' ) {?>
                            <?php if ( $block->getProduct()->getTypeId() != 'configurable' ) {?>
                            <div class="cart item message notice">
                                <div><?php echo 'Vi har færre på lager end det antal '.'"'.$product->getName().'"'.' du ønsker. Vi bestiller de resterende hjem hurtigst muligt. Din ordre vil blive sendt samlet i løbet af ca. 14 dage. Ønsker du lagervarer afsendt først, bedes du bestille af to omgange.'; ?></div>
                            </div>
                            <?php }?>
                        <?php }?>
                    <?php }?>
                <?php }?>

                <?php //end custom message?>

                <?php if ($messages = $block->getMessages()): ?>
                    <?php foreach ($messages as $message): ?>
<!--                        <div class="cart item message --><?//= /* @escapeNotVerified */ $message['type'] ?><!--"><div>--><?//= $block->escapeHtml($message['text']) ?><!--</div></div>-->
                    <?php endforeach; ?>
                <?php endif; ?>
                <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
                <?php if ($addInfoBlock): ?>
                    <?= $addInfoBlock->setItem($_item)->toHtml() ?>
                <?php endif;?>
            </div>
        </td>

        <?php if ($canApplyMsrp): ?>
            <td class="col msrp" data-th="<?= $block->escapeHtml(__('Price')) ?>">
                <span class="pricing msrp">
                    <span class="msrp notice"><?= /* @escapeNotVerified */ __('See price before order confirmation.') ?></span>
                    <?php $helpLinkId = 'cart-msrp-help-' . $_item->getId(); ?>
                    <a href="#" class="action help map" id="<?= /* @escapeNotVerified */ ($helpLinkId) ?>" data-mage-init='{"addToCart":{"helpLinkId": "#<?= /* @escapeNotVerified */ $helpLinkId ?>","productName": "<?= /* @escapeNotVerified */ $product->getName() ?>","showAddToCart": false}}'>
                        <span><?= /* @escapeNotVerified */ __("What's this?") ?></span>
                    </a>
                </span>
            </td>
        <?php else: ?>
            <td class="col price" data-th="<?= $block->escapeHtml(__('Price')) ?>">
                <?= $block->getUnitPriceHtml($_item) ?>
            </td>
        <?php endif; ?>
        <td class="col qty" data-th="<?= $block->escapeHtml(__('Qty')) ?>">
            <div class="field qty">
                <label class="label" for="cart-<?= /* @escapeNotVerified */ $_item->getId() ?>-qty">
                    <span><?= /* @escapeNotVerified */ __('Qty') ?></span>
                </label>
                <div class="control qty" data-bind="scope: 'qty_change<?= /* @escapeNotVerified */ $_item->getId() ?>'">
                    <button data-bind="click: decreaseQty">-</button>
                    <input id="cart-<?= /* @escapeNotVerified */ $_item->getId() ?>-qty"
                           name="cart[<?= /* @escapeNotVerified */ $_item->getId() ?>][qty]"
                           data-cart-item-id="<?= $block->escapeHtml($_item->getSku()) ?>"
                           value="<?= /* @escapeNotVerified */ $block->getQty() ?>"
                           type="number"
                           size="4"
                           title="<?= $block->escapeHtml(__('Qty')) ?>"
                           class="input-text qty"
                           data-validate="{required:true,'validate-greater-than-zero':true}"
                           data-role="cart-item-qty"
                           data-bind="value: qty() "/>
                    <button data-bind="click: increaseQty">+</button>
                </div>
                <script type="text/x-magento-init">
                    {
                        "*": {
                            "Magento_Ui/js/core/app": {
                                "components": {
                                    "qty_change<?= /* @escapeNotVerified */ $_item->getId() ?>": {
                                        "component": "HW_QtyIncrementors/js/view/product/view/qty_change",
                                        "defaultQty": <?= /* @escapeNotVerified */ $block->getQty() ?>,
                                        "stepQty"   : <?php echo $this->helper('HW\QtyIncrementors\Helper\Data')->getProductQtyIncrements($product) * 1 ?>
                                    }
                                 }
                            }
                        }
                    }
                </script>
            </div>
        </td>

        <td class="col subtotal" data-th="<?= $block->escapeHtml(__('Subtotal')) ?>">
            <?php if ($canApplyMsrp): ?>
                <span class="cart msrp subtotal">--</span>
            <?php else: ?>
                <?= $block->getRowTotalHtml($_item) ?>
            <?php endif; ?>
        </td>
    </tr>
    <tr class="item-actions">
        <td colspan="100">
            <div class="actions-toolbar">
                <?= /* @escapeNotVerified */ $block->getActions($_item) ?>
            </div>
        </td>
    </tr>
</tbody>
