<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_product = $block->getProduct();

$energyCode=$_helper->productAttribute($_product, $_product->getEnergyType(), 'energy_type');
$energyFile=$block->getImageUrl($_helper->productAttribute($_product, $_product->getEnergyImage(), 'energy_image'));

?>
<?php if ($energyCode && $energyFile): ?>
<?php 
	$energyLabel=$_product->getAttributeText('energy_type');
	$labelMain=substr($energyLabel, 0, 1);
	$labelSuffix=substr($energyLabel, 1, 10);
?>
<div class="product attribute energy-consume">
	<span class="tooltip-action action-energy action-energy-<?php echo $energyCode ?>"
	  tabindex="0"
	  data-toggle="energy-<?php echo $_product->getId() ?>"
	  data-bind="mageInit: {'dropdown':{'activeClass': '_active'}}">
	  <span class="energy-main"><?php echo $labelMain ?></span>
	  <span class="energy-suffix"><?php echo $labelSuffix?$labelSuffix:'&nbsp;' ?></span>
	</span>
	<div class="tooltip-content"
		 data-target="energy-<?php echo $_product->getId() ?>"
		 ><img src="<?php echo $energyFile ?>" alt="">
	</div>

</div>
<?php endif; ?>

