& when (@media-common = true) {

  .col-carrier {
    &[id$='_gls'] {
      padding: 0;
      .lib-text-hide();
      &:before {
        content: ' ';
        display: block;
        width: 105px;
        height: 28px;
        background-image: url('@{baseDir}images/gls-logo.png');
      }
    }

    //&[id$='_tablerate'], &[id$='_flatrate']  {
    &[id$='_matrixrate'] {
      padding: 0;
      vertical-align: middle;
      .lib-text-hide();
      &:before {
        content: ' ';
        display: block;
        width: 133px;
        height: 20px;
        background-image: url('@{baseDir}images/dfm-logo.png');
      }
    }
  }
}

