<!--@subject Bestselling products tailored to your taste  @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var store.getFrontendName()":"Store Name",
"var history.getCouponCode()":"Coupon Code",
"var urlmanager.unsubscribeUrl()":"Unsubscribe Url",
"var order.getIncrementId()":"Order: ID",
"var formatmanager.formatDate('order', 'created_at')":"Order: Created",
"var formatmanager.formatPrice('order', 'grand_total')":"Order: Grand Total",
"var order.getStatusLabel()":"Order Status",
"var order.getShippingDescription()":"Order: Shipping Method",
"var formatmanager.getOrderPaymentMethodLabel()":"Order: Payment Method",
"var customer.getName()":"Customer Name",
"var customer_group.getCustomerGroupCode()":"Customer: Group",
"var formatmanager.formatDate('customer', 'dob')":"Customer: Date Of Birth",
"var formatmanager.formatDate('customer', 'created_at')":"Customer: Registration Date",
"var customer_log.getInactiveDays()":"Customer: Inactive Days",
"var formatmanager.formatDate('customer_log', 'login_at')":"Customer: Last Login",
"layout handle=\"amfollowup_email_crosssell\" quote=$quote history=$history mode=list image=yes price=yes priceFormat=exculdeTax descriptionFormat=short discount=yes":"Return Cross-sell Product Grid",
"layout handle=\"amfollowup_email_wishlist\" customer=$customer history=$history mode=table image=yes price=yes priceFormat=exculdeTax descriptionFormat=short discount=yes":"Return Wishlist Product Grid",
"layout handle=\"amfollowup_email_quote\" quote=$quote history=$history mode=table image=yes price=yes priceFormat=exculdeTax descriptionFormat=short discount=yes":"Return Quote Product Grid"
}
@-->

<table align="center" class="am-top-logo-container" cellpadding="0" cellspacing="0" >
    <tbody>
    <tr>
        <td class="am-logo-wrapper">
            <img class="am-top-logo" src="{{var logo_url}}" alt="{{var logo_alt}}">
        </td>
    </tr>
    </tbody>
</table>
{{template config_path="amfollowup/emails/header_template"}}

<table align="center" class="container bord_color am-new-template" cellpadding="0" cellspacing="0"
       >
    <tr class="email-head">
        <td align="center" valign="top">
            <table class="table-head am-fullwidth" cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <td class="am-head">
                        <p class="am-name">{{trans "Dear %customer_name !" customer_name=$customer.getName()}}</p>
                        <p class="am-email-text">{{trans "You have reached several products on our company’s site recently, have
                            a look at others - there’s lots to scope out."}}</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr class="email-body">
        <td class="am-products-container">
            {{layout
            handle="amfollowup_email_crosssell"
            quote=$quote
            history=$history
            mode=table_modern
            image=yes
            price=yes
            priceFormat=exculdeTax
            descriptionFormat=short
            discount=yes
            }}
        </td>
    </tr>

    <tr>
        <td class="am-button-box">
            <a href="{{config path="web/secure/base_url"}}" title="Visit {{config path="web/secure/base_url"}}" class="am-button red-orange">Visit Our Store</a>
        </td>
    </tr>
</table>
{{template config_path="amfollowup/emails/footer_template"}}