/* ============================================ *
 * Slideshow RWD >
 * ============================================ */
.slideshow-container-custom {

  //border: 1px solid #EDEDED;
  .hw-slideshow {
    //border: 10px solid #FFFFFF;
  }

  .hw-slideshow-pager {
    span {
      &:hover:before {
        background-color: @link__hover__color;
      }

      &.cycle-pager-active:before {
        background-color: @link__color;
      }
    }
  }

  .hw-slideshow-prev, .owl-prev {
    &:hover:before {
      border-color: transparent @link__hover__color transparent transparent;
    }
  }

  .hw-slideshow-next, .owl-next {
    &:hover:before {
      border-color: transparent transparent transparent @link__hover__color;
    }
  }

}
/* ============================================ *
 * < Slideshow end
 * ============================================ */


/* ============================================ *
 * Banners RWD >
 * ============================================ */

.banners-grid {
    .item {
      margin: @indent__base 0;
    }
}