& when (@media-common = true) {

    .amasty-product-attachment-block {

        ul {
            padding-left: 0;
        }

        .file {
            img {
              vertical-align: bottom;
            }
        }
    }

    .product.data.items {
        .data.item#amfile_files {
            h3.label {
                //.lib-css(font-family, @font-famile_Oswald);
                .lib-font-size(18);
                .lib-line-height(20);
                //border-bottom: 1px solid @color-gray-light5;
                margin-bottom: @indent__xs;
                //padding-bottom: @indent__xs;
                font-weight: @font-weight__bold;
                display: block;
                //text-transform: uppercase;
                margin-top: 0;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .product.data.items {
        .data.item#amfile_files {
            //width: 22%;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .product.data.items {
        .data.item#amfile_files {
            //width: 48%;
        }
    }
}

