<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/** @var \Jyske\Contact\Block\ContactForm $block */
?>
<div class="contact-page-wrapper">
	<form class="form contact"
	      action="<?= $block->escapeUrl($block->getFormAction()) ?>"
	      id="contact-form"
	      method="post"
	      data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
	      data-mage-init='{"validation":{}}'>
	    <fieldset class="fieldset">
	        <legend class="legend"><span><?= $block->escapeHtml(__('Write Us')) ?></span></legend><br />
	        <div class="field note no-label"><?= $block->escapeHtml(__('Jot us a note and we’ll get back to you as quickly as possible.')) ?></div>
	        <div class="field name required">
	            <div class="control">
	                <input name="name" id="name" title="<?= $block->escapeHtmlAttr(__('Name')) ?>" value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('name') ?: $this->helper('Magento\Contact\Helper\Data')->getUserName()) ?>" placeholder="<?= $block->escapeHtml(__('Name')) ?> *" class="input-text" type="text" data-validate="{required:true}"/>
	            </div>
	        </div>
	        <div class="field email required">
	            <div class="control">
	                <input name="email" id="email" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('email') ?: $this->helper('Magento\Contact\Helper\Data')->getUserEmail()) ?>" placeholder="<?= $block->escapeHtml(__('Email')) ?> *" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}"/>
	            </div>
	        </div>
	        <div class="field telephone">
	            <div class="control">
	                <input name="telephone" id="telephone" title="<?= $block->escapeHtmlAttr(__('Phone Number')) ?>" value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('telephone')) ?>" placeholder="<?= $block->escapeHtml(__('Phone Number')) ?>" class="input-text" type="text" />
	            </div>
	        </div>
	        <div class="field comment required">
	            <div class="control">
	                <textarea name="comment" id="comment" placeholder="<?= $block->escapeHtmlAttr(__('What’s on your mind?')) ?> *" title="<?= $block->escapeHtmlAttr(__('What’s on your mind?')) ?>" class="input-text" cols="5" rows="3" data-validate="{required:true}"><?= $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('comment')) ?></textarea>
	            </div>
	        </div>
	        <?= $block->getChildHtml('form.additional.info') ?>
	    </fieldset>
	    <div class="actions-toolbar">
	        <div class="primary">
	            <input type="hidden" name="hideit" id="hideit" value="" />
	            <button type="submit" title="<?= $block->escapeHtmlAttr(__('Submit')) ?>" class="action submit primary">
	                <span><?= $block->escapeHtml(__('Submit')) ?></span>
	            </button>
	        </div>
	    </div>
	</form>
	<div class="details contact">
		<div class="address-collage">
			<?= $this->getChildHtml('collage') ?>
		</div>
		<div class="address-block">
			<h4><?= __("Address") ?></h4>
			<p>
				<?= $block->getStoreInformation('name') ?><br />
				<?= $block->getStoreInformation('street_line1') ?><br />
				<?= $block->getStoreInformation('postcode') ?> <?= $block->getStoreInformation('city') ?><br />
				<?= __('VAT Number') ?>: <?= $block->getStoreInformation('merchant_vat_number') ?>
			</p>
			<h4><?= __("Contact") ?></h4>
			<p>
				<a href="mailto:<?= $block->getCustomerSupportEmail() ?>"><?= $block->getCustomerSupportEmail() ?></a><br />
                <a href="tel:<?= $block->getStoreInformation('phone') ?>"><?= $block->getStoreInformation('phone') ?></a>
			</p>
			<h4><?= __("Talk with us at social media") ?></h4>
			<?= $this->getChildHtml('social-links') ?>
		</div>
		<div class="contact-map">
			<?= $this->getChildHtml('map') ?>
		</div>
	</div>
</div>
