.jys-col-wrapper { width: 1380px; margin: 0 auto 60px auto; }
.jys-col-wrap-inner { width: 100%; box-sizing: border-box; }
.col2-box-js { float: left; width: calc(50% - 40px); margin: 20px; box-sizing: border-box; position: relative; }
.col3-box-js { float: left; width: calc(33.33% - 40px); margin: 20px; box-sizing: border-box; position: relative; }
.col4-box-js { float: left; width: calc(25% - 40px); margin: 20px; box-sizing: border-box; position: relative; }
.clear::after { content: ""; clear: both; display: table; }

@media screen and (max-width: 1380px) {
    .jys-col-wrapper { width: 100%; }
}

@media screen and (max-width: 992px) {
    .col4-box-js { width: calc(50% - 40px); margin: 20px; }
}

@media screen and (max-width: 768px) {
    .col3-box-js { width: calc(100% - 40px); margin: 20px; }
}

@media screen and (max-width: 480px) {
    .col2-box-js { width: 100%; margin: 20px 0; padding: 0 15px; }
    .col4-box-js { width: 100%; margin: 20px 0; padding: 0 15px; }
    .col3-box-js { width: 100%; margin: 20px 0; padding: 0 15px; }
}