<?php
/**
 * Created by PhpStorm.
 * User: Ilya
 * Date: 03.07.2018
 * Time: 10:40
 */

$_images        = $this->getImages();
$_itemInRow     = $this->getColsCount();
?>

<?php if ($_images && $_images->getSize() >= 1): ?>
	<div class="widget block block-banners-grid <?php echo $this->getCssClasses(); ?>" <?php if ($this->getCssRules()): ?>style="<?php echo $this->getCssRules(); ?>"<?php endif; ?>>
		<?php if ($this->getShowTitle()): ?>
			<div class="block-title">
				<strong><?php echo $this->getGallery()->getTitle()?></strong>
			</div>
		<?php endif; ?>
		<div class="banners-grid banners-grid-max-<?php echo $_itemInRow ?> ">
			<?php foreach($_images as $_image): ?>
				<div class="item">
					<?php $_imageLink = $this->getLink($_image->getUrl()); ?>
					<?php if ($_imageLink): ?>
						<a href="<?php echo $_imageLink ?>" title="<?php echo $_image->getTitle() ?>" <?php $_image->getLinkAttributes() ?>>
							<img src="<?php echo $this->getImageUrl($_image->getFile()) ?>" title="<?php echo $_image->getTitle() ?>" alt="<?php echo $_image->getFile() ?>" />
						</a>
					<?php else: ?>
						<img src="<?php echo $this->getImageUrl($_image->getFile()) ?>" title="<?php echo $_image->getTitle() ?>" alt="<?php echo $_image->getFile() ?>" />
					<?php endif; ?>
					<h3 class="product name product-item-name">
						<?php if ($_imageLink): ?>
							<a href="<?php echo $_imageLink ?>" title="<?php echo $_image->getTitle() ?>" <?php $_image->getLinkAttributes() ?> class="product-item-link"><?php echo $_image->getTitle() ?></a>
						<?php else: ?>
							<?php echo $_image->getTitle() ?>
						<?php endif; ?>
					</h3>
					<?php echo trim($this->processedHtml($_image->getHtml())) ?>
				</div>
				<?php // var_dump($_image->getData()) ?>
			<?php endforeach; ?>
		</div>
	</div>
<?php endif; ?>