<?php
$_images        = $this->getImages();
$_itemInRow     = $this->getColsCount();
$_scriptVarName    = '$widgetImageGallery'.$this->getInstanceNumber();
//$_scriptVarName    = 'widgetImageGallery';
?>

<?php if ($_images && $_images->getSize() >= 1): ?>
	<div class="widget block block-banners-grid2 <?php echo $this->getCssClasses(); ?>" <?php if ($this->getCssRules()): ?>style="<?php echo $this->getCssRules(); ?>"<?php endif; ?>>
		<?php if ($this->getShowTitle()): ?>
			<div class="block-title">
				<strong><?php echo $this->getGallery()->getTitle()?></strong>
			</div>
		<?php endif; ?>
		<div class="widget-image-gallery widget-image-gallery-<?php echo $this->getGallery()->getIdentifier()?> widget-image-gallery-<?php echo $this->getInstanceNumber() ?>">
			<div class="owl-carousel">
				<?php foreach($_images as $_image):  ?>
					<div class="item">
						<?php $_imageLink = $this->getLink($_image->getUrl()); ?>
						<?php if ($_imageLink): ?>
							<a href="<?php echo $_imageLink ?>" title="<?php echo $_image->getTitle() ?>" <?php $_image->getLinkAttributes() ?>>
								<img src="<?php echo $this->getImageUrl($_image->getFile()) ?>" title="<?php echo $_image->getTitle() ?>" alt="<?php echo $_image->getFile() ?>" />
							</a>
						<?php else: ?>
							<img src="<?php echo $this->getImageUrl($_image->getFile()) ?>" title="<?php echo $_image->getTitle() ?>" alt="<?php echo $_image->getFile() ?>" />
						<?php endif; ?>

						<h3 class="product name product-item-name">
							<?php if ($_imageLink): ?>
								<a href="<?php echo $_imageLink ?>" title="<?php echo $_image->getTitle() ?>" <?php $_image->getLinkAttributes() ?> class="product-item-link"><?php echo $_image->getTitle() ?></a>
							<?php else: ?>
								<?php echo $_image->getTitle() ?>
							<?php endif; ?>
						</h3>
						<?php echo trim($this->processedHtml($_image->getHtml())) ?>
					</div>
				<?php endforeach; ?>
			</div>
			<?php if ($this->getShowNavigation()): ?>
				<div class="owl-nav">
					<a onclick=" <?php echo $_scriptVarName ?>.trigger('prev.owl.carousel');" href="javascript: void(0);"  class="owl-prev"></a>
					<a onclick=" <?php echo $_scriptVarName ?>.trigger('next.owl.carousel');" href="javascript: void(0);" class="owl-next"></a>
				</div>
			<?php endif; ?>
		</div>
		<script type="text/javascript">
			require(["jquery","hw_gallery/owl_carousel"], function($){
				<?php echo $_scriptVarName ?> = $('.widget-image-gallery-<?php echo $this->getInstanceNumber() ?> .owl-carousel').owlCarousel({
					loop:true,
					nav: <?php echo $this->getShowNavigation()?true:false; ?>,
//					stageElement: 'ul',
//					itemElement: 'li',
					margin:10,
					responsiveClass:true,
					responsive:{
						0:{
							items:2,
							loop: true,
						},
						420:{
							items:<?php echo ($_itemInRow < 2)?$_itemInRow:2 ?>,
							loop: true,
						},
						600:{
							items: <?php echo ($_itemInRow < 3)?$_itemInRow:3 ?>,
						},
						800:{
							items: <?php echo ($_itemInRow < 4)?$_itemInRow:4 ?>,
						},
						1000:{
							items:<?php echo $_itemInRow ?>,
							nav: <?php echo $this->getShowNavigation()?true:false; ?>,
							loop:false
						}
					}
				})
			})
		</script>
	</div>
<?php endif; ?>
