// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@import 'module/_mixins.less';
@import 'module/_listings.less';
@import 'module/_toolbar.less';

//
//  Variables
//  _____________________________________________

@product-info-price: @color-gray34;
@product-h1-margin-bottom-desktop: @indent__s + @indent__xs;
@product-price__muted__color: @product-listing-grey-text;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //  Category view
    .old-price,
    .old.price {
        .lib-css(color, @product-price__muted__color);
    }

    .prices-tier {
        .price-container {
            .price-including-tax {
                + .price-excluding-tax {
                    &:before {
                        content: '(' attr(data-label) ':';
                    }

                    &:last-child:after {
                        content: ')';
                    }
                }
            }

            .weee[data-label] {
                display: inline;

                &:before {
                    content: ' +' attr(data-label) ':';
                }
            }
        }
    }

    .actual-price {
        font-weight: @font-weight__bold;
    }

    .product.name a {
        &:extend(.abs-product-link all);
    }

    .special-price {
        .price-label {
            /**/
            //&:extend(.abs-visually-hidden all);
        }
    }

    .category-image {
        .image {
            display: block;
            height: auto;
            max-width: 100%;
        }
    }

    .category-cms,
    .category-image,
    .category-description {
        margin-bottom: @indent__base;
    }

    //
    // Product sales label
    //------------------------------------
    .product-item-photo, .product.media {
        position: relative;

        .sale-label {
            position: absolute;
            top: 0;
            z-index: 2;
            color: @color-white;
            display: block;
            .lib-font-size(12);
            text-transform: uppercase;
            padding: 2px @indent__s;
            font-weight: @font-weight__bold;
            //.lib-line-height(15);
        }

        .fixed-low-price {
            background: @color-orange;
            left: 0;
        }

        .new-product {
            right: 0;
            background: @color-green39;
        }
    }

    .product.media {

        .sale-label {
            .lib-font-size(16);
            padding: 5px 7%;
            top: 2%;
        }
    }

    //
    //  Product images general container
    //  -----------------------------------------

    .product-item-photo {
        position: relative;
        z-index: 1;
        display: block;
    }

    .product-image-container {
        display: inline-block;
        max-width: 100%;
    }

    .product-image-wrapper {
        display: block;
        height: 0;
        overflow: hidden;
        position: relative;
        z-index: 1;
    }

    .product-image-photo {
        bottom: 0;
        display: block;
        height: auto;
        left: 0;
        margin: auto;
        max-width: 100%;
        position: absolute;
        right: 0;
        top: 0;
    }

    //
    //  Product view
    //  -----------------------------------------

    .page-title-wrapper.product {
        border-bottom: 1px solid @color-gray-light5;
        .page-title {
            padding-right: 20px;
        }
    }

    .product.media {
        .product.photo .photo.image {
            &:extend(.abs-adaptive-images-centered);
        }

        .placeholder .photo.container {
            max-width: 100%;
        }

        .notice {
            margin: @indent__s 0;
            .lib-css(color, @text__color__muted);
            .lib-font-size(@font-size__s);
        }

        .product.thumbs {
            margin: @indent__s 0 @indent__m;
        }

        .items.thumbs {
            .lib-list-inline();
            > li {
                margin: 1rem 0 0;
            }

            img {
                display: block;
            }

            .active {
                display: block;
                line-height: 1;
            }
        }
    }

    .product.info.detailed {

        margin-bottom: 30px;
        //&:extend(.abs-add-clearfix all);

        .data.item.content {
            display: block !important;

            > div > strong.type {
                //.lib-css(font-family, @font-famile_Oswald);
                .lib-font-size(18);
                .lib-line-height(20);
                //border-bottom: 1px solid @color-gray-light5;
                margin-bottom: @indent__xs;
                //padding-bottom: @indent__xs;
                font-weight: @font-weight__bold;
                display: block;
                //text-transform: uppercase;
            }
        }

        .additional-attributes {
            width: 100%;
            .lib-css(background-color,@color-whiteF6);
            border: 1px solid @table__border-color;
            border-top: none;
            .lib-table-bordered(
                @_table_type:  horizontal,
                @_table_border-width: @table__border-width,
                @_table_border-style: @table__border-style,
                @_table_border-color: @table__border-color
            );
            .lib-table-resize(
                @_td-padding-top: @indent__s,
                @_td-padding-right: @indent__l,
                @_td-padding-bottom: @indent__s,
                @_td-padding-left: @indent__s,
                @_th-padding-top: @indent__s,
                @_th-padding-right: @indent__l,
                @_th-padding-bottom: @indent__s,
                @_th-padding-left: @indent__s
            );

            tbody {
                tr {
                    td {
                        background: @page__background-color;
                    }
                }
            }
        }

        #description, #additional {
            width: 100%;
            overflow: hidden;
        }
    }

    .product-info-main {

        border-bottom: 1px solid @color-gray-light5;
        border-top: 1px solid @color-gray-light5;
        padding-top: @indent__s;
        margin-top: @indent__s;

        .product-info-price {
            .lib-css(color, @product-info-price);
            clear: both;
            //display: table;
            //margin-bottom: @indent__s + @indent__xs;
            width: 100%;

            .price-box {
                //display: table;
                //vertical-align: top;
                //width: 1px;
                width: 100%;
                &:extend(.abs-add-clearfix all);

                .special-price, .old-price, .normal-price {
                    //display: table-cell;
                    //vertical-align: top;
                    float: left;
                }
				.old-price{
					clear:left;
				}
                .price-container {

                    .lib-font-size(30);
                    .lib-line-height(30);

                    .price {
                        .lib-font-size(30);
                        .lib-line-height(30);
						font-weight: @font-weight__bold;
                    }

                    > span {
                        display: block;
                        margin-bottom: @indent__xs;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }



                    .price-label {
                        .lib-font-size(11);
                        .lib-line-height(13);
                        text-transform: uppercase;
                    }

                    .price-excluding-tax {
                        .lib-font-size(30);
                        .lib-line-height(30);

                        .price {
                            .lib-font-size(30);
                            .lib-line-height(30);
                        }
                    }

                    .price-including-tax {
                        .lib-font-size(14);
                        .lib-line-height(16);

                        .price {
                            .lib-font-size(14);
                            .lib-line-height(16);
                        }
                    }

                    .price-excluding-tax {
                        .price {
                            font-weight: @font-weight__bold;
                        }
                    }

                    .price-including-tax {
                        &:after {
                            content: ' ' attr(data-label);
                            text-transform: lowercase;
                        }
                    }

                }
            }

            .price-including-tax + .price-excluding-tax,
            .weee + .price-excluding-tax,
            .weee {
                .lib-font-size(14);
                .price {
                    .lib-font-size(14);
                    font-weight: @font-weight__semibold;
                    line-height: 16px;
                }
            }

            .price-wrapper .price {
                .lib-font-size(22);
                font-weight: @font-weight__semibold;
                line-height: 22px;
            }

            .normal-price {
                margin-right: @indent__xl;
            }

            .old-price {
                //text-align: right;
                .price-wrapper .price {
                    //.lib-font-size(20);
                    //font-weight: @font-weight__light;
                    text-decoration: line-through;
                }
            }

            .special-price {
                margin-right: @indent__xl;
                .price-label {
                    &:after {
                        content: ': ';
                    }
                }
            }

            .price {
                white-space: nowrap;
            }
        }

        .product-info-stock-sku {
            margin-bottom: @indent__s;
            //padding-left: 10%;
            text-align: right;
            float: right;
            vertical-align: top;
            &:extend(.abs-add-clearfix all);
        }

        .stock {
            margin: 0 0 3px;

            &.available,
            &.unavailable {
                //display: none;
                //float: left;
                .lib-font-size(14);
                font-weight: @font-weight__bold;
                text-transform: uppercase;
            }
        }

        .availability {
            //float: left;
            font-weight: @font-weight__bold;
            .lib-font-size(14);
        }

        .product.attribute.sku {
            word-break: break-all;
            word-wrap: break-word;
            padding: 0;
            .lib-css(color,@product-listing-sku_color);
            .lib-font-size(13);
        }

        .product {
            &.attribute {
                &.sku {
                    .type {
                        //font-weight: normal;
                        margin-right: @indent__xs;
                        //text-transform: uppercase;
                        .lib-css(color,initial);
                        &:after {
                            content: '#:';
                        }
                    }

                    .value {
                        display: inline-block;
                    }
                }

                &.overview {
                    margin: 0 0 @indent__base 0;
                }
            }

            &.alert {
                margin: @indent__s 0;
            }
        }

        .product-add-form {
            clear: both;
            padding-top: @indent__s + @indent__xs;
        }

        .product-reviews-summary {
            float: left;

            .lib-rating-summary(
                @rating-icon__count,
                @rating-icon__content,
                @rating-icon__font,
                19px,
                @rating-icon__letter-spacing,
                @rating-icon__color,
                @rating-icon__active__color,
                @rating-label__hide
            )

        }

        .product-options-bottom {
            .box-tocart {
                margin-top: @form-field__vertical-indent;
                margin-bottom: 0;
                &:extend(.abs-add-clearfix all);
            }
        }
    }

    .product-options-wrapper {
		.fieldset > .field > .label {
			margin-bottom:3px;
		}
		.configurable .control{
			position: relative;
			&::before{
				display: block;
				height: 100%;
				border-left: 1px solid #999;
				z-index: 99;
				position: absolute;
				right: 33px;
				content: "";
				pointer-events: none;
			}
			&::after{
				content: "";
				position: absolute;
				right: 12px;
				top: 16px;
				border: 5px solid transparent;					
				border-top-color: #999;
				pointer-events: none;
			}
			select{
				-webkit-appearance: none;
				-ms-appearance: none;
				-moz-appearance: none;
				appearance: none;
			}

		}
		select{
			height: 36px; 
		}
        .fieldset-product-options-inner {
            .legend {
                .lib-css(font-weight, @font-weight__semibold);
                .lib-font-size(14px);
                border: none;
                display: inline-block;
                float: none;
                margin: 0 0 8px;
                padding: 0;
            }

            //  Date & Time custom option (Affect Time that goes only after Date)
            input.datetime-picker {
                ~ select.datetime-picker {
                    margin-top: @indent__s;
                }
            }

            &.required,
            &._required {
                .legend {
                    &:after {
                        content: '*';
                        .lib-typography(
                        @_font-size: @form-field-label-asterisk__font-size,
                        @_color: @form-field-label-asterisk__color,
                        @_font-family: @form-field-label-asterisk__font-family,
                        @_font-weight: @form-field-label-asterisk__font-weight,
                        @_line-height: @form-field-label-asterisk__line-height,
                        @_font-style: @form-field-label-asterisk__font-style
                        );
                    }
                }
            }
        }

        .field {
            .note {
                display: block;
                .lib-css(margin-top, @indent__xs);
            }
        }
    }

    .product-options-bottom .price-box,
    .product-info-price .price-box {
        .lib-css(color, @product-info-price);
        //display: table-cell;
        clear: both;
        padding-bottom: @indent__s;
        vertical-align: top;

        .old-price {
            //font-size: 20px;
            //font-weight: @font-weight__light;

            .price-container > span {
                //display: inline-block;
            }
        }

        .price-container {
            > span {
                display: block;
                margin-bottom: @indent__xs;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .price {
                font-size: 22px;
                font-weight: @font-weight__semibold;
                line-height: 22px;
            }

            .price-including-tax + .price-excluding-tax,
            .weee + .price-excluding-tax,
            .weee {
                .lib-font-size(12);
                line-height: 14px;

                .price {
                    .lib-font-size(12);
                    font-weight: @font-weight__bold;
                }
            }
        }
    }

    .box-tocart {
        &:extend(.abs-box-tocart all);
        &:extend(.abs-add-clearfix all);

        margin-bottom: @indent__base;

        .field.qty {

            float: left;
            margin-bottom: 0;

            label.label {
                display: none;
            }

            .control {

                margin-bottom: @indent__base;
                margin-right: @indent__base;
                display: table;
                border: 1px solid @color-gray-light5;


                button, input {
                    line-height: @add_to_cart_increment_height;
                    height: @add_to_cart_increment_height;
                    //display: table-cell;
                    font-weight: @font-weight__bold;
                }

                button {
                    border-radius: 0;
                    background: transparent;
                    vertical-align: baseline;
                    border: none;
                    box-shadow: none;
                    padding-top: 0;
                    padding-bottom: 0;
                    color: @text__color;
                }

                input {
                    border: none;
                    border-right: 1px solid @color-gray-light5;
                    border-left: 1px solid @color-gray-light5;
                    vertical-align: top;
                    /*width: 80px;*/
                }

                div.mage-error {
                    position: absolute;
                }
            }
        }

        .input-text.qty {
            &:extend(.abs-input-qty all);
        }

        .actions {
        }

        .action.tocart {
            &:extend(.abs-button-l all);
            //&:extend(.abs-button-responsive all);
            text-transform: uppercase;
            &:not(:last-child) {
                margin-bottom: 15px;
            }
            float: right;
            vertical-align: top;
        }
    }

    .product-addto-links {
        display: inline;

        .action {
            margin-right: 5%;
        }
    }

    .product-social-links {
        //border-bottom: 1px solid @color-gray-light5;
        margin: 0 0 20px;
        padding: 0;
        text-align: center;

        .action {
            .lib-font-size(11);
        }

        .action.tocompare {
            &:extend(.abs-actions-addto all);
            .lib-font-size(11);
            .lib-icon-font-symbol(
                @_icon-font-content: @icon-compare-full,
                @_icon-font-position: before
            );
        }

        .shariff-postion.postion-below {
            border-top: 1px solid @color-gray-light5;
            padding: @indent__base 0;
            margin-top: @indent__base;
        }
    }

    .prices-tier {
        &:extend(.abs-reset-list all);
        //margin-bottom: @indent__s + @indent__xs;

        .item {
            margin-bottom: @indent__s;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .price-excluding-tax,
        .price-including-tax {
            display: inline-block;
        }
    }

    .minimal-price-link,
    .price-excluding-tax,
    .price-including-tax {
        display: block;
        white-space: nowrap;
    }

    .ui-dialog-titlebar-close {
        .lib-button-as-link();
    }

    //
    //  Sidebar product view
    //  -----------------------------------------

    .sidebar {
        .product-items {
            .product-item {
                margin-bottom: @indent__base;
                position: relative;
            }

            .product-item-info {
                position: relative;
                width: auto;

                .product-item-photo {
                    left: 0;
                    position: absolute;
                    top: 0;
                }
            }

            .product-item-name {
                margin-top: 0;
            }

            .product-item-details {
                margin: 0 0 0 85px;
            }

            .product-item-actions {
                display: block;
                margin-top: @indent__s;
            }

            .price-box {
                display: block;
                margin: 7px 0;
            }

            .text {
                margin-right: 8px;
            }

            .counter {
                .lib-css(color, @primary__color__lighter);
                font-size: 12px;
                white-space: nowrap;
            }

            .minilist {
                .price {
                    display: inline;
                    padding: 0;
                }

                .weee:before {
                    display: inline-block;
                }
            }

            .action {
                &.delete {
                    &:extend(.abs-remove-button-for-blocks all);
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }

        .action.tocart {
            border-radius: 0;
        }

        .subtitle {
            &:extend(.abs-no-display all);
        }

        //
        //  Product images only
        //  -------------------------------------

        .product-items-images {
            &:extend(.abs-add-clearfix all);
            margin-left: -@indent__xs;

            .product-item {
                &:extend(.abs-add-box-sizing all);
                float: left;
                padding-left: @indent__xs;
            }
        }

        //
        //  Product names only
        //  -------------------------------------

        .product-items-names {
            .product-item {
                margin-bottom: @indent__s;
            }

            .product-item-name {
                margin: 0;
                min-height: 0;
                .lib-font-size(12);
            }
        }
    }

    //
    //  Category page 1 column layout
    //  ---------------------------------------------

    .catalog-category-view.page-layout-1column {
        .column.main {
            min-height: inherit;
        }
    }
}

//
//  Mobile @screen__m
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .catalog-product-view {
        .column.main {
            //.lib-vendor-prefix-display(flex);
            //.lib-vendor-prefix-flex-direction(column);
        }

        .product.media {
            //.lib-vendor-prefix-order(-1);
        }
    }

    .product-info-wrapper {
        .product-info-main {
            .product-info-price {
                //display: flex;
                //flex-direction: column;

                .data-sheet-box {
                    order: 1;
                }

                .product-info-stock-sku {
                    order: 2;
                    padding-left: 0;
                    //float: right;

                    .stock {
                        //float: right;
                        margin-right: 0;
                        order: -1;
                    }
                }

                .price-box {
                    order: 3;
                    clear: none;
                }
            }
        }

        .product.data.items > .item.content {
            padding-left: @layout-column-product-page-padding__width;
            padding-right: @layout-column-product-page-padding__width;
        }
    }
}

//
//  Mobile @screen__s
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .product-social-links {
        .action.tocompare {
            display: none;
        }
    }

    .product-info-price {
        //margin: 0 -@indent__s 0;
        //width: ~'calc(100% + 2*@{indent__s})' !important;

        > *:first-child {
            padding-left: @indent__s;
        }

        > *:last-child {
            padding-right: @indent__s;
        }
    }

    .product.info.detailed {
        .additional-attributes-wrapper {
            &:extend(.abs-no-border-top all);
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    //.product-info-main {
        .page-title-wrapper {
            h1 {
                .lib-css(font-family, @font-famile_Oswald);
                .lib-font-size(34);
                //text-transform: uppercase;
                .lib-css(margin-bottom, @product-h1-margin-bottom-desktop);
            }

            //border-bottom: 1px solid @color-gray-light5;
            margin-bottom: @indent__xs;
        }

        .product-add-form {
            padding-top: @indent__base;
        }
    //}

    .box-tocart {
        .action.tocart {
            margin-bottom: 0;
            //margin-right: 1%;
            width: 49%;
        }
    }

    .product-social-links {
        /*text-align: left;*/
    }

    .product-options-bottom,
    .product-info-price {
        .price-box {
            .price-container {

            }

            .price-excluding-tax {

            }

            .price-including-tax {

            }

            .price-including-tax + .price-excluding-tax {
                .price {
                    .lib-font-size(14);
                    line-height: 16px;
                }
            }
        }
    }

    //
    //  Category page layout
    //  -----------------------------------------

    .page-title-wrapper.product {

    }

    .product.media {
        float: left;
        margin-bottom: @indent__m;
    }

    .product-info-wrapper {

        .page-title-wrapper.product {
            float: left;
        }

        .product-info-main{
            border-top: none;
            border-bottom: none;
            padding-bottom: 0;
            margin-top: 0;
            float: left;
            padding-left: @layout-column-product-page-padding__width;
            padding-right: @layout-column-product-page-padding__width;
            .product_info_remove_border_on_padding_left(@layout-column-product-page-padding__width);
        }

        .product.info {
            float: left;
            padding-left: @layout-column-product-page-padding__width;
            padding-right: @layout-column-product-page-padding__width;
            .product_info_add_top_border()
        }
    }


    .page-layout-1column {


        .product.media {
            width: 50% - @page-layout-1column-product-info-block-paddind-width;
            margin-right: @page-layout-1column-product-info-block-paddind-width;
        }

        .product-info-wrapper {

            width: 100%; /*- @page-layout-1column-product-info-block-paddind-width*/;
            //margin-left: @page-layout-1column-product-info-block-paddind-width;

            .page-title-wrapper.product {
                width: 50%;
                padding-left: @layout-column-product-page-padding__width;
                margin-left: 0;
            }

            .product-info-main {
                width: 50%;
                //width: 33% - @page-layout-1column-product-info-block-paddind-width;
                //margin-left: @page-layout-1column-product-info-block-paddind-width;
            }

            .product.info, .product-info-main {
                width: 50%;
                &:nth-child(even){
                    .product_info_remove_border_on_padding_left(@layout-column-product-page-padding__width);
                }

                &:nth-child(odd){
                    .product_info_remove_border_on_padding_clean();
                }
                //width: 33% - @page-layout-1column-product-info-block-paddind-width;
                //margin-left: @page-layout-1column-product-info-block-paddind-width;
            }
        }

    }

    .page-layout-2columns-left,
    .page-layout-2columns-right,
    .page-layout-3columns {
        .product-info-main {
            width: 48%;
        }

        .product.media {
            width: 50%;
        }
    }

    .product-add-form {
        .product-options-wrapper {
            .field {
                .control {
                    width: 80%;
                }
            }
        }
    }

    .sidebar {
        .product-items {
            .product-item-info {
                .product-item-photo {
                    float: left;
                    left: auto;
                    margin: 0 @indent__s @indent__s 0;
                    position: relative;
                    top: auto;
                }
            }

            .product-item-details {
                margin: 0;
            }

            .product-item-actions {
                clear: left;
            }
        }
    }
}

//
//  Desktop large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .sidebar {
        .product-items {
            .product-item-info {
                .product-item-photo {
                    float: none;
                    left: 0;
                    margin: 0;
                    position: absolute;
                    top: 0;
                }
            }

            .product-item-details {
                margin-left: 85px;
            }
        }
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Compare Products Page
    //  -----------------------------------------

    body.catalog-product-compare-index {
        .action.print {
            float: right;
            margin: 15px 0;
        }
    }

    .table-wrapper.comparison {
        clear: both;
        max-width: 100%;
        overflow-x: auto;
        position: relative; // Needed for Safari(iOS) to properly render "overflow-x" rule.

        .table-comparison > tbody > tr {
            > th,
            > td {
                border-top: 0;
            }
        }
    }

    .table-comparison {
        table-layout: fixed;

        .cell {
            padding: 15px;
            width: 180px;

            &.label {
                border-right: @table__border-width @table__border-style @table__border-color;

                &.remove,
                &.product {
                    span {
                        &:extend(.abs-visually-hidden all);
                    }
                }

                .attribute.label {
                    display: block;
                    width: 100%;
                    word-wrap: break-word;
                }
            }

            &.product {
                &.info,
                &.label {
                    border-bottom: @table__border-width @table__border-style @table__border-color;
                }
            }

            &.attribute {
                .lib-font-size(13);

                img {
                    height: auto;
                    max-width: 100%;
                }
            }

            &.remove {
                padding-bottom: 0;
                padding-top: 0;
                text-align: right;

                .action.delete {
                    &:extend(.abs-remove-button-for-blocks all);
                    margin-right: .6rem;
                }
            }

            .attribute.value {
                overflow: hidden;
                width: 100%;
            }
        }

        td {
            &:last-child {
                border-right: @table__border-width @table__border-style @table__border-color;
            }
        }

        .product-item-photo {
            display: block;
            margin: 0 auto 15px;
        }

        .product-image-photo {
            margin-left: 0;
        }

        .product-item-actions,
        .price-box,
        .product.rating,
        .product-item-name {
            display: block;
            margin: 15px 0;
        }

        .product-addto-links {
            margin-top: 15px;

            .action {
                &.toggle {
                    padding: 0;
                }

                &.split,
                &.toggle {
                    .lib-button-s();
                }
            }
        }

        .action {
            &.tocart {
                white-space: nowrap;
            }
        }
    }

    .comparison.headings {
        .lib-css(background, @color-white);
        left: 0;
        position: absolute;
        top: 0;
        width: auto;
        z-index: 2;
    }

    .block-compare {
        .block-title {
            &:extend(.abs-block-widget-title all);
        }

        .product-item .product-item-name {
            margin-left: 22px;
        }

        .action.delete {
            &:extend(.abs-remove-button-for-blocks all);
            left: 0;
            position: absolute;
            top: 0;
        }

        .counter {
            &:extend(.abs-block-items-counter all);
        }

        .actions-toolbar {
            margin: 17px 0 0;
        }

        .action.primary {
            &:extend(.abs-revert-to-action-secondary all);
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .table-wrapper.comparison {
        .table-comparison > tbody > tr {
            > th,
            > td {
                display: table-cell;
                &:extend(.abs-col-no-prefix all);
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .compare.wrapper,
    [class*='block-compare'] {
        display: none;
    }
	
	.box-tocart .action.tocart {
		min-width:200px;
	}
	
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .compare.wrapper {
        float: right;
        .lib-list-reset-styles();

        .action.compare {
            line-height: @form-element-input__height;
            .lib-link(
                @_link-color: @primary__color,
                @_link-text-decoration: none,
                @_link-color-visited: @primary__color,
                @_link-text-decoration-visited: none,
                @_link-color-hover: @primary__color,
                @_link-text-decoration-hover: underline,
                @_link-color-active: @primary__color,
                @_link-text-decoration-active: underline
            );
        }

        .counter.qty {
            .lib-css(color, @primary__color__lighter);

            &:before {
                content: '(';
            }

            &:after {
                content: ')';
            }
        }
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .block {
        &.related, &.upsell {
            clear: both;
            .title {
                strong {
                    .lib-font-size(22);
                    .lib-line-height(22);
                    .lib-css(font-family, @font-famile_Oswald);
                    font-weight: @font-weight__regular;
                    text-transform: uppercase;
                }
            }
        }
    }

    .block.related {
        .action.select {
            &:extend(.abs-action-button-as-link all);
            vertical-align: top;
        }

        .product-item-details {
            position: relative;
            z-index: 1;
        }

        .related-available .product-item-name {
            /*margin-left: 20px;*/
        }

        .field.choice {
            left: 0;
            position: absolute;
            top: 2px;

            .label {
                &:extend(.abs-visually-hidden all);
            }
        }
    }
}

//
//  Desktop large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .box-tocart {
        .paypal:first-of-type {
            margin-top: 13px;
        }
    }

    //
    //  product page layout
    //  -----------------------------------------

    .page-title-wrapper.product {
        width: 66%;
        float: right;
        border-bottom: none;
    }

    .product.media {

    }

    .product-info-wrapper {
        float: right;
        &:extend(.abs-add-clearfix all);

        .product-info-main  {
            .product_info_add_top_border();
        }
    }

    .page-layout-1column {

        .product.media {
            width: 33% - @page-layout-1column-product-info-block-paddind-width;
        }

        .product-info-wrapper {
            width: 67% /*- @page-layout-1column-product-info-block-paddind-width*/;

            .page-title-wrapper.product {
                width: 100%;
            }

            .product.info, .product-info-main {
                &:nth-child(odd){
                    .product_info_remove_border_on_padding_left(@layout-column-product-page-padding__width);
                }
                &:nth-child(even){
                    .product_info_remove_border_on_padding_clean();
                }
            }
        }
    }
}
