<!--@subject Footer @-->
<!--@vars {
"var store.getFrontendName()":"Store Name"
} @-->

                    <!-- End Content -->
                    </td>
                </tr>
                <tr>
                    <td class="am-footer">
                        <table class="am-fullwidth am-footer-table">
                            <tbody>
                            <tr>
                                <td>
                                    <span class="am-unsubscribe">{{trans "If you don't want to receive<br/>
                                        this notifications, feel free to" |raw}} <a href="{{var urlmanager.unsubscribeUrl()}}"
                                                                            class="am-unsubscribe-link">{{trans "unsubscribe"}}</a></span>
                                </td>
                                <td class="am-bottom-logo-container">
                                    <img class="am-bottom-logo" src="{{var logo_url}}" alt="{{var logo_alt}}">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</center>
<!-- End wrapper table -->
</body>
