<!--@subject Footer @-->
<!--@vars {
"var store.getFrontendName()":"Store Name"
} @-->
<!-- End Content -->
                        </td>
                    </tr>
                    <tr>
                        <td class="footer">
                            <p class="closing">{{trans "Thank you, %store_name" store_name=$store.getFrontendName()}}!</p>
                            <a href="{{var urlmanager.unsubscribeUrl()}}" class="am-unsubscribe-link">{{trans "Unsubscribe"}}</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</center>
<!-- End wrapper table -->
</body>