//
//  One Step Checkout
//  ____________________________________________

//
//  Variables
//  _____________________________________________

@mobile-screen-width: 900px;
@icon-close-base64: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbD0ibm9uZSIgZD0iTS0xLTFoMTJ2MTJILTF6Ii8+PHBhdGggZmlsbD0iI2I1YjViNSIgY2xhc3M9ImFjdGl2ZS1wYXRoIiBkPSJNNiA1bDQtNC0xLTEtNCA0LTQtNC0xIDEgNCA0LTQgNCAxIDEgNC00IDQgNCAxLTEtNC00eiIgc3Ryb2tlPSJudWxsIi8+PC9zdmc+);
@checkout-tooltip-content-mobile__right: '';
@checkout-tooltip-content-mobile__top: '';

//
//  Common
//  ----------------------------------------------

& when (@media-common = true) {

    //Checkout Page
    .checkout-index-index.amasty-checkout-index-index {

		.billing-address-form{
			margin-top: 20px;
		}
	
        .header.content {
            text-align: center;

            .logo {
                float: none;
                img {
                    display: inline-block;
                }
            }
        }

        .authentication-wrapper {
            margin-right: 9px;
            float: left;
            text-align: left;
            margin-top: 0;
            max-width: 100%;
            width: auto;
            margin-left: 12px; //padding + border
            margin-bottom: @indent__s;

            .authentication-title {
                span.title {
                    text-transform: uppercase;
                    font-weight: @font-weight__bold;
                    .lib-font-size(16);
                    .lib-line-height(18);
                    margin-right: @indent__base;
                }

                button.action {
                    background-color: #39b54a;
                    border-color: #39b54a;
                }
            }
        }

        .page-title-wrapper {
            display: none;
        }

        .checkout-header {
            & {
                margin: 12px 0 20px;
                padding: 0 9px;
            }

            .title {
                margin: 0 auto 7px;
            }

            .description {
                font-size: 18px;
            }
        }

        .opc-wrapper.am-opc-wrapper {
            & {
                float: none;
                .lib-vendor-prefix-display(flex);
                .lib-css(justify-content, space-between, 1);
                .lib-vendor-prefix-flex-direction(column);
                margin: 0;
                padding: 0;
                width: 100%;
            }

            &.layout-2-columns .checkout-column,
            &.layout-3-columns .checkout-column {
                width: 100%;
            }

            &.layout-3-columns .shipping-address-item {
                &:nth-child(3n + 1):before {
                    display: block;
                }

                &:nth-child(2n + 1):before {
                    display: none;
                }
            }

            &.layout-3-columns .shipping-address-item,
            &.layout-2-3-columns .shipping-address-item {
                & {
                    width: 50%;
                }

                &:only-child {
                    width: 100%;
                }
            }

            &.layout-3-columns .table-checkout-shipping-method,
            &.layout-2-3-columns .table-checkout-shipping-method {
                width: 100%;
                min-width: 0;
            }

            &:before {
                display: none;
            }

            .step-title, .opc-block-summary > .title {
                border-bottom: 0;
                .lib-font-size(@font-size__l);
                .lib-line-height(@font-size__l);
                font-weight: @font-weight__bold;
            }

            .step-content {
                margin: 0;

                #popup-map {
                    #map {
                        height: auto;
                    }
                }
            }

            .shipping-address {
                margin-bottom: 0;
            }

            .gls-additional-data-wrapper {
                button.showmap {
                  float: right;
                }
            }

            .table-checkout-shipping-method {
                tbody {
                    td {
                        border-top: none;
                    }
                }
            }

            .payment-method {
                & + .payment-method {
                    .payment-method-title {
                        border-top: 0;
                    }
                }
            }

            #shipping-method-buttons-container {
                display: none;
            }
            
            #checkout-payment-method-load {
                .actions-toolbar {
                    display: none;
                }

                .payment-method-billing-address .actions-toolbar {
                    display: block;
                }
            }

            #co-payment-form {
                .discount-code {
                    display: none;
                }

                .rewards-add {
                    display: none;
                }

                .gift-code {
                    display: none;
                }
            }

            .discount-code .payment-option-title {
                border: none;
                padding-left: 0;
            }

            .checkout-agreement {
                .lib-vendor-prefix-display(flex);
            }

            .checkout-agreement .action-show {
                text-align: left;
            }

            .payment-method-content,
            .payment-option-content {
                padding: 0 22px 0;
            }

            .payment-option-content {
                padding-bottom: @indent__s;
            }

            .payment-option-content .action-apply {
                margin-right: 0;
            }

            .payment-method-content .primary {
                padding-right: 0;
            }

            .checkout-block > li {
                list-style-type: none;
            }
        }

        .checkout-block {
            margin: 10px 0 10px;
            padding: 12px;
            border: 2px solid #d7d7d7;
			position:relative;
            //background: white;
            //box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.15);
            .lib-css(transition, box-shadow .5s, 1);
            &:hover {
                //box-shadow: 0 1px 4px 1px rgba(25, 121, 195, 0.45);
            }
        }

        #checkout.am-checkout {
            margin: 20px 0;
            padding: 0;
            //background: #eaeaea;

            .back-to-cart {
                float: right;
                margin: @indent__s 12px;
            }

            .opc-estimated-wrapper {
                float: right;
                border-bottom: none;
                border-top: none;
				display:none;
            }

            .messages {
                clear: both;
            }
        }

        .opc-block-summary {
            & {
                margin: -24px -12px 0;
                padding: 24px 12px 0;
                background: transparent;
            }

            .block.items-in-cart {
                margin-bottom: 0;
            }

            .table-totals {
                border-top: none;
            }

            .minicart-items-wrapper {
                margin: 0;
            }
        }

        .additional-options {
            & {
                //margin: 24px 7px 12px;
            }

            & .checkout-agreements {
                & .action-show {
                    line-height: 1.42857143;
                    padding: 0;
                    color: #006bb4;
                    text-decoration: none;
                    background: none;
                    border: 0;
                    display: inline;
                    font-weight: 400;
                    border-radius: 0;
                    cursor: pointer;
                }

                & .action-show:not(:focus) {
                    box-shadow: none;
                }
            }

            .field {
                //margin-top: 7px;
                margin-bottom: @indent__s;
				&.amcheckout-comment{
					margin-top: @indent__s;
					label{
						margin-bottom: 10px;
						display: block;
					}
				}
            }
			
			
        }

        .am-gift-message {
            .edit-link {
                display: none;
                color: #1979c3;
                cursor: pointer;
            }

            &.checked .edit-link {
                display: inline;
            }
        }

        .amcheckout-delivery-date .field {
            & {
                float: left;
                padding-top: 4px;
                width: 100%;
                box-sizing: border-box;
            }

            &.comment {
                width:100%;
            }

            &.datepicker,
            &.timepicker {
                .lib-vendor-prefix-display(flex);
                .lib-vendor-box-align(center);
                .lib-css(justify-content, space-between, 1);
            }

            &.datepicker .control,
            &.timepicker .control {
                .lib-css(flex, none, 1);
                width: 60%;
            }

            &.datepicker .control .ui-datepicker-trigger {
                margin-left: 7px;
            }

            .label {
                display: block;
                margin: 12px 0;
            }
        }

        .amcheckout-delivery-date .clearer {
            clear: both;
        }

        .amcheckout-delivery-date .field._required > .label:after {
            margin: 0 0 0 5px;
            font-size: 1.2rem;
            content: '*';
            color: #e02b27;
        }

        .opc-block-summary .minicart-items {
            input[type='number']::-webkit-inner-spin-button,
            input[type='number']::-webkit-outer-spin-button {
                -webkit-appearance: inner-spin-button !important;
            }

            input[type='number']:focus {
                -moz-appearance: spinner !important;
            }

            input.qty {
                width: 55px;
            }

            button {
                margin-top: 12px;
                float: right;
            }

            .delete {
                float: left;
                padding: 3px;
                width: 7px;
                height: 7px;
                border: 1px #b6b6b6 solid;
                .lib-css(background, @icon-close-base64 no-repeat center);
                background-size: 7px;
                cursor: pointer;
            }

            .product-item-details {
                padding-left: 118px;
            }

            .product-image-container {
                margin-left: 16px;
            }
        }

        @media (min-width: @mobile-screen-width) {
            .opc-wrapper.am-opc-wrapper {
                .lib-vendor-prefix-flex-direction(row);

                &.layout-2-columns .checkout-column {
                    width: 50%;
                }

                &.layout-3columns .checkout-column {
                    width: 33.3%;
                    &:nth-child(2) {
                        margin-left: @indent__l;
                        margin-right: @indent__l;
                    }
                }
            }
        }

        //Override PostNL styles - Begin
        #opc-shipping_method #checkout-shipping-method-load .table-checkout-shipping-method {
            & {
                max-width: 600px;
            }

            .col-price {
                min-width: unset;
            }
        }

        //Override PostNL styles - End
        .modal-popup:not(.agreements-modal):not(.popup-authentication) .modal-inner-wrap {
            right: 0;
            left: 0;
            width: 500px;
            margin-right: auto;
            margin-left: auto;
        }
    }

    .form.payments {
        .fieldset {
            .legend {
                display: none;
            }
        }
    }

    .checkout-payment-method .payment-methods {
        & {
            margin: 0;
        }

        .actions-toolbar .primary {
            padding: 14px 17px;
            font-size: 1.8rem;
            line-height: 2.2rem;
            float: none;
            width: 100%;
            text-transform: uppercase;
            font-family: 'Oswald', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: 400;
        }
    }

    .checkout-payment-method.submit .payment-methods {
        margin: 0;
    }

    .fieldset.address {
        margin: 0 -7px;

        & > .field {
            display: inline-block;
            padding: 0 7px;
            width: 100%;
            vertical-align: top;
            box-sizing: border-box;
        }
    }

    // Success Page
    .checkout-success .success-messages {
        margin-bottom: 40px;
        font-size: 1.8rem;
    }

    .account .column.main .order-details-items {
        & {
            margin-bottom: 0;
        }

        .order-items .data.table > tbody > tr:nth-child(even) > td {
            background: none;
        }
    }

    .page-main .block.block-order-details {
        & {
            margin-bottom: 25px;
        }

        .delivery {
            float: right;
            font-weight: bold;
        }

        .delivery .delivery-field {
            float: left;
            margin-left: 12px;
        }

        .order-date {
            padding-bottom: 25px;
            border-bottom: 1px solid #c6c6c6;
            font-size: 1.6rem;
        }
    }

    .page-main .block.block-order-details-comments {
        margin-bottom: 35px;
    }

    .page-main .block.block-order-details-view {
        & {
            margin-bottom: 10px;
        }

        &:nth-child(2) .block-title {
            display: none;
        }
    }

    #registration {
        position: relative;
        margin: 20px 0 25px;
        padding: 0 0 0 12px;
        width: 600px;
        border-left: 3px solid #f58c12;

        br {
            display: none;
        }

        form {
            position: absolute;
            top: 50%;
            right: 0;
            .lib-css(transform, translateY(-50%), 1);
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .checkout-index-index {
        .checkout-payment-method {
            .payment-option {
                .lib-css(margin, 0);

            }
        }

        #checkout.am-checkout {
            .back-to-cart {
                float: left;
                width: 100%;
            }
        }
    }
}

//
//  Tablet
//  ----------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .checkout-index-index .opc-wrapper.am-opc-wrapper .amcheckout-delivery-date .field {
        & {
            display: block;
            width: 50%;
        }

        &:nth-child(2n) {
            padding-left: 7px;
        }

        &.datepicker .control,
        &.timepicker .control,
        &.comment {
            width: 100%;
        }
    }
}

//
//  Desktop
//  ----------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .checkout-index-index .opc-wrapper.am-opc-wrapper .shipping-address-item {
        width: 50%;
    }
}

.complete.checkout-block::before {
    content: '\e610';
    font-family: luma-icons;
    position: absolute;
    right: 13px;
    top: 6px;
    color: #39b54a;
    font-size: 21px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    border: 2px solid #39b54a;
    text-align: center;
    border-radius: 40px;
}
.checkout-payment-method .payment-method-title{
	label, input[type="radio"]{
		cursor: pointer;
	}
}
#checkout-step-shipping_method .table-checkout-shipping-method{
	.col-method, .col-price, .col-carrier, input[type="radio"]{
		cursor: pointer;
	}
}

#shipping-new-address-form .switch{
	display: inline-block;	
	position:relative;	
	&:nth-child(2n) {
		margin-left: 30px;
	} 
	input{
		position:absolute;
		left: -1000px;
	}
	label{
		padding:10px;
		border:2px solid #bbb;
		border-radius:3px;
		background: #f9f9f9;
	}
	&.selected_type label{
		border-color:#70AD35;
		&::before {
			font-family: 'luma-icons';
			content: "\e60e";
			position: absolute;
			color: #70AD35;
			top: -17px;
			left: -6px;
			font-size: 17px;
			background: #fff;
			line-height: 1;
		}
	}
	
}
