<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php if ($detailedInfoGroup = $block->getGroupChildNames('detailed_info', 'getChildHtml')):?>
	<?php $layout = $block->getLayout(); ?>
	<?php foreach ($detailedInfoGroup as $name):?>
	<?php
		$html = $layout->renderElement($name);
		if (!trim($html)) {
			continue;
		}
	?>
	<div class="product info detailed">
        <div class="product data items">
                <?php
                    $alias = $layout->getElementAlias($name);
                    $label = $block->getChildData($alias, 'title');
                ?>

                <div class="data item content" id="<?= /* @escapeNotVerified */ $alias ?>" >
                    <?= /* @escapeNotVerified */ $html ?>
                </div>
        </div>
    </div>
	<?php endforeach;?>
<?php endif; ?>
