<p>Betala inom 14 dagar. Inga räntor eller avgifter när du betalar i tid.</p>
<p style="font-size: 14px;"><strong>Betala direkt</strong></p>
<p><strong>Kort eller bankkonto</strong><br><i>Med kort eller konto kan du betala dina köp snabbt, säkert och enkelt på tre olika sätt. Du kan ansluta både dina kort och bankkonton till Klarna när du ska betala något för första gången, eller göra det i förväg via vår app med hjälp av BankID. Klarna kommer ihåg dina uppgifter så att du kan handla och betala ännu smidigare nästa gång.</i></p>
<p><strong>Banköverföring<br><i>Betala med ditt bankkonto och godkänn köpet med BankID. Pengarna dras direkt utan någon registrering hos oss.</i></p>
<p><strong>Dras från bankkonto</strong><br><i>Pengarna dras från ditt anslutna konto inom två bankdagar efter behandlad/skickad order.</i></p>
<p><strong>Kort</strong><br><i>Betala med valfritt kort. Pengarna reserveras direkt på kortet i samband med köpet.</i></p>