    <script>
        require(['jquery'],
            function ($) {
				function doResize(e){
					if($('#description .value').height()>400){
						$('#description').addClass('see-more-enabled');
					}else{
						$('#description').removeClass('see-more-enabled');
					}
				}

				$('<div class="more-action"><a class="see-more" href="javascript:void(0);"><?php echo __('See more')?></a><a class="see-less" href="javascript:void(0);"  ><?php echo __('See less')?></a></div>').insertAfter('#description .description');

				
				$('#description .see-more, #description .see-less').on('click',function(){
					$('#description').toggleClass('see-more-expanded');
				});
				
				//doResize();
				$(window).on('resize',doResize);
            });
    </script>