<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/**
 * @var $block \Magento\OfflinePayments\Block\Info\Checkmo
 */
?>
<?= $block->escapeHtml($block->getMethod()->getTitle()) ?>
<?php if ($block->getInfo()->getAdditionalInformation()): ?>
    <?php if ($block->getPayableTo()): ?>
        <br /><?= $block->escapeHtml(__('Make Check payable to: %1', $block->getPayableTo())) ?>
    <?php endif; ?>
    <?php if ($block->getMailingAddress()): ?>
        <div class="checkmo-mailing-address">
            <?= /* @noEscape */ nl2br($block->escapeHtml($block->getMailingAddress())) ?>
        </div>
    <?php endif; ?>
<?php endif; ?>
