& when (@media-common = true) {

    .contact-page-wrapper {

        &:extend(.abs-add-clearfix all);
        margin-bottom: @indent__base;

        fieldset.fieldset {
            margin-bottom: @indent__s;
        }

        h4, legend.legend {
            text-transform: uppercase;
            .lib-font-size(16);
            font-weight: @font-weight__bold;
            padding-bottom: 0;
            margin-top: 0;
            margin-bottom: @indent__xs;
            border-bottom: none;
        }

        .form.contact {
            //max-width: 426px;
            border-bottom: 1px solid @color-gray-middle4;
            position: relative;
            margin-bottom: @indent__base;
            &:before {
                content: ' ';
                position: absolute;
                top: 0;
                right: -1px;
                width: 1px;
                height: 30px;
                .lib-css(background-color, @page__background-color);
            }
        }

        .details.contact {
            //max-width: 900px;

            .address-block {
                margin-bottom: @indent__base;
            }

            .address-collage {
                margin-bottom: @indent__base;

            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .contact-page-wrapper {

        .form.contact {
            margin-bottom: 0;
            float: left;
            width: 31%;
            padding-right: @indent__base;
            border-right: 1px solid @color-gray-middle4;
            border-bottom: none;
        }

        .details.contact {
            width: 69%;
            float: left;
            padding-left: @indent__base;
            border-left: 1px solid @color-gray-middle4;
            margin-left: -1px; //size of border

            .address-collage {
                float: right;
                max-width: 50%;
            }
        }


    }
}