& when (@media-common = true) { 
    //------------------------
    //link switcher
    //------------------------
    .wrapper-link-switcher {

        display: inline-block;
        margin-top: 9px /*@indent__xs*/;
        margin-bottom: @indent__xs;

        .current-website, .switch-action, .tax-mode {
            .lib-font-size(14);
        }

        .current-website {
            text-transform: uppercase;
            .lib-css(color,@color-orange);
            .lib-css(font-weight,@font-weight__bold);

            //display: block;
        }

        .tax-mode {
            text-transform: capitalize;

            &:before, &:after {
                content: ' - ';
            }
        }
    }
	
	.storeclass-businnes-dk .wrapper-link-switcher .current-website{
		.lib-css(color,#333);
	}

    //-------------------------
    //modal wrapper
    //-------------------------

    .modal-popup.hw_websiteswitcher {
        .modal-inner-wrap {
            max-width: 515px;			
        }
    }

    .hw_websiteswitcher-wrapper {
        text-align: center;

        .action.primary {
            .lib-font-size(16);
            font-family: @font-family__base;
            padding-left: @indent__l;
            padding-right: @indent__l;
            font-weight: @font-weight__bold;
            margin-bottom: @indent__xs;
        }
		.hw_websiteswitcher-note{
			margin-top: 15px;
		}
    }

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    //------------------------
    //link switcher
    //------------------------
    .wrapper-link-switcher {
        margin-left: 10%;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    //------------------------
    //link switcher
    //------------------------
    .wrapper-link-switcher {
        margin-left: 20px;

        .current-website {
            display: block;
            .lib-font-size(21);
            .lib-line-height(22);
        }

        .tax-mode {
            &:before {
                content: '';
            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @modal-popup-breakpoint-screen__m) {
  .modal-popup.hw_websiteswitcher {
      &.modal-slide {
          &._inner-scroll {
              .modal-inner-wrap {
                  min-height: 0;
              }
          }
      }
  }
}