<?php
/**
 * Created by PhpStorm.
 * User: Ilya
 * Date: 03.07.2018
 * Time: 17:14
 */
$_images        = $this->getImages();
?>

<?php if ($_images && $_images->getSize() >= 1): ?>
<div class="widget block block-hw-slideshow <?php echo $this->getCssClasses(); ?>" <?php if ($this->getCssRules()): ?>style="<?php echo $this->getCssRules(); ?>"<?php endif; ?>>
	<?php if ($this->getShowTitle()): ?>
		<div class="block-title">
			<strong><?php echo $this->getGallery()->getTitle()?></strong>
		</div>
	<?php endif; ?>

	<div class="slideshow-container-custom slideshow-container-<?php echo $this->getGallery()->getIdentifier()?> slideshow-container-<?php echo $this->getInstanceNumber() ?> ">
		<ul class="hw-slideshow">
			<?php foreach($_images as $_image): ?>
				<li>
					<img src="<?php echo $this->getImageUrl($_image->getFile()) ?>" title="<?php echo $_image->getTitle() ?>" alt="<?php echo $_image->getFile() ?>" />
					<?php // var_dump($_image->getData()) ?>
					<div class="slide-spots">
						<?php $_spotsArray = null; ?>
						<?php $_spotsArray = $_image->getSpot() ?>
						<?php if (is_array($_spotsArray)): ?>
							<?php foreach($_spotsArray as $_spot):?>
								<?php $spot_link = $this->getLink($_spot['link']); ?>
								<div class="content slider-spot <?php echo $_spot['css-class'];?>" style="min-width:<?php echo $_spot['width']?>px;min-height:<?php echo $_spot['height']?>px;top:<?php echo $_spot['top'] ?>px;left:<?php echo $_spot['left']?>px;position:absolute;">
									<?php if ($_spot['kind'] == 1): ?>
										<?php echo $this->processedHtml($_spot['html']);  ?>
									<?php else: ?>
										<?php if ($_spot['label']): ?>
											<?php echo $_spot['label'];?>
											<a href="<?php echo $spot_link;?>"><?php echo __('More') ?></a>
										<?php else: ?>
											<a href="<?php echo $spot_link;?>" style="position: absolute; left: 0; top: 0;width: 100%;height: 100%;"></a>
										<?php endif; ?>
									<?php endif; ?>
								</div>
							<?php endforeach;?>
						<?php endif; ?>
					</div>
				</li>
			<?php endforeach; ?>
		</ul>
		<?php if (count($_images) > 1): ?>
			<?php if ($this->getShowPager()): ?>
			<div class="hw-slideshow-pager">&nbsp;</div>
			<?php endif; ?>
			<?php if ($this->getShowNavigation()): ?>
			<span class="hw-slideshow-prev">&nbsp;</span>
			<span class="hw-slideshow-next">&nbsp;</span>
			<?php endif; ?>
		<?php endif; ?>
	</div>
</div>
	<script type="text/javascript">
		require(["jquery","hw_gallery/cycle2","hw_gallery/cycle2_swipe"], function($){
			function imgRealWidth(img) {
				var $img = $(img);
				if ($($img).prop('naturalWidth') == undefined) {
					var $tmpImg = $('<img/>').attr('src', $img.attr('src'));
					$img.prop('naturalWidth', $tmpImg[0].width);
				}
				return $img.prop('naturalWidth');
			}

			function resizeSlider<?php echo $this->getInstanceNumber()?>(){
				$('.slideshow-container-<?php echo $this->getInstanceNumber()?> .hw-slideshow li').each(function(){
					if($(this).find('.slide-spots')){
						image=$(this).find('img').first();
						scale=$(image).width()/imgRealWidth(image);
						$(this).find('.slide-spots').width(imgRealWidth(image));
						$(this).find('.slide-spots').css('transform','scale('+scale+')');
					}
				});
			}

			$(document).ready(function () {
				$('.slideshow-container-<?php echo $this->getInstanceNumber()?> .hw-slideshow')
					.cycle({
						slides: '> li',
						<?php if ($this->getShowPager()): ?>
						pager: '.slideshow-container-<?php echo $this->getInstanceNumber()?> .hw-slideshow-pager',
						pagerTemplate: '<span class="pager-box"></span>',
						<?php endif; ?>
						timeout: <?php echo $this->getGallery()->getDuration()?$this->getGallery()->getDuration():'4000' ?>,
						speed: <?php echo $this->getGallery()->getFrequency()?$this->getGallery()->getFrequency():'600'?>,
						pauseOnHover: true,
						swipe: true,
						<?php if ($this->getShowNavigation()): ?>
						prev: '.slideshow-container-<?php echo $this->getInstanceNumber()?> .hw-slideshow-prev',
						next: '.slideshow-container-<?php echo $this->getInstanceNumber()?> .hw-slideshow-next',
						<?php endif; ?>
						fx: '<?php echo $this->getGallery()->getEffect()?$this->getGallery()->getEffect():'fade';?>',
					});
				$('.slideshow-container-<?php echo $this->getInstanceNumber()?> .hw-slideshow').on( 'cycle-update-view', function( e, opts ) {
					resizeSlider<?php echo $this->getInstanceNumber()?>();
				});
				$(window).resize(resizeSlider<?php echo $this->getInstanceNumber()?>);
			});
		});
	</script>

<?php endif; ?>