<div class="field" data-bind="visible: 1 , attr: {'name': element.dataScope}" afterRender="change('1')">
    <div class="switch">
        <input type="radio" name="customer_type" id="radio-private" value="0"  data-bind="click: click">
        <label for="radio-private" data-bind="i18n: 'Private User'"></label>
    </div>
    <div class="switch">
        <input type="radio" name="customer_type" id="radio-business" value="1" checked="checked" data-bind="click: click">
        <label for="radio-business" data-bind="i18n: 'Business User'"></label>
    </div>
</div>
