<?php
/**
 * header
 *
 * @copyright Copyright © 2018 HeadWay. All rights reserved.
 * @author    ilya.kush@gmaul.com.com
 */
?>
<?php
/**
 * @var \HW\WebsiteSwitcher\Block\Link $block
 * @var \Magento\Framework\View\TemplateEngine\Php $this
 */

?>
<div data-bind="scope: 'hw_websiteswitcher_popup'" class="wrapper-link-switcher">
	<span class="current-website"><?= $block->getCurrentWebsiteName() ?></span>
	<span class="tax-mode"><?= $block->getAnotherWebsiteName() ?>, <?= __($block->getTaxMode()) ?></span>
	<a data-bind="click: openPopup" class="switch-action" <?= $block->getLinkAttributes() ?> ><?= $this->escapeHtml(__($block->getLabel())) ?> <span><?= $block->getAnotherWebsiteName() ?></span></a>
</div>