& when (@media-common = true) {
    .ves-menu {
        .ves-megamenu {
            .lib-css(background, @navigation__background);

            .nav-item {
                > a {
                    padding: 0 @indent__s;
                    position: relative;
                }
            }

            li {
                &.level0 {
                    > a {
                        color: @color-whiteEC;
                    }
                }
            }


            .dropdown-menu {
                .subgroup {
                    &:extend(.abs-add-clearfix all);
                    &.level1 {

                        > .submenu {
                            > .content-wrap {
                                > .megamenu-content {
                                    margin: 0 0 30px 0;
                                }
                            }
                        }

                        .subgroup {
                            background: red;
                        }

                        > a {
                            .lib-font-size(15);
                            .lib-css(font-family, @font-famile_Oswald);
                            letter-spacing: 0.8px;

                            > div.submenu.dropdown-mega {

                            }
                        }
                    }
                    a {
                        .lib-font-size(14);
                        padding: 0 20px;
                    }
                }
            }
        }
    }
}



//.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
@media screen and (min-width: 821px) {
  .ves-menu {
    .navigation {
      padding-left: 11px;
      padding-right: 16px;
    }
  }

  //.ves-megamenu {
  //    .mega-col {
  //        .subgroup {
  //            min-height: 300px;
  //        }
  //    }
  //}
}


//.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
@media only screen and (max-width: 820px) {
    .ves-megamenu.nav-mobile {
        .lib-css(background-color, transparent);
        border-top: 1px solid @color-gray82;

        &.view-submenu {
            li {
                &.dropdown.submenu-left {
                    position: static !important;
                }
            }
        }

        li {
            border-bottom: 1px solid @color-gray82;

            &.level0 {
                > a {
                  color: @navigation-level0-item__color;
                }
            }
        }



    }
}