<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<div class="copyright">
    <div class="content">
        <?= $this->getChildhtml('footer-cc-logos'); ?>
        <?= $this->getChildhtml('footer-control-report-logo'); ?>
        <?php if (trim($block->getCopyright())): ?>
        <p class="copyright-value"><?= /* @escapeNotVerified */ $block->getCopyright() ?></p>
        <?php endif; ?>

    </div>
</div>

