<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * @var \Magento\Theme\Block\Html\Header $block
 */
$welcomeMessage = $block->getWelcome();
?>
<?php if ($block->getShowPart() == 'welcome') : ?>
    <li class="greet welcome" data-bind="scope: 'customer'">
        <!-- ko if: customer().fullname  -->

        <!-- start another way -->
         <p class = "custom_header_links">Welcome:
             <a href="<?php echo $block->getUrl(''); ?>customer/account">
            <span class="logged-in"
                      data-bind="text: new String('<?= $block->escapeHtml(__('%1!')) ?>').replace('%1', customer().fullname)" >
            </span>
            </a>
         </p>

        <!-- end another way -->

        <!-- /ko -->
        <!-- ko ifnot: customer().fullname  -->
        <span class="not-logged-in"
              data-bind='html:"<?= $block->escapeHtml($welcomeMessage) ?>"'></span>
        <?= $block->getBlockHtml('header.additional') ?>
        <!-- /ko -->
    </li>
    <script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "customer": {
                        "component": "Magento_Customer/js/view/customer"
                    }
                }
            }
        }
    }
    </script>
<?php elseif ($block->getShowPart() == 'other') :?>
    <?= $block->getChildHtml() ?>
<?php endif ?>


<!--<span class="logged-in"-->
<!--      data-bind="text: new String('--><?//= $block->escapeHtml(__('Welcome: %1!', '%1')) ?><!--').replace('%1', customer().fullname)">-->
<!--        </span>-->
