<ul <?php echo $this->hasCssClass() ?  ' class="' . $this->escapeHtml($this->getCssClass()).  '"' : '' ?>>
	<?php if ($this->getTitle()): ?>
	<li><h3><?php echo $this->getTitle() ?></h3></li>
	<?php endif; ?>

	<?php foreach ($this->getLinks() as $link) {
		echo $this->renderLink($link);
	}?>
</ul>