<?php
/**
 * Copyright (c) 2020. Volodymyr Hryvinskyi.  All rights reserved.
 * @author: <mailto:volodymyr@hryvinskyi.com>
 * @github: <https://github.com/hryvinskyi>
 */

/**
 * @var $block \Magento\Framework\View\Element\Template
 * @var $ratingDataViewModel \MageCloud\SeoRatingSnippet\ViewModel\RatingData
 * @var $offersViewModel \MageCloud\SeoRatingSnippet\ViewModel\Offers
 */

$helper = $this->helper("MageCloud\SeoRatingSnippet\Helper\Data");

$ratingDataViewModel = $block->getData('RatingDataViewModel');
$offersViewModel = $block->getData('OffersViewModel');

$pageTitle = $this->getLayout()->getBlock('page.main.title')
    ? trim($this->getLayout()->getBlock('page.main.title')->getPageTitle())
    : null;

$pageTitle = $pageTitle ?: $ratingDataViewModel->getPageTitle();
?>
<?php if ($ratingDataViewModel->isEnabled() && $ratingDataViewModel->isShowRating()): ?>
    <!-- Product Schema for category pages added by MageCloud-->
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Product",
        "name": "<?= $pageTitle ?>",
        <?php if (($offersViewModel->isCategoryPage()) && ($offersViewModel->getPriceRange()['min'] != 0)) : ?>
        "offers": {
            "@type": "AggregateOffer",
            "lowPrice": "<?= $offersViewModel->getPriceRange()['min'] ?>",
            "highPrice": "<?= $offersViewModel->getPriceRange()['max'] ?>",
            "priceCurrency": "<?= $offersViewModel->getPriceCurrency()?>",
            "offerCount": "<?= $offersViewModel->getProductCollection()->getSize() ?>"
        },
        <?php endif; ?>
        "aggregateRating":{
            "@type":"AggregateRating",
            "ratingValue": "<?= $ratingDataViewModel->getValue(); ?>",
            "reviewCount": "<?= $ratingDataViewModel->getCount(); ?>",
            "bestRating": "5"
        }
    }
</script>


<?php endif; ?>

<?php if ( (!$offersViewModel->isCategoryPage()) && ($helper->getBrandAttributeValue() != 0) ) : ?>
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Product",
        "name": "<?= $pageTitle ?>",
        "offers": {
            "@type": "AggregateOffer",
            "lowPrice": "<?= $offersViewModel->getPriceRangeAttribute()['min'] ?>",
            "highPrice": "<?= $offersViewModel->getPriceRangeAttribute()['max'] ?>",
            "priceCurrency": "<?= $offersViewModel->getPriceCurrency()?>",
            "offerCount": "<?= $offersViewModel->getProductCollectionAttribute()->getSize() ?>"
        },
        "aggregateRating":{
            "@type":"AggregateRating",
            "ratingValue": "<?= $ratingDataViewModel->getValue(); ?>",
            "reviewCount": "<?= $ratingDataViewModel->getCount(); ?>",
            "bestRating": "5"
        }
    }
</script>
<?php endif; ?>
