.gls-additional-data-wrapper {
    border: solid 2px #cccccc;
    padding: 15px;
    margin: 10px 0;
    box-sizing: border-box;
}
.gls-additional-data-wrapper h3 {
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
    font-size: 2.2rem;
    font-weight: 300;
}
.gls-additional-data-wrapper label {
    line-height: 2em;
}
.gls-additional-data-wrapper input, .gls-additional-data-wrapper select {
    margin-bottom: 10px;
}
.gls-additional-data-wrapper button.showmap {
    clear: both;
    display: none;
    margin-bottom: 10px;
}
.modal-popup.modal-slide .modal-footer .activeinfo {
    float: left;
    vertical-align: middle;
    text-align: left;
}
.modal-popup.modal-slide .modal-footer .activeinfo span {
    display: block;
}
.modal-popup.modal-slide .modal-footer .activeinfo span.headline {
    display: block;
    font-weight: bold;
}
@media all and (min-width: 768px) {
    .gls-additional-data-wrapper {
        max-width: 500px;
    }
}
@media only screen and (max-width: 771px) {
    .modal-popup.modal-slide .modal-footer button {
        float: right;
    }
}