<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Followup
 */
?>
<?php
    $quoteItems = $this->getItems();
?>
<?php
    foreach ($quoteItems as $_item){
        
        $_product = $this->loadProduct($_item);
        if ($_product) {
            $price = $this->getProductPrice($_product);
            $formatedPrice = $this->getFormatedProductPrice($price);

            $discountPrice = $this->getDiscountPrice($price);
            $showDiscount = $price != $discountPrice && $this->showDiscount();
            $showSpecialPrice = $this->showSpecialPrice();
?>
    <table class="product" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <?php if ($this->showImage()) {?>
                <?php $block->initProductImageHelper($_product, 'amasty_followup_item_list');?>
                <?php $_imageHelper = $block->getProductImageHelper();?>
             <td class="product-image" valign=top>
                <a href="<?php echo $this->getProductUrl($_product) ?>">
                    <img src="<?php echo $_imageHelper->getUrl()?>" alt="<?php echo $block->escapeHtml($_imageHelper->getLabel())?>" width="<?php echo $_imageHelper->getWidth()?>" height="<?php echo $_imageHelper->getHeight()?>"/>
                </a>
            </td> 
            <?php }?>
            <td class="product-text">
              <table>
                  <tr class="name font_16pt">
                      <td>
                        <a href="<?php echo $this->getProductUrl($_product) ?>" ><?php echo $this->escapeHtml($_product->getName()) ?></a>
                      </td>
                  </tr>

                  <tr class="description ">
                      <td>
                      <?php echo $this->getDescription($_product); ?>
                      </td>
                  </tr>

                  <tr class="product-price"><td>
                        <div style="<?php print $showDiscount ? "text-decoration: line-through;" : "";?>">
                        <?php if ($this->showPrice()) { ?>
                            <?php 

                                print __('Price:') ;

                                print "&nbsp;";

                                print $formatedPrice;

                                if ($_item->getQty() > 1){
                                    print '&nbsp;x&nbsp;'.floor($_item->getQty());
                                }
                        ?> 
                          </div>
                          <div>
                        <?php if ($showDiscount) {
                                print __('Discount Price').":" ;
                                print "&nbsp;";
                                print $this->formatPrice($discountPrice);
                                if ($_item->getQty() > 1){
                                    print '&nbsp;x&nbsp;'.floor($_item->getQty());
                                }
                            }
                        ?>
                          </div>
                          <div>
                          <?php if ($showSpecialPrice) {
                                print __('Special Price').":" ;
                                print "&nbsp;";
                                print $this->formatPrice($_product->getSpecialPrice());
                                if ($_item->getQty() > 1){
                                    print '&nbsp;x&nbsp;'.floor($_item->getQty());
                                }
                              if ($_product->getSpecialToDate()) {
                                  print '<div>';
                                  print __('Offer ends') . ' ' . $this->getDate($_product->getSpecialToDate(), false);
                                  print '</div>';
                              }

                            }
                        ?>
                          </div>
                        <?php }?>
                    </td></tr>
                </table> 
              </td>
          </tr>
        </table>
        <hr class="am-separator-old" />
 <?php 
        }
 }?>
 

