<div id="gls-parcelshop-block-wrapper" class="gls-additional-data-wrapper gls-parcelshop" data-bind="visible: selectedMethod() && selectedMethod().indexOf('gls_parcelshop') == 0 && selectedMethodIsAvailable()">
    <h3 data-bind="i18n: 'Choose ParcelShop'"></h3>
    <div data-bind="template: { name: 'gls-parcelshop-template', data: glsParcelShopData }"></div>
</div>
<div id="gls-private-block-wrapper" class="gls-additional-data-wrapper gls-private" data-bind="visible: selectedMethod() && selectedMethod().indexOf('gls_private') == 0">
    <h3 data-bind="i18n: 'Provide additional data for shipping'"></h3>
    <div data-bind="template: { name: 'gls-private-template', data: glsPrivateData }"></div>
</div>
<div id="gls-business-block-wrapper" class="gls-additional-data-wrapper gls-business" data-bind="visible: selectedMethod() && selectedMethod().indexOf('gls_business') == 0">
    <h3 data-bind="i18n: 'Provide additional data for shipping'"></h3>
    <div data-bind="template: { name: 'gls-business-template', data: glsBusinessData }"></div>
</div>
<script type="text/html" id="gls-private-template">
    <label for="gls-private-notification" data-bind="i18n: 'Enter mobile number for notification about the package'"></label>
    <input type="text" class="input-text" name="gls-private-notification" id="gls-private-notification" data-bind="text: privateNotification, textInput: privateNotification"/>
    <label for="gls-private-comment" data-bind="i18n: 'Specify where the package can be placed, if no one is there to accept it.', visible: isDeposit"></label>
    <input type="text" class="input-text" name="gls-private-comment" id="gls-private-comment" data-bind="text: privateComment, textInput: privateComment, visible: isDeposit"/>
</script>
<script type="text/html" id="gls-business-template">
    <label for="gls-business-comment" data-bind="i18n: 'Specify where the package can be placed, if no one is there to accept it.'"></label>
    <input type="text" class="input-text" name="gls-business-comment" id="gls-business-comment" data-bind="text: businessComment, textInput: businessComment"/>
</script>
<script type="text/html" id="gls-parcelshop-template">
    <label for="gls-parcelshop-postcode" data-bind="i18n: 'Enter postcode to search for nearest ParcelShop'"></label>
    <input type="text" class="input-text" name="gls-parcelshop-postcode" id="gls-parcelshop-postcode" autocomplete="off" data-bind="text: postcode, textInput: postcode"/>
    <select name="gls-parcelshop-pickup-id" id="gls-parcelshop-pickup-id" data-bind="attr: {'class': 'select'}, foreach: availableParcelShops">
        <option data-bind="value: id, text: label, attr: {'data-city': city, 'data-postcode': postcode, 'data-street': street, 'data-company': company }"></option>
    </select>
    <button class="showmap" data-bind="click: showOnMap"><span data-bind="i18n: 'Show on map'"></span></button>
    <label for="gls-parcelshop-pickupname" data-bind="i18n: 'Name of person who will pick up the package'"></label>
    <input type="text" class="input-text" data-validate="{required:true}" name="gls-parcelshop-pickupname" id="gls-parcelshop-pickupname" data-bind="text: pickupname, textInput: pickupname"/>
    <label for="gls-parcelshop-notification" data-bind="i18n: 'Enter mobile number for notification about the package'"></label>
    <input type="text" class="input-text" name="gls-parcelshop-notification" id="gls-parcelshop-notification" data-bind="text: notification, textInput: notification"/>
</script>
<div id="gls-popup-map">
    <div id="gls-map"></div>
</div>
