// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@product-name-link__color: @text__color;
@product-name-link__color__active: @text__color;
@product-name-link__color__hover: @text__color;
@product-name-link__color__visited: @text__color;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: @link__hover__text-decoration;
@product-name-link__text-decoration__hover: @link__hover__text-decoration;
@product-name-link__text-decoration__visited: @link__hover__text-decoration;

@product-item__hover__background-color: @color-white;
@product-item__hover__box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, .3);

@product-price__muted__color: @color-gray77;


@protuct-item-name_min-height: 50px;
@product-item-info-side-padding: 5px;
//
//  Common
//  _____________________________________________

& when (@media-common = true) {


    .breadcrumbs {
        strong {
            font-weight: @font-weight__bold;
        }
    }



    //  Product Lists
    .products {
        margin: @indent__l 0;
    }

    .product {
        &-items {
            &:extend(.abs-reset-list all);
        }

        &-item {
            vertical-align: top;

            .products-grid & {
                display: inline-block;
                width: 100%/2;
				margin-bottom:@indent__l;
                //width: 100%;
            }

            &:extend(.abs-add-box-sizing all);

            &-name {
                &:extend(.abs-product-link all);
                -moz-hyphens: auto;
                -ms-hyphens: auto;
                -webkit-hyphens: auto;
                display: block;
                hyphens: auto;
                margin: @indent__xs 0;
                word-wrap: break-word;
                .lib-css(font-family, @font-famile_Oswald);
                .lib-font-size(18);
                min-height: @protuct-item-name_min-height;
                overflow: hidden;
            }

            &-info {
                max-width: 100%;
                width: 240px;
                padding-left: @product-item-info-side-padding;
                padding-right: @product-item-info-side-padding;

				.label-datablad-wrapper{
					&::after {
						content: ' ';
						display: table;
						width: 100%;
						height: 2px;
					}
					.data-sheet-box{
						float:right;
						margin:0;
					}
				}

                .product.attribute.sku {
                    .lib-font-size(12);
                    color: @product-listing-sku_color;
					text-transform:uppercase;					
                    strong.type {
                        font-weight: @font-weight__regular;
                    }

                    .type {

                        &:after {
                            content: ":";
                        }
                    }

                    .value {
                        text-transform: uppercase;
                        display: inline-block;
                    }

                }

                .page-products & {
                    width: 240px;
                }
            }

            &-actions {
                //display: none;

                .actions-secondary {
                    > button.action {
                        .lib-button-reset();
                    }

                    > .action {
                        &:extend(.abs-actions-addto all);
                        &:before {
                            margin: 0;
                        }

                        span {
							height: auto;
							overflow: unset;
							position: unset;
							width: auto;
							margin: unset;
                            //&:extend(.abs-visually-hidden all);
                            //.lib-css(color,);
                        }
                    }
                }
            }

            &-description {
                margin: @indent__m 0;
            }

            .product-reviews-summary {
                margin-bottom: @indent__xs;
                display: inline-block;
                .rating-summary {
                    margin: 0 4px 0 0;
                }

                .reviews-actions {
                    font-size: @font-size__s;
                    margin-top: 5px;
                    text-transform: lowercase;
                    //display: none;
                    .lib-text-hide();
                }
            }

            .review-availability {
                &:extend(.abs-add-clearfix all);
            }

            .availability {
              .lib-font-size(12);
              .lib-line-height(23);
              float: right;
              //font-weight: @font-weight__bold;
              color: @product-listing-availability_color;

              &.available, &.unavailable {
                  font-weight: @font-weight__regular;

                  .items-label {
                      display: none;
                  }
              }
            }

            .price-box {
                margin: @indent__xs 0;
                text-align: right;
				position:relative;
                //height: 60px;

                .price {
                    font-weight: 600;
                    white-space: nowrap;
                }

                .special-price, .old-price/*, .normal-price */{
                    .price-container {
                        margin-bottom: 0;
						overflow: auto;
                    }
					&::before{
					
					}
                }

                .price-container {
                    display: block;
                    //margin-bottom: 30px;
                }

                .special-price, .normal-price {
                    .price-label {
                        &:after {
                            content:':';
                        }
                    }
					.price-including-tax{
						border-top: 1px solid #ddd;
						padding-top: 5px;
					}
                }
				.price-final_price{
					.price-including-tax{
						border-top: 1px solid #ddd;
						padding-top: 5px;
					}
				}
                .price-label {                    
					color:#757575;
                    .lib-font-size(10);
                    text-transform: uppercase;
                    text-align: right;
                    display: block;
                }

                .price-including-tax, .price-excluding-tax {
                    margin: 4px 0 24px;
                    text-align: right;
                    position: relative;
                    &:before {
                        content: attr(data-label) ' ';
                        .lib-font-size(13);
                        .lib-line-height(22);
                        color: @product-listing-grey-text;
                        position: absolute;
                        left: 0;
                        //text-transform: lowercase;
                    }
                }

                .price-excluding-tax {
                    .price {
                        .lib-font-size(17);
                    }
                }

                .price-including-tax {
                    .price {
                        .lib-font-size(17);
                    }
                }



                .old-price {
                    color: @product-listing-grey-text;
                    display: block;
                    /*todo: use if enabled both type price (tax including)
                    /*margin-top: -66px;*/



                    .price-label {
                        display: none;
                    }

                    .price-excluding-tax, .price-including-tax {
                        &:before {
                            display: none;
                        }
                    }

                    .price-excluding-tax {
						position: absolute;
						top: 37px;
						right: 0;
						margin: 0;
						.price {
                            .lib-font-size(13);
							color: #757575;            
							&::before{
								content: 'Før ';
							}
                        }
                    }

                    .price-including-tax {
                        margin: 0;
						position: absolute;
						top: 85px;
						right: 0;
						padding: 0;
						border-top: none;
                        .price {
							color:#757575;
                            .lib-font-size(13);                            
							&::before{
								content: 'Før ';
							}
                        }
                    }
                }
            }

            .old-price {
                margin: 0;
                .price {
                    font-weight: @font-weight__regular;
                }
            }

            .regular-price {
                .price-label {
                    display: none;
                }
            }

            .minimal-price {
                .price-container {
                    display: block;
                }
            }

            .minimal-price-link {
                margin-top: @indent__xs;
            }

            .price-from,
            .price-to {
                margin: 0;
            }

            .tocompare {
                .lib-icon-font-symbol(
                @icon-compare-full
                );
            }

            .tocart {
                //.lib-font-size(13px);
                .lib-font-size(15pt);
                border-radius: 0;
                line-height: 1;
                padding-bottom: @indent__s;
                padding-top: @indent__s;
                white-space: nowrap;
                width: 100%;
                text-transform: uppercase;
            }

            a.tocart {
              text-align: center;
              display: block;
              border-radius: 0;
            }
        }
    }

    .column.main {
        .product {
            &-items {
                margin-left: -@indent__base;
            }

            &-item {
                padding-left: @indent__base;
            }
        }
    }

    .price-container {
        .price {
            .lib-font-size(14);
        }

        .price-including-tax + .price-excluding-tax,
        .weee {
            margin-top: @indent__xs;
        }

        .price-including-tax + .price-excluding-tax,
        .weee,
        .price-including-tax + .price-excluding-tax .price,
        .weee .price,
        .weee + .price-excluding-tax:before,
        .weee + .price-excluding-tax .price {
            .lib-font-size(11);
        }

        .weee {
            &:before {
                content: '(' attr(data-label) ': ';
            }

            &:after {
                content: ')';
            }

            + .price-excluding-tax {
                &:before {
                    content: attr(data-label) ': ';
                }
            }
        }
    }

    .products-list {
        .product {
            &-item {
                display: table;
                width: 100%;

                &-name {
                    min-height: 0;
                }

                &-info {
                    display: table-row;
                }

                &-photo {
                    display: table-cell;
                    padding: 0 @indent__l @indent__l 0;
                    vertical-align: top;
                    width: 1%;
                }

                &-details {
                    display: table-cell;
                    vertical-align: top;
                }

                .price-box, .review-availability {
                    max-width: 300px;
                }



                &-actions {
                    .actions-primary {
                        width: auto;
                        display: table-cell;

                        & + .actions-secondary {
                            display: table-cell;
                            width: 50%;
                        }
                    }
                }
            }
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .products-list .product {
        &-item {
            table-layout: fixed;

            &-photo {
                padding: 0 @indent__s @indent__s 0;
                width: 30%;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .products-grid {
        .product-item {
            width: 100%;

            .product-item-info {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .product-item .price-box .price-excluding-tax .price {
        .lib-font-size(13);
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .product-item-info {
        .products-grid & {

            border: 1px solid transparent;

            &:hover,
            &.active {
                .lib-css(background, @product-item__hover__background-color);
                .lib-css(box-shadow, @product-item__hover__box-shadow);
                border: 1px solid @color-gray-light2;
                /*margin: -10px;*/
                /*padding: 9px;*/
                /*position: relative;*/
                z-index: 2;

                .product-item-inner {
                    display: block;
                }
                .sidebar & {
                    .product-item-photo {
                        top: 9px;
                        left: 9px;
                    }
                }
            }
        }
    }

    .product-item-inner {
        .products-grid & {
            //.lib-css(background, @product-item__hover__background-color);
            //.lib-css(box-shadow, @product-item__hover__box-shadow);
            //border: 1px solid @color-gray-light2;
            //border-top: none;
            //left: 0;
            //margin: 0 0 0 -1px;
            //padding: 0 @product-item-info-side-padding 9px;
            //position: absolute;
            //right: -1px;
            //z-index: 2;
        }
    }

    .product-item-actions {
        display: block;

        .products-grid & {
            //margin: -@indent__s 0 @indent__s;
            margin: 0 0 @indent__s;
        }

        .actions-primary + .actions-secondary {
            //display: table-cell;
            //padding-left: 10px;
            //width: 50%;
            margin-top: @indent__s;
            vertical-align: middle;

            > .action {
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .actions-primary {
            /*display: table-cell;*/
            width: 100%;
        }

        .actions-secondary {
            text-align: center;
        }
    }

    .page-products {
        .products-grid {
            .product-item-inner {
                &:before {
                    .lib-css(background, @product-item__hover__background-color);
                    content: '';
                    height: 3px;
                    left: 0;
                    position: absolute;
                    top: -2px;
                    width: 100%;
                    z-index: 1;
                }
            }
        }

        .product-item-actions {
            position: relative;
            z-index: 1;
        }
    }

    .products-grid {
        .product-item-info {
            &:not(:hover) {
                &:not(.active) {
                    .product-item-inner {
                        //&:extend(.abs-visually-hidden-desktop-s all);
                    }
                }
            }
        }
    }

    .products-grid {
        .product-item {
            margin-bottom: @indent__base;
            width: 100%/3;
        }
    }

    .page-products,
    .page-layout-1column,
    .page-layout-3columns,
    .page-products.page-layout-1column,
    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/3;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-products {
        .products-grid {
            .product-item {
                width: 100%/3;
            }
        }
    }

    .page-products.page-layout-1column {
        .products-grid {
            .product-item {
                width: 100%/4;
            }
        }
    }

    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/2;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {

    .products-grid {
        .product-item {
            width: 100%/5;
        }
    }

    .page-layout-1column {
        .products-grid {
            .product-item {
                width: 100%/6;
            }
        }
    }

    .page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/4;
            }
        }
    }

    .page-products {
        .products-grid {
            .product-items {
                margin: 0;
            }

            @_PI-wigth: 100%/5;


            .product-item {
                margin-left: calc(~'(100% - 5 * (100%/5.3)) / 4');
                padding: 0;
                //width: 24.439%;
                width: 100%/5.3;

                &:nth-child(5n + 1) {
                    margin-left: 0;
                }
            }
        }
    }

    .page-products {
        &.page-layout-1column {
            .products-grid {
                .product-item {
                    margin-left: 0;
                    width: 100%/5;
                }
            }
        }

        &.page-layout-3columns {
            .products-grid {
                .product-item {
                    margin-left: 1%;
                    width: 32.667%;

                    &:nth-child(3n) {
                        margin-left: 1%;
                    }

                    &:nth-child(3n + 1) {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
