.product_info_add_top_border(){
    padding-top: @indent__s;
    border-top: 1px solid @color-gray-light5;
}

.product_info_remove_border_on_padding(@_width, @_height: 1px){
    position: relative;
    &:before {
        content: ' ';
        width: @_width;
        height: @_height;
        display: block;
        background: @page__background-color;
        position: absolute;
        top: @_height * -1;
    }
}

.product_info_remove_border_on_padding_clean() {
    &:before {
        content: '';
        width: auto;
        height: auto;
        display: inherit;
        background: @page__background-color;
        top: auto;
    }
}

.product_info_remove_border_on_padding_left(@_width, @_height: 1px){
    .product_info_remove_border_on_padding(@_width, @_height);
    &:before {
        left: 0;
    }
}