.modal-popup.hw_websiteswitcher {
    .modal-inner-wrap {
        max-width: 515px;
    }
}

.hw_websiteswitcher-wrapper {
    text-align: center;
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @modal-popup-breakpoint-screen__m) {
  .modal-popup.hw_websiteswitcher {
      &.modal-slide {
          &._inner-scroll {
              .modal-inner-wrap {
                  min-height: 0;
              }
          }
      }
  }
}