& when (@media-common = true) {
    #shipping-new-address-form, #billing-new-address-form, #customer-email-fieldset {
        &.fieldset {
            div.field {

                &.choice {
                    label.label {
                        display: inline-block;
                    }
                }

                label.label {
                    display: none;
                }

                &._required {
                    .control {
                        input.input-text {
                            /*color: red;*/

                            &:placeholder-shown {
                                /*border-color: @form-field-label-asterisk__color;*/
                            }

                            &::placeholder {
                                color: @form-field-label-asterisk__color;
                            }

                            /* IE 10+ */
                            &:-ms-input-placeholder  {
                                color: @form-field-label-asterisk__color;
                            }

                            /* Chrome/Opera/Safari */
                            &::-webkit-input-placeholder {
                                color: @form-field-label-asterisk__color;
                            }

                            /* Firefox 19+ */
                            &::-moz-placeholder {
                                color: @form-field-label-asterisk__color;
                            }

                            /* Firefox 18- */
                            &:-moz-placeholder {
                                color: @form-field-label-asterisk__color;
                            }
                        }
                    }
                }
            }

            fieldset.field.street {
                legend.label {
                    display: none;
                }
                div.field {
                    &:first-child, &:nth-child(2) {
                        width: auto;
                    }
                }
            }
        }
    }

    #shipping-new-address-form, #billing-new-address-form {
        &.fieldset {
            div.field {
                &:nth-child(2) {
                    width: 49%;
                }

                &:nth-child(3) {
                    width: 51%;
                }
            }
        }
    }
}