<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Template for displaying new products widget
 *
 * @var $block \Magento\Catalog\Block\Product\Widget\NewWidget
 */
if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())) {
    $type = 'widget-new-grid';

    $mode = 'grid';

    $image = 'new_products_content_widget_grid';
    $title = __('New Products');
    $items = $block->getProductCollection()->getItems();

    $showWishlist = false;
    $showCompare = false;
    $showCart = true;
//    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    $description = false;

    $_scriptVarName = '$newGridCarousel'.$block->getNameInLayout();
    $this->setShowNavigation(true);
    $_helperNewLabel = $this->helper('Jyske\Theme\Helper\Newlabel');
}
?>

<?php if ($exist):?>
    <div class="block widget block-new-products <?= /* @escapeNotVerified */ $mode ?>">
        <div class="block-title">
            <strong role="heading" aria-level="2"><?= /* @escapeNotVerified */ $title ?></strong>
        </div>
        <div class="block-content" style="position: relative;">
            <?= /* @escapeNotVerified */ '<!-- ' . $image . '-->' ?>
            <div class="products-<?= /* @escapeNotVerified */ $mode ?> <?= /* @escapeNotVerified */ $mode ?>">
                <div class="product-items owl-carousel <?= /* @escapeNotVerified */ $type ?>">
                    <?php $iterator = 1; ?>
                    <?php foreach ($items as $_item): ?>
                        <?= /* @escapeNotVerified */ ($iterator++ == 1) ? '<div class="product-item item" style="width: 100%;">' : '</div><div class="product-item item" style="width: 100%;">' ?>
                        <div class="product-item-info">
                            <a href="<?= /* @escapeNotVerified */ $block->getProductUrl($_item) ?>" class="product-item-photo">
                                <?= $block->getImage($_item, $image)->toHtml() ?>
                                <?php if ($_helperNewLabel->isProductNew($_item)): ?>
                                    <span class="sale-label new-product"><?= /* @escapeNotVerified */ __('Newest') ?></span>
                                <?php endif; ?>
                                <?php if ($_item->getFixedLowPrice()): ?>
                                    <span class="sale-label fixed-low-price"><?= /* @escapeNotVerified */ __('Fixed Low Price') ?></span>
                                <?php endif; ?>
                            </a>
                            <div class="product-item-details">
                                <strong class="product-item-name">
                                    <a title="<?= $block->escapeHtml($_item->getName()) ?>"
                                       href="<?= /* @escapeNotVerified */ $block->getProductUrl($_item) ?>"
                                       class="product-item-link">
                                        <?= $block->escapeHtml($_item->getName()) ?>
                                    </a>
                                </strong>
                                <?php
                                    echo $this->getLayout()->createBlock('Magento\Framework\View\Element\Template')
                                        ->setTemplate("Magento_Catalog::product/view/attribute.phtml")
                                        ->setAtCall('getSku')
                                        ->setAtCode('sku')
                                        ->setCssClass('sku')
                                        ->setAtLabel('default')
                                        ->setAddAttribute('itemprop="sku"')
                                        ->setProduct($_item)
                                        ->toHtml();
                                ?>
                                <?php
                                echo $block->getProductPriceHtml($_item, $type);
                                ?>
								<div class="label-datablad-wrapper">
									<?php
									echo $this->getLayout()->createBlock('HW\EnergyConsume\Block\EnergyLabel')
										->setTemplate("HW_EnergyConsume::product/energyClass.phtml")
										->setProduct($_item)
										->toHtml();
									?>
									<?php
									echo $this->getLayout()->createBlock('Jyske\DatabladAttachment\Block\Catalog\Product\Button')
										->setTemplate("Jyske_DatabladAttachment::product/data-sheet.phtml")
										->setProduct($_item)
										->setCodeWord('datablad')
										->toHtml();
									?>
								</div>
                                <div class="review-availability">
                                    <?php if ($templateType): ?>
                                        <?= $block->getReviewsSummaryHtml($_item, $templateType, true) ?>
                                    <?php endif; ?>

                                    <?php
                                        echo $this->getLayout()->createBlock('Jyske\CatalogInventory\Block\Listing\DefaultStockqty')
    //                                        ->setTemplate('Magento_CatalogInventory::stockqty/default.phtml')
                                            ->setTemplate('Jyske_CatalogInventory::stockqty/default.phtml')
                                            ->setProduct($_item)
                                            ->toHtml();
                                    ?>
                                </div>
                                <?php if ($showWishlist || $showCompare || $showCart): ?>
                                    <div class="product-item-actions">
                                        <?php if ($showCart): ?>
                                            <div class="actions-primary">
                                                <?php if ($_item->isSaleable()): ?>
                                                    <a class="action primary tocart" href="<?= /* @escapeNotVerified */ $_item->getProductUrl() ?>" title="<?= $block->escapeHtml(__('Purchase')) ?>"><?= $block->escapeHtml(__('Purchase')) ?></a>
                                                <?php else: ?>
                                                    <?php if ($_item->getIsSalable()): ?>
                                                        <div class="stock available"><span><?= /* @escapeNotVerified */ __('In stock') ?></span></div>
                                                    <?php else: ?>
                                                        <div class="stock unavailable"><span><?= /* @escapeNotVerified */ __('Out of stock') ?></span></div>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                            </div>
                                        <?php endif; ?>
                                        <?php if ($showWishlist || $showCompare): ?>
                                            <div class="actions-secondary" data-role="add-to-links">
                                                <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                                                    <a href="#"
                                                       data-post='<?= /* @escapeNotVerified */ $block->getAddToWishlistParams($_item) ?>'
                                                       class="action towishlist" data-action="add-to-wishlist"
                                                       title="<?= /* @escapeNotVerified */ __('Add to Wish List') ?>">
                                                        <span><?= /* @escapeNotVerified */ __('Add to Wish List') ?></span>
                                                    </a>
                                                <?php endif; ?>
                                                <?php if ($block->getAddToCompareUrl() && $showCompare): ?>
                                                    <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
                                                    <a href="#" class="action tocompare"
                                                       data-post='<?= /* @escapeNotVerified */ $compareHelper->getPostDataParams($_item) ?>'
                                                       title="<?= /* @escapeNotVerified */ __('Add to Compare') ?>">
                                                        <span><?= /* @escapeNotVerified */ __('Add to Compare') ?></span>
                                                    </a>
                                                <?php endif; ?>
                                            </div>
                                        <?php endif; ?>
                                    </div>
                                <?php endif; ?>
                            </div>
                        </div>
                        <?= ($iterator == count($items)+1) ? '</div>' : '' ?>
                    <?php endforeach ?>
                </div>
            </div>
            <?= $block->getPagerHtml() ?>
            <?php if ($this->getShowNavigation()): ?>
                <div class="owl-nav">
                    <a onclick=" <?php echo $_scriptVarName ?>.trigger('prev.owl.carousel');" href="javascript: void(0);"  class="owl-prev"></a>
                    <a onclick=" <?php echo $_scriptVarName ?>.trigger('next.owl.carousel');" href="javascript: void(0);" class="owl-next"></a>
                </div>
            <?php endif; ?>
        </div>
    </div>
    <script type="text/javascript">
        require(["jquery","sameHeight","hw_gallery/owl_carousel"], function($){
			function InitOwlSlider(event){
				sameHeight('.products-grid .product-items .product-item','.review-availability', 0);
			}
            <?php echo $_scriptVarName ?> = $('.block-new-products .owl-carousel').owlCarousel({
                loop:true,
                nav: <?php echo $this->getShowNavigation()?true:false; ?>,
//					stageElement: 'ul',
//					itemElement: 'li',
                margin:0,
                responsiveClass:true,
                responsive:{
                    0:{
                        items:1,
                    },
                    480:{
                        items:2,
                    },
                    640:{
                        items:3,
                    },
                    1024:{
                        items:5,
                    },
                    1440:{
                        items:6,
                    },
				},
				onInitialized :function(){setTimeout(InitOwlSlider, 1000);},
				onResized  :InitOwlSlider                
            })
        })
    </script>
<?php endif;?>
