& when (@media-common = true) {
  .abs-field-tooltip {
    &:extend(.abs-add-box-sizing all);
    position: relative;

    input, select {
      .lib-css(margin-right, @indent__s);
      width: calc(~'100% -' @checkout-tooltip-icon__font-size + @indent__s + @indent__xs);
    }
  }
}