<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>

<!-- Use the websites logo  -->
<div class="wrapper-maintanence-side">
	<div class="information-maintanence-side">
		<div><img src="images/speed-farve.jpg" width="150px"></div>
		<h1>Shoppen opdateres</h1>
		<p>Webshoppen opdateres i øjeblikket. Vi forventer at vi er oppe at køre igen, inden for kort tid. I mellemtiden kan du kontakte os på: <a href="mailto:post@jyskestorkokken.dk">post@jyskestorkokken</a> eller <strong>8681 2627</strong></p>
		<p>Tak for din tålmodighed!</p>
		<!-- Use the websites logo  -->
		<div class="logo"><img src="images/logo.png"></div>
	</div>
</div>
