& when (@media-common = true) {
    .checkout-payment-method {
        .payment-method-content {
            .quickpay-cc-logos {
                width: 212px;
                height: 36px;
                background-image: url('@{baseDir}images/cc-logos-quickpay.png');
                background-position: left top;
                background-repeat: no-repeat;
            }
        }
    }
}