<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_helperNewLabel = $this->helper('Jyske\Theme\Helper\Newlabel');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?= /* @escapeNotVerified */ __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <?= $block->getToolbarHtml() ?>
    <?= $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
//        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="products wrapper <?= /* @escapeNotVerified */ $viewMode ?> products-<?= /* @escapeNotVerified */ $viewMode ?>">
        <?php $iterator = 1; ?>
        <ol class="products list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>
                <?= /* @escapeNotVerified */ ($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>
                <div class="product-item-info" data-container="product-grid">
                    <?php
                    $productImage = $block->getImage($_product, $image);
                    if ($pos != null) {
                        $position = ' style="left:' . $productImage->getWidth() . 'px;'
                            . 'top:' . $productImage->getHeight() . 'px;"';
                    }
                    ?>
                    <?php // Product Image ?>
                    <a href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
                        <?= $productImage->toHtml() ?>
                        <?php if ($_helperNewLabel->isProductNew($_product)): ?>
                            <span class="sale-label new-product"><?= /* @escapeNotVerified */ __('Newest') ?></span>
                        <?php endif; ?>
                        <?php if ($_product->getFixedLowPrice()): ?>
                            <span class="sale-label fixed-low-price"><?= /* @escapeNotVerified */ __('Fixed Low Price') ?></span>
                        <?php endif; ?>
                    </a>

                    <div class="product details product-item-details">
                        <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                        ?>
                        <strong class="product name product-item-name">
                            <a class="product-item-link"
                               href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>">
                                <?= /* @escapeNotVerified */ $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                            </a>
                        </strong>

                        <?php // Show SKU
                        echo $this->getLayout()->createBlock('Magento\Framework\View\Element\Template')
                            ->setTemplate("Magento_Catalog::product/view/attribute.phtml")
                            ->setAtCall('getSku')
                            ->setAtCode('sku')
                            ->setCssClass('sku')
                            ->setAtLabel('default')
                            ->setAddAttribute('itemprop="sku"')
                            ->setProduct($_product)
                            ->toHtml();
                        ?>
                        <?= /* @escapeNotVerified */ $block->getProductPrice($_product) ?>
						<div class="label-datablad-wrapper">
							<?php
							echo $this->getLayout()->createBlock('HW\EnergyConsume\Block\EnergyLabel')
								->setTemplate("HW_EnergyConsume::product/energyClass.phtml")
								->setProduct($_product)
								->toHtml();
							?>
							<?php
							echo $this->getLayout()->createBlock('Jyske\DatabladAttachment\Block\Catalog\Product\Button')
								->setTemplate("Jyske_DatabladAttachment::product/data-sheet.phtml")
								->setProduct($_product)
								->setCodeWord('datablad')
								->toHtml();
							?>
						</div>
                        <div class="review-availability">
                            <?= $block->getReviewsSummaryHtml($_product, $templateType, true) ?>

                            <?php // Sho stock qty
                                 ?>
                                 <?php  echo $this->getLayout()->createBlock('Jyske\CatalogInventory\Block\Listing\DefaultStockqty')
                                     //->setTemplate('Magento_CatalogInventory::stockqty/default.phtml')
                                     ->setTemplate('Jyske_CatalogInventory::stockqty/default.phtml')
                                     ->setProduct($_product)
                                     ->toHtml();
                                     ?>
                        </div>

                        <?= $block->getProductDetailsHtml($_product) ?>
                        <div class="product actions product-item-actions"<?= strpos($pos, $viewMode . '-actions') ? $position : '' ?>>
                            <div class="actions-primary"<?= strpos($pos, $viewMode . '-primary') ? $position : '' ?>>
                                <?php if ($_product->isSaleable()): ?>
                                    <a class="action primary tocart" href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>" title="<?= $block->escapeHtml(__('Purchase')) ?>"><?= $block->escapeHtml(__('Purchase')) ?></a>
                                <?php else: ?>
                                    <?php if ($_product->isAvailable()): ?>
                                        <div class="stock available"><span><?= /* @escapeNotVerified */ __('In stock') ?></span></div>
                                    <?php else: ?>
                                        <div class="stock unavailable"><span><?= /* @escapeNotVerified */ __('Out of stock') ?></span></div>
                                    <?php endif; ?>
                                <?php endif; ?>
                            </div>
                        </div>

                        <div class="product-item-inner">
                            <div class="product actions product-item-actions"<?= strpos($pos, $viewMode . '-actions') ? $position : '' ?>>
                                <div data-role="add-to-links" class="actions-secondary"<?= strpos($pos, $viewMode . '-secondary') ? $position : '' ?>>
                                    <?php if ($addToBlock = $block->getChildBlock('addto')): ?>
                                        <?= $addToBlock->setProduct($_product)->getChildHtml() ?>
                                    <?php endif; ?>
                                </div>
                            </div>
                            <?php if ($showDescription):?>
                                <div class="product description product-item-description">
                                    <?= /* @escapeNotVerified */ $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                                    <a href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>" title="<?= /* @escapeNotVerified */ $_productNameStripped ?>"
                                       class="action more"><?= /* @escapeNotVerified */ __('Learn More') ?></a>
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
                <?= ($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
            <?php endforeach; ?>
        </ol>
    </div>
    <?= $block->getToolbarHtml() ?>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {
                    "product_sku": "<?= /* @NoEscape */ $_product->getSku() ?>"
                }
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>
